{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-lg-3 border-end border-3">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar')) }}
            </div>
            <div class="col-lg-9">
                <div class="row p-0">
                    <div class="col-lg-12 p-0 border-messaging">
                        <h4 class="title_messagerie">MESSAGERIE</h4>
                    </div>
                </div>
                {% if messages is not empty %}
                    <div class="row">
                        <div class="col-lg-12 shadow bg-light">
                           <div class="header_messaging">
                            <table class="table table-striped col-lg-12">
                                <thead class="thead" >
                                    <tr class="tableFirst">
                                        <th scope="col" class="message_type">Type de message</th>
                                        <th scope="col" class="user_sender_message">Expéditeur</th>
                                        <th scope="col">Sujet</th>
                                        <th scope="col" class="date_message">Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if "ROLE_CANDIDATE" in app.user.roles %}
                                        {% for message in messages %}
                                            <tr>
                                                {% if app.user != message.userSender %}
                                                    {% if message.state is same as nonlu %}
                                                        {% if message.category is not empty %}
                                                            <th class="message_array_section category_message_section"><strong class="message_category note_learn">{{ message.category.name }}</strong></th>
                                                        {% endif %}
                                                        <td class="message_array_section user_sender_message_section"><a href="{{ path('show_recruiter_profil', {'id':message.userSender.id}) }}" class="link_messaging_page note_learn"><strong>{{ message.userSender.entityName }}</strong></a></td>
                                                        <td class="message_array_section"><a href="{{ path('read_message', {'id':message.id}) }}" class="link_messaging_page note_learn"><strong>{{ message.subject|capitalize }}</strong></a></td>
                                                        <td class="message_array_section date_message_section"><strong class="message_date note_learn">{{ message.createdAt|date("d/m/Y H
                                                        :m") }}</strong></td>
                                                        <td class="message_array_section options_message_section">
                                                            <a class="messageButton btn" href="{{ path('response', {'id':message.id}) }}">
                                                                <span title="Répondre au message">
                                                                    <img class="messageImgPencil" src="{{ asset('img/boostrap/pencil-fill-white.svg') }}"
                                                                        alt="response" title="Répondre au message"/>
                                                                </span>
                                                            </a>
                                                            <a class="messageButtonTrash col-lg-3 m-2 text-center btn align-self-center" href="{{ path('delete_message', {'id':message.id}) }}" role="button">
                                                                <span title="Effacer le message">
                                                                    <img class="messageImgageTrash"  src="{{ asset('img/boostrap/trash-fill-white.svg') }}"
                                                                        alt="delete message" title="Supprimer le message">
                                                                </span>
                                                            </a>
                                                        </td>
                                                    {% else %}
                                                        {% if message.category is not empty %}
                                                            <th class="message_array_section category_message_section"><strong class="message_category">{{ message.category.name }}</strong></th>
                                                        {% endif %}
                                                        <td class="message_array_section user_sender_message_section"><a href="{{ path('show_recruiter_profil', {'id':message.userSender.id}) }}" class="link_messaging_page">{{ message.userSender.entityName }}</a></td>
                                                        <td class="message_array_section"><a href="{{ path('read_message', {'id':message.id}) }}" class="link_messaging_page">{{ message.subject|capitalize }}</a></td>
                                                        <td class="message_array_section date_message_section"><strong class="message_date">{{ message.createdAt|date("d/m/Y H:m") }}</strong></td>
                                                        <td class="message_array_section options_message_section">
                                                            <a class="messageButton btn" href="{{ path('response', {'id':message.id}) }}">
                                                                <span title="Répondre au message">
                                                                    <img class="messageImgPencil" src="{{ asset('img/boostrap/pencil-fill-white.svg') }}"
                                                                        alt="response" title="Répondre au message"/>
                                                                </span>
                                                            </a>
                                                            <a class="messageButtonTrash col-lg-3 m-2 text-center btn align-self-center" href="{{ path('delete_message', {'id':message.id}) }}" role="button">
                                                                <span title="Effacer le message">
                                                                    <img class="messageImgageTrash"  src="{{ asset('img/boostrap/trash-fill-white.svg') }}"
                                                                        alt="delete message" title="Supprimer le message">
                                                                </span>
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% elseif "ROLE_RECRUITER" in app.user.roles %}
                                        {% for message in messages %}
                                            <tr class="container_message_info">
                                                {% if app.user != message.userSender %}
                                                    {% if message.state is same as nonlu %}
                                                        {% if message.category is not empty %}
                                                            <th class="message_array_section category_message_section"><strong class="message_category note_learn">{{ message.category.name }}</strong></th>
                                                        {% endif %}
                                                        <td class="message_array_section user_sender_message_section"><a href="{{ path('candidate_show', {'id':message.userSender.id}) }}" class="link_messaging_page note_learn"><strong>{{ message.userSender.firstName~ ' ' ~message.userSender.lastName }}</strong></a></td>
                                                        <td class="message_array_section"><a href="{{ path('read_message', {'id':message.id}) }}" class="link_messaging_page note_learn"><strong>{{ message.subject|capitalize }}</strong></a></td>
                                                        <td class="message_array_section date_message_section"><strong class="message_date note_learn">{{ message.createdAt|date("d/m/Y H:m") }}</strong></td>
                                                        <td class="message_array_section options_message_section">
                                                            <a class="messageButton btn" href="{{ path('response', {'id':message.id}) }}"
                                                                 role="button">
                                                                <span title="répondre au message">
                                                                    <img class="messageImgPencil" src="{{ asset('img/boostrap/pencil-fill-white.svg') }}"
                                                                    alt="message response" title="Répondre au message"/>
                                                                </span>
                                                            </a>
                                                            <a class="messageButtonTrash col-lg-3 m-2 text-center btn align-self-center" href="{{ path('delete_message', {'id':message.id}) }}" role="button">
                                                                <span title="Effacer le message">
                                                                    <img class="messageImgageTrash" src="{{ asset('img/boostrap/trash-fill-white.svg') }}"
                                                                    alt="delete message" title="Effacer le message"/>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    {% else %}
                                                        {% if message.category is not empty %}
                                                            <th class="message_array_section category_message_section"><strong class="message_category">{{ message.category.name }}</strong></th>
                                                        {% endif %}
                                                        <td class="message_array_section user_sender_message_section"><a href="{{ path('candidate_show', {'id':message.userSender.id}) }}" class="link_messaging_page">{{ message.userSender.firstName~ ' ' ~message.userSender.lastName }}</a></td>
                                                        <td class="message_array_section"><a href="{{ path('read_message', {'id':message.id}) }}" class="link_messaging_page">{{ message.subject|capitalize }}</a></td>
                                                        <td class="message_array_section date_message_section"><strong class="message_date">{{ message.createdAt|date("d/m/Y H:m") }}</strong></td>
                                                        <td class="message_array_section options_message_section">
                                                            <a class="messageButton btn" href="{{ path('response', {'id':message.id}) }}"
                                                                role="button">
                                                               <span title="Répondre au message">
                                                                   <img class="messageImgPencil" src="{{ asset('img/boostrap/pencil-fill-white.svg') }}"
                                                                   alt="message response" title="Répondre au message"/>
                                                               </span>
                                                            </a>
                                                            <a class="messageButtonTrash col-lg-3 m-2 text-center btn align-self-center" href="{{ path('delete_message', {'id':message.id}) }}" role="button">
                                                                <span title="Effacer le message">
                                                                    <img class="messageImgageTrash" src="{{ asset('img/boostrap/trash-fill-white.svg') }}"
                                                                    alt="delete message" title="Effacer le message">
                                                                </span>
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                           </div>
                        </div>
                    </div>
                {% else %}
                    <div class="container_empty_messages">
                        <div class="empty_messages">
                            <p>
                                Vous n'avez aucun message ici &#128533
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script>
        let btnDeleteMessage = document.querySelectorAll(".messageButtonTrash");
        btnDeleteMessage.forEach(element =>
            element.addEventListener('click', function (event){
                if(confirm("Souhaitez-vous vraiment supprimer ce message ?")){

                }else{
                    event.preventDefault();
                }
            })
        );
    </script>
{% endblock %}