{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/sendMessageApply.css') }}"/>
{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-lg-3 border-end border-3">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar')) }}
             </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-12 border-messaging header_title_send_message">
                        <h4>
                            <a href="{{ path('messaging') }}" class="link_main_messagerie">Messagerie</a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    {{ form_start(formMessage) }}
                    <div class="row">
                        <div class="send_message_options">
                            <div>
                                <a href="{{ path('messaging') }}" class="link_return_home_messagerie">
                                    <i class="fas fa-arrow-left"></i> RETOUR
                                </a>
                            </div>
                            <div>
                                <label class="btn btn_send_applie" for="formCv">Mon CV</label>
                                {{ form_row(formMessage.cvFile, { 'id': 'formCv'}) }}
                            </div>
                            <div>
                                <label class="btn btn_send_applie" for="formMedia">Lettre de motivation</label>
                                {{ form_row(formMessage.mediaFile, { 'id': 'formMedia'}) }}
                            </div>
                            <div>
                                <button type="submit" class="btn btn_send_applie">Envoyer</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="container_infos_applie">
                                <p>À : <strong>{{ jobOffer.entity.entityName }}</strong></p>
                                <p>Sujet : <strong>Candidature au poste de {{ jobOffer.title|capitalize }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div>
                                {{ form_row(formMessage.body) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(formMessage) }}
                </div>
            </div>
        </div>
{% endblock %}