{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/sendMessageApply.css') }}"/>
{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-lg-3 border-end border-3">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar')) }}
             </div>
            <div class="col-lg-9 ">
                <div class="row">
                    <div class="col-lg-12 border-messaging ">
                        <a class="link_messagerie_send" href="{{ path('messaging')}} "><h4>Messagerie {% if messageState != 0 %}({{ messageState }}){% endif %}</h4></a>
                    </div>
                    {{ form_start(formMessage) }}
                        <div class="row">
                            <div class="col-lg-12 border rounded-div border-2 p-3 m-4 gx-0 shadow bg-light">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <a href="{{ path('messaging') }}" class="col-lg-2 btnBackTo">
                                            <img alt="return_logo" title="Retour" class="messageImgPencil" src="{{ asset('img/boostrap/arrow-left.svg') }}"/>RETOUR</a>
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-3">
                                        <button type="submit" class="btn required btn_send_apply">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="btn buttonPj" for="formCv">Pièce jointe</label>
                                {{ form_row(formMessage.cvFile, { 'id': 'formCv'}) }}
                            </div>
                            <div class="col-lg-3">
                                <label class="btn buttonPj " for="formMedia">Autre pièce jointe</label>
                                {{ form_row(formMessage.mediaFile, { 'id': 'formMedia'}) }}
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-12 border rounded-div border-2 p-3 m-4 gx-0 shadow bg-light block_info_apply">
                                    <p class="apply_info">À : <strong>{{ jobOffer.entity.entityName }}</strong></p>
                                    <p class="apply_info">Sujet : <strong>Candidature au poste de {{ jobOffer.title }}</strong></p>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-lg-12 border rounded-div border-2 p-3 m-4 gx-0 shadow bg-light block_info_apply">
                                {{ form_row(formMessage.body) }}
                            </div>
                         </div>
                    {{ form_end(formMessage) }}
                </div>
            </div>
        </div>
{% endblock %}