{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}

{% block title %}Sowrs | Tableau de bord{% endblock %}

{% block body %}
    <div class="container-fluid gx-0">
        <div class="row gx-0">
            <div class="col-lg-3 border-end border-3">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar')) }}
            </div>
            <div class="col-lg-9">
                <div class="container">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {# ROLE CANDIDAT #}

                    {% if "ROLE_CANDIDATE" in app.user.roles %}
                        <div class="container mb-4 background-title">
                            <div class="row h-100">
                                <div class="col-sm-6 text-center align-self-center text-white">
                                    <h3 class="title-dashBord">Heureux de vous
                                        revoir<br>{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                                </div>
                                <div class="col-sm-6 text-center align-self-center">
                                    <button class="btn-title align-middle"> Voir votre profil</button>
                                </div>
                            </div>
                        </div>

                        {% if app.user.scoring%}
                            <div class="m-5">
                                <div class="row">
                                    <div class="col-lg-6 p-5">
                                        <h4 class="subtitle">Votre taux de sens !</h4>
                                        <div class="content-subtitle-sense position-absolute p-4">

                                            {% if app.user.scoring.dominantSens is same as 'social' %}
                                                <a href="{{ path('dash_board_entitySenseRate') }}">
                                                    <img class="img-fluid pe-5" src="{{ asset('img/social500.png') }}"
                                                         alt="sens-social">
                                                </a>
                                            {% elseif app.user.scoring.dominantSens is same as 'economique' %}
                                                <a href="{{ path('dash_board_entitySenseRate') }}">
                                                    <img class="img-fluid pe-5"
                                                         src="{{ asset('img/econonomie500.png') }}"
                                                         alt="sens-social">
                                                </a>
                                            {% elseif app.user.scoring.dominantSens is same as 'societal' %}
                                                <a href="{{ path('dash_board_entitySenseRate') }}">
                                                    <img class="img-fluid pe-5" src="{{ asset('img/societal500.png') }}"
                                                         alt="sens-social">
                                                </a>
                                            {% elseif app.user.scoring.dominantSens is same as 'environnemental' %}
                                                <a href="{{ path('dash_board_entitySenseRate') }}">
                                                    <img class="img-fluid pe-5"
                                                         src="{{ asset('img/environnemental500.png') }}"
                                                         alt="sens-social">
                                                </a>
                                            {% endif %}
                                            <p class="pourcent text-end">{{ app.user.scoring.dominantPourcent }}%</p>
                                            <div class="position-absolute bottom-0 start-0 m-3">
                                                <h4 class="align-bottom m-0">Vous avez un profil</h4>
                                                <h2 class="align-bottom m-0">{{ app.user.scoring.dominantSens }} !</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 p-5">
                                        <h4 class="subtitle">Vous avez manqué quoi ?</h4>
                                        <div class="content-subtitle-item">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="m-5">
                                <div class="row">
                                    <div class="col-lg-6 p-5">
                                        <h4 class="subtitle">Calcul du taux de sens !</h4>
                                        <a href="{{ path('dash_board_entitySenseRate') }}" class="#">
                                            <img class="img-fluid" id="img_calcul_taux_sens"
                                                 src="{{ asset('img/calcul-taux-sens.jpg') }}"
                                                 alt="calcul-taux-sens">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 p-5">
                                        <h4 class="subtitle">Vous avez manqué quoi ?</h4>
                                        <div class="content-subtitle-item">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {# ROLE RECRUTEUR #}

                    {% elseif "ROLE_RECRUITER" in app.user.roles %}
                        <div class="container mb-4 background-title">
                            <div class="row h-100">
                                <div class="col-sm-6 text-center align-self-center text-white">
                                    <h3 class="title-dashBord">Heureux de vous revoir {{ app.user.entityName }}</h3>
                                </div>
                                <div class="col-sm-6 text-center align-self-center">
                                    <a id="link_recruiter_profil" href="{{ path('recruiter_profil') }}" type="button" class="btn-title align-middle">Voir votre profil</a>
                                </div>
                            </div>
                        </div>
                        {% if app.user.scoring%}
                            <div class="m-5">
                                <div class="row">
                                    <div class="col-lg-6 p-5">
                                        <h4 class="subtitle">Votre taux de sens !</h4>
                                        <div class="content-subtitle-sense position-absolute p-4">

                                            {% if app.user.scoring.dominantSens is same as 'social' %}
                                                <a href="{{ path('dash_board_entitySenseRate') }}">
                                                    <img class="img-fluid pe-5" src="{{ asset('img/social500.png') }}"
                                                         alt="sens-social">
                                                </a>
                                            {% elseif app.user.scoring.dominantSens is same as 'economique' %}
                                                <a href="{{ path('dash_board_entitySenseRate') }}">
                                                    <img class="img-fluid pe-5"
                                                         src="{{ asset('img/econonomie500.png') }}"
                                                         alt="sens-social">
                                                </a>
                                            {% elseif app.user.scoring.dominantSens is same as 'societal' %}
                                                <a href="{{ path('dash_board_entitySenseRate') }}">
                                                    <img class="img-fluid pe-5" src="{{ asset('img/societal500.png') }}"
                                                         alt="sens-social">
                                                </a>
                                            {% elseif app.user.scoring.dominantSens is same as 'environnemental' %}
                                                <a href="{{ path('dash_board_entitySenseRate') }}">
                                                    <img class="img-fluid pe-5"
                                                         src="{{ asset('img/environnemental500.png') }}"
                                                         alt="sens-social">
                                                </a>
                                            {% endif %}
                                            <p class="pourcent text-end">{{ app.user.scoring.dominantPourcent }}%</p>
                                            <div class="position-absolute bottom-0 start-0 m-3">
                                                <h4 class="align-bottom m-0">Vous avez un profil</h4>
                                                <h2 class="align-bottom m-0">{{ app.user.scoring.dominantSens }} !</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 p-5">
                                        <h4 class="subtitle">Vous avez manqué quoi ?</h4>
                                        <div class="content-subtitle-item">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="m-5">
                                <div class="row">
                                    <div class="col-lg-6 p-5">
                                        <h4 class="subtitle">Calcul du taux de sens !</h4>
                                        <a href="{{ path('dash_board_entitySenseRate') }}" class="#">
                                            <img class="img-fluid" id="img_calcul_taux_sens"
                                                 src="{{ asset('img/calcul-taux-sens.jpg') }}"
                                                 alt="calcul-taux-sens">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 p-5">
                                        <h4 class="subtitle">Vous avez manqué quoi ?</h4>
                                        <div class="content-subtitle-item">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="m-5">
                            <div class="row">
                                <div class="col-lg-6 p-5">
                                    <div class="row mb-2">
                                        <div class="col-lg-6">
                                            <h4 class="subtitle m-0">Vos offres</h4>
                                        </div>
                                        <div class="col-lg-6 text-end">
                                            <button class="button-creerUne m-0">Créer une</button> {# todo : régler le bouton #}
                                        </div>
                                    </div>

                                    <div class="contenu-scroll content-subtitle-item">
                                        {% for jobOffer in jobOffers %}
                                            <div>
                                                {% include '/dash_board/jobOffer/_cardJobOfferDashBoard.html.twig' %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-6 p-5">
                                    <div class="row mb-2">
                                        <div class="col-lg-8">
                                            <h4 class="subtitle m-0">Candidatures reçues</h4>
                                        </div>
                                        <div class="col-lg-4 text-end">
                                            <button class="button-creerUne m-0">Voir tout</button> {# todo : régler le bouton #}
                                        </div>
                                    </div>
                                    <div class="content-subtitle-item">
                                        {% for jobOffer in jobOffers %}

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const elementFormPicture = document.getElementById('updateavatarform');
        const elementInputPicture = document.getElementById('dash_board_nav_pictureFile');
        const elementPhotoProfile = document.getElementById('photo_profile');

        elementInputPicture.addEventListener("change", function () {
            console.log("onchange");
            let formData = new FormData(elementFormPicture);
            fetch('{{ path('register_picture') }}', {method: 'POST', body: formData})
                .then(response => response.json())
                .then(response => {
                    console.log(response);
                    if (response.status === 400) {
                        alert('Le format');
                    } else {
                        alert('ok ça passe');
                    }
                    elementPhotoProfile.src = baseURL + '/images/profils/' + response.pictureName;
                }).catch(e => {
                alert('erreur de fichier');
            });
        });
        elementFormPicture.addEventListener("submit", function (e) {
            e.preventDefault();
            console.log("submit");

        });
    </script>

{% endblock %}