{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}

{% block title %}Sowrs | Mes informations{% endblock %}

{% block body %}
    <div class="container-fluid gx-0">
        <div class="row gx-0">
            <div class="col-lg-3 border-end border-3">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar')) }}
            </div>
            <div class="col-lg-9">
                {% if "ROLE_CANDIDATE" in app.user.roles %}
                    <div class="container mb-4 background-title">
                        <div class="row h-100">
                            <div class="col-sm-6 text-center align-self-center text-white">
                                <h3 class="title">QUI ETES VOUS ?</h3>
                            </div>
                            <div class="col-sm-6 text-center align-self-center">
                                <div class="error">
                                    {{ form_errors(formCv) }}
                                    {{ form_start(formCv, {'attr': {'id':'updatecvform', 'class':'d-none'}}) }}
                                    {{ form_widget(formCv) }}
                                    {{ form_end(formCv) }}
                                    <label for="create_cv_cvFile" class="btn required buttonDashBoardNav">Importer votre cv</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-5">
                        <div class="error">
                            {{ form_errors(modifyUserForm) }}
                        </div>
                        {{ form_start(modifyUserForm) }}

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.lastname) }}
                            </div>
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.firstname) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.email) }}
                            </div>
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.currentRole) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.phone) }}
                            </div>
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.department) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3 pt-3">
                                {{ form_row(modifyUserForm.socialNetwork.webSite) }}
                            </div>
                            <div class="col-sm-6 col-lg-3 pt-3">
                                {{ form_row(modifyUserForm.socialNetwork.linkedin) }}
                            </div>
                            <div class="col-sm-6 col-lg-3 pt-3">
                                {{ form_row(modifyUserForm.socialNetwork.stackOverflow) }}
                            </div>
                            <div class="col-sm-6 col-lg-3 pt-3">
                                {{ form_row(modifyUserForm.socialNetwork.github) }}
                            </div>
                        </div>


                        <h4 class="subtitle-myDetail mb-3 ms-3 me-3 mt-5">Vos études et expériences</h4>
                        <hr class="green-line m-3" size=3>

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.levelStudy) }}
                            </div>
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.businessProfile) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.levelExperience) }}
                            </div>
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.authorizedCountry) }}
                            </div>
                        </div>

                        <h4 class="subtitle-myDetail mb-3 ms-3 me-3 mt-5">Pour en savoir un peu plus sur vous...</h4>
                        <hr class="green-line m-3" size=3>

                        <div>
                            <p class="paragraph">Au delà de votre CV, les recruteurs aiment en savoir
                                plus sur les candidats. Prenez votre plus belle plume et présentez-vous en quelques
                                lignes !
                                Quel est votre parcours ? Quel sens voulez-vous donner à votre carrière ? Quelles
                                valeurs
                                sont essentielles à vos yeux ?</p>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.about, {'attr': {'class':'text-area'}}) }}
                            </div>
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.inspiration, {'attr': {'class':'text-area'}}) }}
                            </div>
                        </div>


                        {{ form_row(modifyUserForm.socialNetwork.facebook.setRendered()) }}
                        {{ form_row(modifyUserForm.socialNetwork.twitter.setRendered()) }}
                        {{ form_row(modifyUserForm.socialNetwork.skype.setRendered()) }}

                        <h4 class="subtitle-myDetail mb-3 ms-3 me-3 mt-5">Que recherchez-vous</h4>
                        <hr class="green-line m-3" size=3>

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.jobSearch.desiredRemuneration) }}
                            </div>
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.jobSearch.contractType) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.jobSearch.indemnity) }}
                            </div>
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.jobSearch.jobTitle) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.jobSearch.country) }}
                            </div>
                            <div class="col-sm-6 col-lg-6 pt-3">
                                {{ form_row(modifyUserForm.jobSearch.cause) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 pt-3">
                                {{ form_row(modifyUserForm.jobSearch.region) }}
                            </div>
                            <div class="col-sm-4 pt-3">
                                {{ form_row(modifyUserForm.jobSearch.department) }}
                            </div>
                            <div class="col-sm-4 pt-3">
                                {{ form_row(modifyUserForm.jobSearch.city) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pt-3 cause_choice">
                                {{ form_row(modifyUserForm.mainCause) }}
                            </div>
                            <div class="col-6 pt-3 cause_choice check_telecommute">
                                {{ form_row(modifyUserForm.jobSearch.telecommute) }}
                            </div>
                        </div>
                    </div>
                    <div class="row details_engagements_block_candidate_line">
                        <div id="details_engagements_block_candidate">
                            <div class="row">
                                <h4 class="subtitle-myDetail">Engagements quotidiens</h4>
                                <hr class="green-line m-3" size=3>
                            </div>
                            <div class="row">
                                <div class="container_commitments_options">
                                    <div class="col-lg-5 col-md-5 col-sm-12 block_commitment">
                                        <div class="block_new_commitment">
                                            <label for="commitment" class="commitment_label">Engagements</label>
                                            <input type="text" id="commitment" name="input_commitment" placeholder="Votre engagement">
                                            <label for="commitment_text" class="label_commitment">Détail</label>
                                            <textarea id="commitment_text" name="textarea_commitment" rows="5" cols="40" placeholder="Explication de votre engagement ici"></textarea>
                                            <button type="button" class="btn required btn_save_commitment">Ajouter</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 block_commitment">
                                        <table class="commitment_array">
                                            {% for commitment in app.user.commitments %}
                                                <tr>
                                                    <td>{{ commitment.title }}</td>
                                                    {% set title = commitment.title %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit"
                            class="btn btn-lg position-relative bottom-0 start-50 translate-middle-x mb-4">
                        Enregistrer
                    </button>
                    {{ form_end(modifyUserForm) }}
                    <div id="actions_mydetails">
                        <div class="row">
                            {# reset password with Reset Password Feature #}
                            <a href="{{ path('app_forgot_password_request') }}" class="col-6 link_action_mydetails">Réinitialiser le mot de passe</a>
                            {# Save change #}
                            {# delete the user account #}
                            <a href="{{ path('unsubscribe') }}" class="col-6 link_action_mydetails">Supprimer mon compte</a>
                        </div>
                    </div>

                {% elseif "ROLE_RECRUITER" in app.user.roles %}

                    <div class="container mb-4 background-title">
                        <div class="row h-100">
                            <div class="col-sm-6 text-center align-self-center text-white">
                                <h3 class="title ">Mes informations</h3>
                            </div>
                            <div class="col-sm-6 text-center align-self-center">
                                <button class="float-right btn btn-title btn-lg">Importer le logo de votre entité
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="m-5">
                        <div class="error">
                            {{ form_errors(modifyUserForm) }}
                        </div>
                        {{ form_start(modifyUserForm) }}
                        <div class="container_section">
                            <div class="row">
                                <h4 class="subtitle-myDetail">Vos informations</h4>
                                <hr class="green-line m-3" size=3>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.lastname) }}
                                </div>
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.firstname) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.email) }}
                                </div>
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.phone) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.function) }}
                                </div>
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.activityNumber) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.country) }}
                                </div>
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.city) }}
                                </div>
                            </div>
                            {% if app.user.CarbonFootPrintProofFilename %}
                                <div class="row">
                                    <a class="btn" id="download_actual_proof" href="{{ asset('uploads/carbonFootPrintProof/' ~ user.CarbonFootPrintProofFilename) }}">Votre justificatif actuel</a>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.entityName) }}
                                </div>
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.legalStatus) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.mainCause) }}
                                </div>
                                <div class="col-sm-6 col-lg-6 pt-3">
                                    {{ form_row(modifyUserForm.secondaryCauses) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 pt-3">
                                    {{ form_row(modifyUserForm.socialNetwork.webSite) }}
                                </div>
                                <div class="col-sm-3 pt-3">
                                    {{ form_row(modifyUserForm.socialNetwork.linkedin) }}
                                </div>
                                <div class="col-sm-3 pt-3">
                                    {{ form_row(modifyUserForm.socialNetwork.stackOverflow) }}
                                </div>
                                <div class="col-sm-3 pt-3">
                                    {{ form_row(modifyUserForm.socialNetwork.github) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 pt-5">
                                    {{ form_row(modifyUserForm.carbonFootPrint) }}
                                </div>
                                <div class="col-sm-6 col-lg-6 pt-5 container_input_file_proof">
                                    {# send the carbon footprint proof in PDF #}
                                    <div class="btn required">
                                        {{ form_row(modifyUserForm.carbonFootPrintProof) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container_section">
                                <div class="row">
                                    <h4 class="subtitle-myDetail">Pour en savoir un peu plus sur votre entité ...</h4>
                                    <hr class="green-line m-3" size=3>
                                </div>
                                <div class="row">
                                    <p class="about_information">
                                        Au-delà de vos opportunités, les candidats aiment en savoir plus sur votre
                                        organisation, ses valeurs et votre mission. Prenez votre plus belle plume
                                        et présentez votre entité en quelques lignes ! Comment est né votre projet ?
                                        Quelle est votre raison d’être ? Quels engagements prenez-vous ?
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 pt-3">
                                        {{ form_row(modifyUserForm.reasonToBe, {'attr':{'rows':'7'}}) }}
                                    </div>
                                    <div class="col-sm-6 col-lg-6 pt-3">
                                        {{ form_row(modifyUserForm.about, {'attr':{'rows':'7'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="details_engagements_block">
                                <div class="row">
                                    <h4 class="subtitle-myDetail">Engagements quotidiens</h4>
                                    <hr class="green-line m-3" size=3>
                                </div>
                                <div class="row">
                                    <div class="container_commitments_options">
                                        <div class="col-lg-5 col-md-5 col-sm-12 block_commitment">
                                            <div class="block_new_commitment">
                                                <label for="commitment" class="commitment_label">Engagements</label>
                                                <input type="text" id="commitment" name="input_commitment" placeholder="Votre engagement">
                                                <button type="button" class="btn required btn_save_commitment">Ajouter</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 block_commitment">
                                            <table class="commitment_array">
                                                {% for commitment in app.user.commitments %}
                                                    <tr>
                                                        <td>{{ commitment.title }}</td>
                                                        {% set title = commitment.title %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        {# AFFICHAGE DU MULTI SELECT RECONNAISSANCE #}
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="recognition_title">Reconnaissances et labels</h5>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="recognition_title">Mes reconnaissances</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="contenu-scroll col-sm-6 col-lg-6 p-0">
                                <ul class="list-group" id="listCauses">
                                    {% for cause in listcauses %}
                                        <li class="list-group-item" data-id="{{ cause.id }}"
                                            data-name="{{ cause.text }}">
                                            <button class="btn-recognition text-center">+</button>
                                            <span>{{ cause.text }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="contenu-scroll col-sm-6 col-lg-6 p-0">
                                <ul class="list-group" id="listCausesRecruiter">
                                    {% for recognition in recognitions %}
                                        <li class="list-group-item"
                                            data-id="{{ recognition.id }}"
                                            data-id-cause="{{ recognition.cause.id }}"
                                            data-name-cause="{{ recognition.cause.text }}">
                                            <button class="btn-recognition btn-sm">-</button>
                                            <span>{{ recognition.cause.text }}</span><br>
                                            <br>{{ recognition.description }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div id="actions_mydetails">
                            <div class="row">
                                {# Save change #}
                                <button type="submit" class="btn btn-lg long_btn col-4 col-sm-12">Enregistrer</button>
                            </div>
                            <div class="row">
                                {# reset password with Reset Password Feature #}
                                <a href="{{ path('app_forgot_password_request') }}" class="col-6 link_action_mydetails">Réinitialiser le mot de passe</a>
                                {# Save change #}
                                {# delete the user account #}
                                <a href="{{ path('unsubscribe') }}" class="col-6 link_action_mydetails">Supprimer mon compte</a>
                            </div>
                        </div>


                        {{ form_row(modifyUserForm.socialNetwork.facebook.setRendered()) }}
                        {{ form_row(modifyUserForm.socialNetwork.twitter.setRendered()) }}
                        {{ form_row(modifyUserForm.socialNetwork.skype.setRendered()) }}


                        {{ form_end(modifyUserForm) }}


                    <div id="formOne" class="position-relative m-4"
                         style="background: #FFFFFF; border: 1px solid darkgrey">
                        {{ form_start(recognitionForm) }}
                        {{ form_errors(recognitionForm) }}
                        <img src="{{ asset('img/boostrap/close.svg') }}" alt="fermer"
                             class="position-absolute top-0 end-0"
                             id="btnAnnulerAjoutCauseRecruiter">
                        <h6 id="nameForm">Cause : </h6>
                        {{ form_widget(recognitionForm) }}
                        <button class="btn" id="btnAjoutCauseRecruiter">Valider</button>

                        {{ form_end(recognitionForm) }}
                    </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>



        <script type="text/javascript">
            //double select pour causes secondaires
            $("select").select2();
        </script>

        <script>
            //----MUTLI SELECT RECONNAISSANCES

            // on mémorise le user connecté
            const recruiter = {{ app.user.id }};
            // variable pour la sélection de l'action de gauche
            let idCause = 0;
        </script>

        <script src="{{ asset('js/myDetails.js') }}"></script>

        <script>
            // for add a commitment to the actual user (recruiter)
            // cf to RecruiterController for backend
            const monBtn = $("button.btn_save_commitment");
            monBtn.on("click", function (){
                const maValeur = $("#commitment").val();
                const textareaValue = $("#commitment_text").val();
                fetch("{{ path('set_commitment') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        'commitment': maValeur,
                        'textareaValue': textareaValue
                    })
                })
                    .then(response => response.json())
                    .then(response => {
                        if (response.success) {
                            alert("L'engagement a été enregistré avec succés !")
                            $('input[name=input_commitment]').val(''); //empty the input for commitment
                            $('textarea[name=textarea_commitment]').val(''); //empty the input for commitment
                        } else {
                            alert("Merci d'indiquer l'engagement dans le champ pour pouvoir l'ajouter")
                        }
                    })
                    .catch(e => {
                        alert(e);
                    })
                ;
            })
        </script>


    {% endblock %}
