<h1>Hello {{ app.user.lastname }} {{ app.user.firstname }}</h1>

<p>Pour réinitialiser votre mot de passe, merci de suivre le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A tout de suite !</p>
