<div class="row">
    <div class="col-lg-2 m-1 ">
            {% if jobOffer.entity.picture %}
                {% if jobOffer.entity.picture.pictureName is same as '' %}
                    <img style="width: 100%" class="rounded-circle"
                         src="{{ asset('images/profils/avatar.jpg') }}"
                         alt="photo du profil">
                {% else %}
                    <img style="width: 100%" class="rounded-circle"
                         src="{{ asset('images/profils/' ~jobOffer.entity.picture.pictureName ) }}"
                         alt="photo du profil">
                {% endif %}
            {% else %}
                <img style="width: 100%" id="show_candidate_photo_profile" class="rounded-circle"
                     src="{{ asset('images/profils/avatar.jpg') }}"
                     alt="photo du profil">
            {% endif %}
    </div>
    <div class="col-lg-6 col-sm-8 col-xs-12 content-box align-self-center">
        <div class="jobOffer_text">
            <a href="{{ path('jobOffer_show', {'id':jobOffer.id}) }}">{{ jobOffer.title }}</a>

            <p>{{ jobOffer.entity.entityName| capitalize }}
                {% if jobOffer.entity.mainCause is not empty %}
                    - {{ jobOffer.entity.mainCause.text }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="col-lg-2 offset-lg-1 align-self-center">
        <div class="jobOffer_contract_type">
            <button class="btn btn-lg btn-block btn-disable-hover btn_contract_type">{{ jobOffer.contractType.wording }}
            </button>
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a type="btn required" style=" width: 225px;border-radius: 50px;background-color: #b9bbbe; border: none;text-decoration: none;padding: 10px; font-size: larger;color: white; margin: auto;" href="{{ path('apply', {'id': jobOffer.id}) }}">Postuler à cette offre</a>
        {% if jobOffer.favorite|length >=1 %}
           {% for fav in jobOffer.favorite %}
               {% if jobOffer.id == fav.jobOffer.id %}
                   <span title="Retirer des favoris" class="">
                    <a href="{{ path('remove_favorite_offer',  {'id': fav.id  }) }}" >
                        <img class="favorite" src="{{ asset('img/suit-heart-fill.svg') }}"/>
                    </a>
                 </span>
               {% endif %}
           {% endfor %}
       {%else%}
           <span title="Ajouter aux favoris">
                <a href="{{ path('add_favorite_offer',{'id': jobOffer.id  }) }}">
                    <img class="favorite" src="{{ asset('img/suit-heart.svg') }}"/>
                 </a>
           </span>
       {% endif %}
    {% endif %}


</div>