<div class="row">
    <div class="col-md-2 m-1 p-1 text-center">
            {% if jobOffer.entity.picture %}
                {% if jobOffer.entity.picture.pictureName is same as '' %}
                    <img id="show_candidate_photo_profile" class="img-fluid img_user_card"
                         src="{{ asset('images/profils/avatar.jpg') }}"
                         alt="photo du profil">
                {% else %}
                    <img id="show_candidate_photo_profile" class="img-fluid img_user_card"
                         src="{{ asset('images/profils/' ~jobOffer.entity.picture.pictureName ) }}"
                         alt="photo du profil">
                {% endif %}
            {% else %}
                <img id="show_candidate_photo_profile" class="img-fluid img_user_card"
                     src="{{ asset('images/profils/avatar.jpg') }}"
                     alt="photo du profil">
            {% endif %}
    </div>
    <div class="col-md-6 col-sm-8 col-xs-12 content-box align-self-center">
        <div class="">
            <span class="job_text_title"><a class="link_job_offer_infos" href="{{ path('jobOffer_show', {'id':jobOffer.id}) }}"><strong>{{ jobOffer.title }}</strong></a></span><br>
            <span class="job_text"><strong class="">{{ jobOffer.entity.entityName| capitalize }}</strong><br>
            {% if jobOffer.city and jobOffer.department is not empty %}
                {{ jobOffer.city }} &bull; {{ jobOffer.department.name }} ({{ jobOffer.department.cp }})
                <br>
            {% endif %}
                {% if jobOffer.entity.mainCause is not empty %}
                <strong>Cause soutenue : </strong>{{ jobOffer.entity.mainCause.text }}</span>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3 align-self-center">
        <div class="row justify-content-md-end">
{#            <button class="btn btn-lg btn-block btn-disable-hover btn_contract_type">{{ jobOffer.contractType.wording }}#}
{#            </button>#}
            {% if jobOffer.contractType.wording == 'CDI' %}
                <div class="abstract_contract_type col-4">{{ jobOffer.contractType.wording }}</div>
            {% elseif jobOffer.contractType.wording == 'CDD' %}
                <div class="abstract_contract_type_CDD col-4">{{ jobOffer.contractType.wording }}</div>
            {% elseif jobOffer.contractType.wording == 'Freelance - Indépendant' %}
                <div class="abstract_contract_type_FREELANCE col-8">{{ jobOffer.contractType.wording }}</div>
            {% elseif jobOffer.contractType.wording == 'Associé(e)' %}
                <div class="abstract_contract_type_ASSOCIE col-4">{{ jobOffer.contractType.wording }}</div>
            {% elseif jobOffer.contractType.wording == 'Stage' %}
                <div class="abstract_contract_type_STAGE col-4">{{ jobOffer.contractType.wording }}</div>
            {% elseif jobOffer.contractType.wording == 'Intérim' %}
                <div class="abstract_contract_type_INTERIM col-4">{{ jobOffer.contractType.wording }}</div>
            {% elseif jobOffer.contractType.wording == 'Service bénévole' %}
                <div class="abstract_contract_type_SERVICE col-8">{{ jobOffer.contractType.wording }}</div>
            {% elseif jobOffer.contractType.wording == 'Autre' %}
                <div class="abstract_contract_type_AUTRE col-4">{{ jobOffer.contractType.wording }}</div>
            {% endif %}
        </div>
    </div>
    {% if jobOffer in app.user.favoriteOffers %}
        <span title="Retirer des favoris">
            <a href="{{ path('remove_favorite_offer',  {'id': jobOffer.id }) }}" >
                <img class="favorite" src="{{ asset('img/suit-heart-fill.svg') }}" alt="remove favorites" title="Retirer des favoris"/>
            </a>
        </span>
    {% else %}
        <span title="Ajouter aux favoris">
            <a href="{{ path('add_favorite_offer',{'id': jobOffer.id  }) }}">
                <img class="favorite" src="{{ asset('img/suit-heart.svg') }}" alt="add favorites" title="Ajouter aux favoris"/>
             </a>
        </span>
    {% endif %}
</div>