<div class="row">

        <div class="col-lg-2 m-3">
            {% if candidate.picture %}
                {% if candidate.picture.pictureName is same as '' %}
                    <img style="width: 100%" id="show_candidate_photo_profile" class="rounded-circle"
                         src="{{ asset('images/profils/avatar.jpg') }}"
                         alt="photo du profil">
                {% else %}
                    <img style="width: 100%" id="show_candidate_photo_profile" class="rounded-circle"
                         src="{{ asset('images/profils/' ~candidate.picture.pictureName ) }}"
                         alt="photo du profil">
                {% endif %}
            {% else %}
                <img style="width: 100%" id="show_candidate_photo_profile" class="rounded-circle"
                     src="{{ asset('images/profils/avatar.jpg') }}"
                     alt="photo du profil">
            {% endif %}
        </div>

    <div class="col-md-5 col-sm-8 col-xs-12 content-box align-self-center">
        <div class="candidate_text">
            <a href="{{ path('candidate_show', {'id':candidate.id}) }}">{{ candidate.firstname|capitalize }} {{ candidate.lastname|upper }}</a>
            <p>{{ candidate.currentRole | capitalize}}</p>
            {% if candidate.jobSearch%}
                <p>Pas de ville</p>
            {% else %}
                <p>Pas de ville</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3 align-self-center">
        <div class="candidate_contract_type ">
            <button class="btn btn-lg btn-block btn-disable-hover btn_contract_type">CDI
            </button>
        </div>
    </div>
</div>
