{% extends 'base.html.twig' %}

{% block title %}Sowrs | Qui sommes-nous ?{% endblock %}

{% block meta %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="SOWRS est le spécialiste du recrutement dans le domaine de l'IT. Nous mettons en relation candidats et
                                entreprises qui partagent les même valeurs écologiques et sociales">
{% endblock %}

{% block body %}
    <div class="container_about">
        <div class="about_header">
            <h1>SOWRS &bull; SOCIAL WORKERS &bull; SEMEURS DE SENS &bull; WORK FOR CHANGE</h1>
        </div>
        <div class="main_content_about">
            <div class="img_main_content_about">
                <img src="{{ asset('img/illus_about_sowrs.jpg') }}" alt="about us" title="SOWRS - Qui sommes-nous ?" />
            </div>
            <div class="text_main_content_about">
                <p>
                    Aux racines de SOWRS, des pros du recrutement IT, de la comm' RH et de la RSE, qui veulent mettre leurs
                    compétences, leurs valeurs et leur temps au service d'un monde plus désirable et durable. Nous sommes convaincus que les
                     entreprises doivent être au service du bien commun à travers des objectifs sociaux et environnementaux forts, au-delà
                     du simple profit. Nous pensons également que l'innovation et la tech peuvent contribuer à rendre le monde meilleur.
                </p>
                <p>
                    Face à l'urgence des défis sociaux, économiques, environnementaux et sociétaux partout dans le monde, nous sommes plus
                    que jamais à l'ère de la prise de conscience. Conscience de nos actes et de notre impact individuel et collectif.
                    Conscience de la responsabilité qui incombe à chacun d'être acteur&bull;ice du changement à travers son comportement
                    en tant que citoyen&bull;ne, consommateur&bull;ice mais aussi en tant que professionnel&bull;le.
                </p>
                <p>
                    Pourquoi travaillons-nous ? Outre le besoin de gagner notre vie, les raisons sont multiples : exister socialement,
                    suivre nos passions, nous épanouir professionnellement et personnellement, être tout simplement utile aux autres... Quel
                    que soit ce qui nous anime, avec une moyenne de 8 heures par jour consacrées au travail, il devient de plus en plus
                    essentiel de <span>trouver un sens à notre métier</span>.
                </p>
            </div>
        </div>
        <div class="second_main_content_about">
            <p>
                De là, naissent des mouvements qui nourrissent plusieurs ambitions. Celle de limiter notre impact écologique.
                Celle d'oeuvrer pour un projet vraiment utile aux personnes et à la planète. Celle de lutter, à notre échelle,
                contre les inégalités. Notre ambition à nous, notre raison d'être, c'est de soutenir la croissance de projets innovants,
                éthiques et durables grâce au recrutement par affinité socio-environnemantales.
            </p>
            <h3>
                SOWRS est donc la plateforme de recrutement solidaire qui fait germer les connexions entre les entreprises qui veulent
                sauver le monde et les pros du digital en quête de sens. <br />
            </h3>
            <p>
                Ce qu'on vous propose ? Trouver de vrai&bull;e&bull;s partenaires engagé&bull;e&bull;s - entreprises, start-up, assos,
                expert&bull;e&bull;s - pour semer les graines du changement, faire naître davantage de sens et sauver le monde ensemble !
            </p>
            <p>
                Si vous préférez les actes aux paroles et souhaitez agir au quotidien pour avoir un impact positif sur le monde,
                nous sommes ici pour vous aider à accomplir vos projets.
            </p>
        </div>
        <div class="link_section_about">
            <div>
                <div class="first_link_section">
                    <div>
                        <h3>💻</h3>
                        <h2>Vous cherchez un emploi dans la tech qui a du sens ?</h2>
                        <p>
                            Nous vous offrons la possibilité de travailler pour des entreprises, des start-up ou des associations
                            qui veulent sauver le monde ! 🌍
                        </p>
                        <p>
                            Consultez les offres d'organisations clean et passionnantes et postulez à celles qui correspondent tant
                            à vos aspirations professionnelles qu'à vos convictions !
                        </p>
                    </div>
                    <div class="container_link_about">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and "ROLE_CANDIDATE" in app.user.roles %}
                            <a href="{{ path('main_job_offers_list') }}">Consultez les offres</a>
                        {% else %}
                            <a href="{{ path('app_register') }}">Créez votre compte candidat</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <div class="second_link_section">
                    <div>
                        <h3>🌱</h3>
                        <h2>
                            Votre projet répond à un ou plusieurs objectifs de développement durable et vous agrandissez
                            votre équipe tech ?
                        </h2>
                        <p>
                            Nous sommes au côté des acteurs de l'impact et des organisations qui ont à coeur de travailler
                            de manière éthique.
                        </p>
                        <p>
                            Diffusez vos offres d'emploi et trouvez des candidat&bull;e&bull;s au top qui partagent vos valeurs !
                        </p>
                    </div>
                    <div class="container_link_about">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and "ROLE_RECRUITER" in app.user.roles %}
                            <a href="{{ path('dash_board_job_offer_create') }}">Diffusez une offre</a>
                        {% else %}
                            <a href="{{ path('app_register') }}">Créez votre compte recruteur</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="friends_section">
            <h3>Les amis</h3>
            <div class="logo_friends_container">
                <img src="{{ asset('img/logo_impact_france.png') }}" alt="Impact France" title="IMPACT FRANCE" />
                <img src="{{ asset('img/logo_time_planet.png') }}" alt="Time for the Planet" title="TIME FOR THE PLANET" />
                <img src="{{ asset('img/logo_planet_take_care.png') }}" alt="Planet take Care" title="PLANET TAKE CARE" />
            </div>
        </div>
    </div>
{% endblock %}