{% extends 'base.html.twig' %}

{% block title %}SOWRS | CV en ligne{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/list_cv.css') }}">
{% endblock %}

{% block meta %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Recruteur ? Trouvez le candidat parfait dans notre banque de CV en ligne. Votre futur collaborateur
                                vous attend sur sowrs.com">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-lg-3 p-3">
                <div class="candidate_filter p-3">
                    {{ form_start(formSearch) }}
                    <div class="p-1">
                        {{ form_row(formSearch.txt) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.localization) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.department) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.remuneration) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.contractType) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.cause) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.levelStudy) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.levelExp) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.authorizedCountry) }}
                    </div>
                    <div class="p-1 check_telecommute_research">
                        {{ form_row(formSearch.telecommute) }}
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-lg btn_search_candidate">Rechercher</button>
                    </div>
                    {{ form_end(formSearch) }}
                </div>
            </div>
            <div class="col-md-9 p-3">
                {% for candidate in listCandidates %}
                    <div class="candidate_row bg-white p-3 mb-3">
                        {% include '/main/_cardCandidate.html.twig' with {candidate: candidate, favorites: favorites} only %}
                    </div>
                {% endfor %}
                {{ knp_pagination_render(listCandidates) }}
            </div>

        </div>
    </div>
{% endblock %}