{% extends 'base.html.twig' %}

{% block title %}SOWRS | Contactez-nous{% endblock %}

{% block meta %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Contactez SOWRS pour de plus amples informations, nos équipes sont disponible pour répondre
                                à vos questions en tant que candidat, ou recruteur">
{% endblock %}

{% block body %}
    <div class="container p-2 mt-4">
        {{ form_start(formContact, {'attr': {'class': 'row'}}) }}
            <div class="col-lg-5 container_info_contact">
                {{ form_row(formContact.nom) }}
                {{ form_row(formContact.email) }}
                {{ form_row(formContact.telephone) }}
                <div class="col-lg-12 input-group-text">
                    <label for="uploadedFile" class="btn">+ Ajouter un fichier</label>
                    {{ form_row(formContact.fichier,{'id': 'uploadedFile'})}}
                    <a class="ButtonTrash col-lg-3 m-2 text-center btn align-self-center"
                       href="#" role="button">
                        <img alt="logo_poubelle" title="Poubelle" class="bi-trash"  src="{{ asset('img/boostrap/trash-fill-white.svg') }}">
                    </a>
                </div>
                <div class="col-lg-12 input-group-text">
                    {{ form_row(formContact.autreFichier,{'id': 'contact_file'}) }}
                    <label for="contact_file" class="btn required"> + Ajouter un autre fichier</label>
                    <a class="ButtonTrash col-lg-3 m-2 text-center btn align-self-center"
                       href="#" role="button">
                        <img alt="logo_poubelle" title="Poubelle" class="bi-trash" src="{{ asset('img/boostrap/trash-fill-white.svg') }}">
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row container_message_contact">
                    {{ form_row(formContact.message)}}
                    <div class="g-recaptcha col-lg-4" data-sitekey="6LcqEgIaAAAAAEtDy88bfJXRtrhQDfRxwFD-0_Ca"></div>
                    <div class="col-lg-6 offset-2 container_send_button">
                        <button type="submit" class="btn col-lg-4">Envoyer</button>
                    </div>
                </div>
            </div>
        {{ form_end(formContact) }}
    </div>
{% endblock %}
