{% extends 'base.html.twig' %}

{% block title %}SOWRS | Contactez-nous{% endblock %}

{% block meta %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Contactez SOWRS pour de plus amples informations, nos équipes sont disponible pour répondre
                                à vos questions en tant que candidat, ou recruteur">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row gx-0 m-3">
            <div class="col-lg-12 paddingContainer">
                {{ form_start(formContact, {'attr': {'class': 'row'}}) }}
                <div class="row m-3">
                    <h3 class="contactTitle mt-5">Contactez-nous !</h3>
                    <span class="textContact">Vous n'avez pas trouvé la réponse à votre question sur le site SOWRS, complétez le formulaire ci-dessous afin que nous puissions vous contacter dans les meilleurs délais.</span>
                        <div class="col-lg-5">
                            <h3 class="contactTitle mt-5">Vous êtes :</h3>
                            <div class="col-sm-10 col-lg-12 mt-3 align-items-center">
                                {{ form_row(formContact.nom) }}
                            </div>
                            <div class="col-sm-10 col-lg-12 mt-3">
                                {{ form_row(formContact.email) }}
                            </div>
                            <div class="col-sm-10 col-lg-12 mt-3">
                                {{ form_row(formContact.telephone) }}
                            </div>
                            <p class="textP">* Champs obligatoires</p>
                        </div>
                    <div class="col-lg-7">
                        <h3 class="contactTitle mt-5">Message :</h3>
                        <div class="col-sm-12 col-lg-12">
                            {{ form_row(formContact.message,{'attr': {'class': 'messageTextarea'}})}}
                        </div>
                        <h3 class="contactTitle mt-5">Ajoutez une pièce jointe :</h3>
                        <div class="pjOption">
                            <div class="col-lg-4 pjContainer">
                                <div class="">
                                    <label class="btn btnFile" for="uploadedFile">Choisir un fichier</label>
                                    {{ form_row(formContact.fichier,{'id': 'uploadedFile'})}}
                                    <label for="contact_file" class="btn mt-3 btnFile">Ajouter un autre fichier</label>
                                    {{ form_row(formContact.autreFichier,{'id': 'contact_file'}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 container_uploaded_document">
                            <h3 class="title_uploaded_documents">Pièces jointes</h3>
                            <div class="first_uploaded_document"></div>
                            <div class="second_uploaded_document"></div>
                        </div>
                        <div class="validationOption">
                            <div class="marginCaptcha g-recaptcha" data-sitekey="6LcqEgIaAAAAAEtDy88bfJXRtrhQDfRxwFD-0_Ca"></div>
                            <button type="submit" class="btn marginSend">Envoyer</button>
                        </div>
                    </div>
                    {{ form_end(formContact) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener('load', function (){
            let firstDocument = document.querySelector('#uploadedFile');
            let secondDocument = document.querySelector('#contact_file');
            let containerUploadedDocuments = document.querySelector('.container_uploaded_document');
            let firstUploadedDocument = document.querySelector('.first_uploaded_document');
            let secondUploadedDocument = document.querySelector('.second_uploaded_document');
            firstDocument.addEventListener('change', function (){
                containerUploadedDocuments.setAttribute('style', 'display:block;');
                firstUploadedDocument.setAttribute('style', 'display:block;');
                firstUploadedDocument.innerHTML = firstDocument.value;

            });
            secondDocument.addEventListener('change', function (){
                containerUploadedDocuments.setAttribute('style', 'display:block;');
                secondUploadedDocument.setAttribute('style', 'display:block;');
                secondUploadedDocument.innerHTML = secondDocument.value;

            });
        });

    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}