{% extends 'base.html.twig' %}

{% block title %}Sowrs | Contactez-nous{% endblock %}


{% block body %}

    <div class="container p-2 mt-4">
        {{ form_start(formContact, {'attr': {'class': 'row'}}) }}
            <div class="col-lg-5">
                {{ form_row(formContact.nom) }}
                {{ form_row(formContact.email) }}
                {{ form_row(formContact.telephone) }}
                <div class="col-lg-12 input-group-text" style="margin-top: 10px">
                    <label for="uploadedFile" class="btn">+ Ajouter un fichier</label>
                    {{ form_row(formContact.fichier,{'id': 'uploadedFile'})}}
                    <div class="col-lg-4">
                        {% if fichier %}
                            <img src="{{ asset('img/img_pj.png')}}" style="width: 30px"/>
                        {% endif %}
                    </div>
                    <a class="messageButtonTrash col-lg-3 m-2 text-center btn align-self-center"
                       href="{{ path('delete_file')}}" role="button">
                        <img class="messageImgTrash"  src="{{ asset('img/boostrap/trash-fill-white.svg') }}">
                    </a>

                </div>
                <div class="col-lg-12 input-group-text">
                    {{ form_row(formContact.autreFichier,{'id': 'contact_file'}) }}
                    <label for="contact_file" class="btn required"> + Ajouter un autre fichier</label>
                    <div class="col-lg-4">
                        {% if autreFichier %}
                            <img src="{{ asset('img/img_pj.png')}}" style="width: 30px"/>
                        {% endif %}
                    </div>
                    <a class="messageButtonTrash col-lg-3 m-2 text-center btn align-self-center"
                       href="{{ path('delete_file')}}" role="button">
                        <img class="messageImgTrash"  src="{{ asset('img/boostrap/trash-fill-white.svg') }}">
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    {{ form_row(formContact.message)}}
                    <div class="g-recaptcha col-lg-4" data-sitekey="6LcqEgIaAAAAAEtDy88bfJXRtrhQDfRxwFD-0_Ca"></div>
                    <div class="col-lg-6 offset-2">
                        <button type="submit" class="btn col-lg-4">Envoyer</button>
                    </div>
                </div>
            </div>
        {{ form_end(formContact) }}
    </div>
{% endblock %}
