{% extends 'base.html.twig' %}

{% block title %}Sowrs | Contactez-nous{% endblock %}


{% block body %}

    <div class="container p-2 mt-4">
        {{ form_start(formContact, {'attr': {'class': 'row'}}) }}
            <div class="col-5">
                <div class="row justify-content-center mb-4">
                    <div class="col-6">
                        <br>
                        <div style="background: #1dca91; cursor: pointer;border-radius: 20px"
                             class="text-center text-white p-4" name="btnCandidat" id="btnCandidat">
                            <input style=" visibility: hidden; cursor: pointer" type="radio" id="contactChoice1"
                                   name="contact" value="candidat">
                            <label class="d_none" for="contactChoice1"><h3>Je suis</h3>
                                <h3>Candidat</h3></label>
                        </div>
                    </div>
                    <div class="col-6">
                        <br>
                        <div style="background: #1dca91; cursor: pointer;border-radius: 20px"
                             class="text-center text-white p-4" name="btnRecruteur" id="btnRecruteur">
                            <input type="radio" style=" visibility: hidden; cursor: pointer" id="contactChoice2"
                                   name="contact" value="candidat">
                            <label class="d_none" for="contactChoice2"> <h3>Je suis</h3>
                                <h3>Recruteur</h3></label>
                        </div>
                    </div>
                </div>
                {{ form_row(formContact.nom) }}
                {{ form_row(formContact.email) }}
                {{ form_row(formContact.telephone) }}
            </div>
            <div class="col-7">
                {{ form_row(formContact.message)}}
                <div class="col-12 input-group-text">{{ form_row(formContact.fichier, {'attr': {'class': 'input-group-text ','id': 'uploadedFile'}})}}
                    <div class="col-7"></div>
                    {% if formContact.fichier %}
                        <a class="messageButtonTrash col-lg-3 m-2 text-center btn align-self-center"
                           href="{{ path('delete_file')}}" role="button">
                            <img class="messageImgTrash"  src="{{ asset('img/boostrap/trash-fill-white.svg') }}">
                        </a>
                    {% endif %}
                </div>
                {{ form_row(formContact.autreFichier, {'attr': {'class': 'd-none', 'id': 'contact_fichier'}}) }}
                <label for="contact_autreFichier" class="btn required"> + Ajouter un fichier</label>
            </div>
            <div class="row my-4">
                <div class="col-6"></div>
                <div class="g-recaptcha col-4" data-sitekey="6LcqEgIaAAAAAEtDy88bfJXRtrhQDfRxwFD-0_Ca"></div>
                <div class="col-2">
                    <button type="submit" class="btn">Envoyer</button>
                </div>
            </div>
        {{ form_end(formContact) }}
    </div>

{% endblock %}
{% block javascripts %}
<script>

    const elementInputIcon = document.getElementById('iconButton');
    const elementInputFile = document.getElementById('contact_fichier');

    elementInputIcon.addEventListener("onclick", function () {
        $(function () {
            $this = elementInputFile;
            $this.remove();
        })
    });

</script>
{% endblock %}

