{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="Sowrs">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sowrs.com/">
    <meta property="og:image" content="https://sowrs.com/img/welcome_sowrs.jpg">
    <meta property="og:description" content="Donnez du sens à votre carrière au sein d'une société à impact qui partage vos valeurs." />
    <meta name="description" content="Donnez du sens à votre carrière au sein d'une société à impact qui partage vos valeurs.">
    <link rel="image_src" href="https://sowrs.com/img/welcome_sowrs.jpg" />
{% endblock %}

{% block title %}SOWRS | Le job board solidaire qui met en relation les tech et les sociétés à impact{% endblock %}

{% block body %}
    {# Flash message #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="background-picture">
        <div class="row text-white p-5">
            <div class="col-lg-6 p-3 d-none d-md-block d-lg-block d-xl-block">
                <p class="title-background">Trouvez un sens à votre travail et sauvons le monde ensemble !</p>
                <br>
                <br>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {%  if 'ROLE_CANDIDATE' in app.user.roles %}
                        <div class="container_main_options">
                            <a href="{{ path('main_dash_board') }}">Espace candidat</a>
                            <a href="{{ path('dashboard_details') }}">Déposez votre CV</a>
                        </div>
                    {% elseif 'ROLE_RECRUITER' in app.user.roles %}
                        <div class="container_main_options">
                            <a href="{{ path('main_dash_board') }}">Espace recruteur</a>
                            <a href="{{ path('dash_board_job_offer_create') }}">Créez votre offre</a>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="container_main_options">
                        <a href="{{ path('app_register') }}">Créez votre offre</a>
                        <a href="{{ path('app_register') }}">Déposez votre CV</a>
                    </div>
                {% endif %}
                <br />
                <p class="sub-subtitle-background">Pour profils techs engagés & entreprises à mission</p>
            </div>
            <div class="d-md-none d-lg-none d-xl-none">
                <h3 class="home_subtitle">Trouvez un sens à votre travail et sauvons le monde ensemble !</h3>
                <br>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {%  if 'ROLE_CANDIDATE' in app.user.roles %}
                        <div class="container_main_options">
                            <a href="{{ path('main_dash_board') }}">Espace candidat</a>
                            <a href="{{ path('dashboard_details') }}">Déposez votre CV</a>
                        </div>
                    {% elseif 'ROLE_RECRUITER' in app.user.roles %}
                        <div class="container_main_options">
                            <a href="{{ path('main_dash_board') }}">Espace recruteur</a>
                            <a href="{{ path('dash_board_job_offer_create') }}">Créez votre offre</a>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="container_main_options">
                        <a href="{{ path('app_register') }}">Créez votre offre</a>
                        <a href="{{ path('app_register') }}">Déposez votre CV</a>
                    </div>
                {% endif %}
                <h4 class="home_subtitle">Pour profils techs engagés & entreprises à mission</h4>
            </div>
            <div class="col-lg-5 offset-lg-1 d-none d-md-block d-lg-block d-xl-block">
                <div class="Background-jobOffer-filter-home p-3">
                    <div class="row">
                        <div class="col-lg-6 text-white">
                            <p class="m-0">Recherche rapide</p>
                        </div>
                        <div class="col-lg-6 text-end">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                {% if "ROLE_CANDIDATE" in user.roles %}
                                    <p>
                                        <a class="texte-green home_link" href="{{ path('main_job_offers_list') }}">Voir toutes les offres</a>
                                    </p>
                                {% else %}
                                    <p>
                                        <a class="texte-green home_link" href="{{ path('main_candidate_list') }}">Voir tous les candidats</a>
                                    </p>
                                {% endif %}
                            {% else %}
                                <p>
                                    <a class="texte-green home_link" href="{{ path('main_job_offers_list') }}">Voir toutes les offres</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="test">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if "ROLE_CANDIDATE" in user.roles %}
                                {{ form_start(formSearchHome) }}
                                <div class="p-1">
                                    {{ form_row(formSearchHome.q) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearchHome.contractType) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearchHome.country) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearchHome.department) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearchHome.cause) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearchHome.levelStudy) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearchHome.levelExperience) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearchHome.remuneration) }}
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="p-1">
                                            {{ form_row(formSearchHome.freshness) }}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="p-1">
                                            {{ form_row(formSearchHome.telecommute) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="position-static p-1">
                                    <button type="submit" class="btn-filter-home">Rechercher</button>
                                </div>
                                {{ form_end(formSearchHome) }}
                            {% elseif "ROLE_RECRUITER" in user.roles %}
                                {{ form_start(formSearch) }}
                                <div class="p-1">
                                    {{ form_row(formSearch.txt) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearch.localization) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearch.department) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearch.contractType) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearch.cause) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearch.remuneration) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearch.levelStudy) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearch.levelExp) }}
                                </div>
                                <div class="p-1">
                                    {{ form_row(formSearch.authorizedCountry) }}
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="p-1">
                                            {{ form_row(formSearch.telecommute) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="position-static p-1">
                                    <button type="submit" class="btn-filter-home">Rechercher</button>
                                </div>
                                {{ form_end(formSearch) }}
                            {% endif %}
                        {% else %}
                            {{ form_start(formSearchHome) }}
                            <div class="p-1">
                                {{ form_row(formSearchHome.q) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(formSearchHome.contractType) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(formSearchHome.country) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(formSearchHome.department) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(formSearchHome.cause) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(formSearchHome.levelStudy) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(formSearchHome.levelExperience) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(formSearchHome.remuneration) }}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="p-1">
                                        {{ form_row(formSearchHome.freshness) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="p-1">
                                        {{ form_row(formSearchHome.telecommute) }}
                                    </div>
                                </div>
                            </div>
                            <div class="position-static p-1">
                                <button type="submit" class="btn-filter-home">Rechercher</button>
                            </div>
                            {{ form_end(formSearchHome) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container_latest_posts">
            {% if posts is not empty %}
                {% for post in posts %}
                    <div class="post_mini_home col-lg-4 col-md-6 col-sm-12">
                        {% if post.pictureFilename %}
                            <img class="col-12" src="{{ asset('uploads/illustrations/' ~ post.pictureFilename) }}" alt="illustration_article" title="{{ post.metaTitle }}" />
                        {% endif %}
                        {% if post.title %}
                            <a href="{{ path('post_details', {"id":post.id}) }}">{{ post.title }}</a>
                        {% endif %}
                        {% if post.creationDate %}
                            <h3 class="col-12">{{ post.creationDate|date('d/m/Y') }}</h3>
                        {% endif %}
                        {% if post.presentationText %}
                            <p class="col-12">
                                {{ post.presentationText }}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="container_pop_up">
            <div class="presentation_popup">
                <p>
                    Bienvenue sur SOWRS !
                </p>
                <hr />
                <p>
                    Bienvenue sur Sowrs, la nouvelle plateforme d’ITmakeSense ! 🌱
                    Nouveau nom, améliorations et possibilité de calculer votre taux
                    de sens pour trouver des candidat.e.s ou structures qui partagent
                    vos valeurs : on espère que ça vous plaira !
                    Si vous ne nous connaissez pas encore, découvrez notre mission 👇
                </p>
                <div>
                    <a class="btn btn_about_popup" href="{{ path('main_about_sowrs') }}" >Qui sommes-Nous ?</a>
                    <button class="btn btn_close_popup">J'ai compris !</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.btn_close_popup').on('click', function (){
           $('.container_pop_up').attr('style', 'display:none;');
        });
    </script>
{% endblock %}
