{% extends 'base.html.twig' %}

{% block title %}Sowrs | Offres d'emplois IT{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jobOffersList.css') }}">
{% endblock %}

{% block meta %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Désireux de mettre du sens dans votre carrière ? Retrouvez nos offres d'emploi IT pour un job à impact positif | Tech For Good">
    <meta property="og:title" content="Sowrs | Offres d'emplois IT">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="https://sowrs.com/img/welcome_sowrs.jpg">
    <meta property="og:description" content="Désireux de mettre du sens dans votre carrière ? Retrouvez nos offres d'emploi IT pour un job à impact positif | Tech For Good" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-lg-3 p-3">
                <div class="jobOffer_filter p-3">
                    {{ form_start(formSearch) }}
                    <div class="p-1">
                        {{ form_row(formSearch.q) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.contractType) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.country) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.department) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.cause) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.levelStudy) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.levelExperience) }}
                    </div>
                    <div class="p-1">
                        {{ form_row(formSearch.remuneration) }}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-1">
                                {{ form_row(formSearch.freshness) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="p-1">
                                {{ form_row(formSearch.telecommute) }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-lg btn_search_job_offer">Rechercher</button>
                    </div>
                    {{ form_end(formSearch) }}
                </div>
            </div>
            <div class="col-lg-9 p-3">
                    {% for jobOffer in jobOffers %}
                            <div class="job_offer_row bg-white p-3 mb-3">
                                {% include 'main/_cardJobOfferMain.html.twig' with {jobOffer: jobOffer} only %}
                            </div>
                    {% endfor %}
                {{ knp_pagination_render(jobOffers) }}
            </div>
            {% if research %}
                <div class="create_offer_modal">
                    <div class="modal_content">
                        <div class="container_close_modal">
                            <i class="fas fa-times"></i>
                        </div>
                        <h4>Soutenez SOWRS, le jobboard solidaire</h4>
                        <p>
                            SOWRS n’a pas d’autres ressources que vos participations.
                            Chaque utilisateur donne à hauteur de ses moyens pour que chacun puisse profiter de tous
                            les services sans distinction. &#128519; <br />
                            Aidez-nous à atteindre notre objectif commun : <em>travailler à rendre le monde meilleur</em> ! 🌳🌳🌳
                        </p>
                        <div class="container_options_modal">
                            <a title="donate to sowrs" target="_blank" class="btn btn_tipeee_modal" href="https://fr.tipeee.com/sowrs">Je participe</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}