{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# refere to homeWebzine.css for stylesheet #}
{% endblock %}

{% block title %}Sowrs | Tag : {{ tag.text }}{% endblock %}

{% block body %}
    <h1 class="main_title_webzine">{{ tag.text }}</h1>
    <div class="container_posts col-12">
        {% if posts is not empty %}
            {% for post in posts %}
                <div class="col-lg-4 col-md-6 col-sm-12 post_mini">
                    <div class="row">
                        <img class="illustration_post col-12" src="{{ asset('uploads/illustrations/' ~ post.pictureFilename) }}" alt="illus_post" title="Illustration du poste" />
                    </div>
                    <div class="post_abstract">
                        <div class="row">
                            <div class="col-12 post_mini_date">
                                {{ post.creationDate|date('d/m/Y') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ post.title }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ post.presentationText }}
                            </div>
                        </div>
                        <div class="row">
                            <a title="show article" href="{{ path('post_details', {'id':post.id}) }}" class="btn required col-12">Lire plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}