{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Retrouvez des articles engagés écologiquement et socialement. Le webzine SOWRS partage vos valeurs et vous fait découvrir de nouvelles méthodes de travail, pour une vie plus simple" />
    <meta property="og:title" content="Sowrs | Webzine">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="https://sowrs.com/img/welcome_sowrs.jpg">
    <meta property="og:description" content="Retrouvez des articles engagés écologiquement et socialement. Le webzine SOWRS partage vos valeurs et vous fait découvrir de nouvelles méthodes de travail, pour une vie plus simple" />
{% endblock %}

{% block title %}Sowrs | Webzine{% endblock %}

{% block body %}
    {% if app.user %}
        {% if app.user.roles is not empty %}
            {% if "ROLE_ADMIN" in app.user.roles %}
                <div class="admin_options">
                    <h6 class="admin_options_title">Espace admin</h6>
                    <a title="create an article" href="{{ path('create_post') }}" class="btn_admin">Nouvel article</a>
                    <a title="not published article" href="{{ path('unpublished_post') }}" class="btn_admin">Articles non publiés</a>
                    <a title="not published comments" href="{{ path('waiting_comments') }}" class="btn_admin">Commentaires en attente | {{ nbrUnpublishedComments }}
                    </a>
                    <div class="block_create_tag">
                        <label for="create_tag">Créer un tag</label>
                        <input type="text" id="create_tag" name="input_create_tag">
                        <button type="button" class="btn_add_tag">Créer</button>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    <h1 class="main_title_webzine">WEBZINE</h1>
    <div class="container_posts col-12">
        {% if posts is not empty %}
            {% for post in posts %}
                <div class="col-lg-4 col-md-6 col-sm-12 post_mini">
                    <div class="row">
                        <a title="show article" href="{{ path('post_details', {'id':post.id}) }}">
                            <img class="illustration_post col-12" src="{{ asset('uploads/illustrations/' ~ post.pictureFilename) }}"
                                 alt="illus_post" title="Illustration de l'article" />
                        </a>
                    </div>
                    <div class="post_abstract">
                        <div class="row">
                            <div class="col-12 titleArticle">
                                <a title="show article" href="{{ path('post_details', {'id':post.id}) }}">
                                    {{ post.title }}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 post_mini_date">
                                {{ post.creationDate|date('d/m/Y') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 textPresentation">
                                {{ post.presentationText }}
                            </div>
                        </div>
                        <div class="row">
                            <a title="show article" href="{{ path('post_details', {'id':post.id}) }}" class="btn required col-12 read_more">Lire plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        // for add a tag in the database
        // cf to WebzineController for backend
        let myBtn = $(".btn_add_tag");
        myBtn.on("click", function (){
            const tagValue = $("#create_tag").val();
            fetch("{{ path('add_tag') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "tag": tagValue
                })
            })
                .then(response => response.json())
                .then(response => {
                    if (response.success) {
                        alert("Le tag a été correctement enregistré, il est désormais utilisable !")
                        $('input[name=input_create_tag]').val(''); //empty the input for commitment
                    } else {
                        alert("Merci d'indiquer une valeur textuelle pour le tag à enregistrer")
                    }
                })
                .catch(e => {
                    alert(e);
                })
            ;
        });
    </script>
{% endblock %}