{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Sowrs | Articles non publiés{% endblock %}

{% block body %}
    <h1 class="unpublished_post_title">Articles en attente</h1>
    {% if unpublishedPosts %}
        <div class="row container_unpublished_post">
            {% for post in unpublishedPosts %}
                <div class="unpublished_post col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <img src="{{ asset('uploads/illustrations/' ~ post.pictureFilename) }}" alt="article_illus" title="Illustration du poste" />
                    </div>
                    <div class="row">
                        <a href="{{ path('post_details', {"id":post.id}) }}"><h4>{{ post.title }}</h4></a>
                    </div>
                    <div class="row">
                        {{ post.presentationText }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="no_unpublished_title">Il n'y a aucun article en attente</h1>
    {% endif %}
{% endblock %}