<div class="container-fluid footer px-0">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 p-3">
                <h5 class="text">SOWRS</h5>
                <p class="text">Sowrs met en relation les sociétés porteuses de projets à impact avec les profils
                    tech en quête de sens dans leur travail !</p>
            </div>

            <div class="col-lg-4 p-3">
                <h5 class="text">Vous cherchez un emploi dans la tech et vous voulez donner du sens à votre carrière
                    ? </h5>
                <p class="text">Nous proposons aux professionnels de la tech la possibilité de travailler pour des
                    sociétés à mission, qui ont à cœur d’avoir un impact positif sur le monde.</p>
            </div>

            <div class="col-lg-4 p-3">
                <div>
                    <h5 class="text">La responsabilité est importante pour votre entreprise et vous cherchez des
                        collaborateurs ? </h5>
                    <p class="text">Côté entreprise, nous sommes aux côtés des acteurs de la Green Tech et des
                        entreprises ayant
                        à cœur de travailler de manière éthique et en limitant leur impact environnemental.</p>
                </div>
                <div class="text">
                    <a class="legalMentions" href="{{ path('main_legalNotice') }}">Mentions légales & conditions
                        générales d'utilisation</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid footer_footer">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <p class="text-center text-md-left copyright" style="color: gray">© 2020 Copyright:-
                    https://sowrs.com/ +33 (0)9 82 23 31 02
                </p>
            </div>

            <div class="text-center col-lg-6">
                <ul class="p-0">
                    <li class="list-inline-item m-0">
                        <a class="nav-link" href="https://www.facebook.com/sowrscom"
                           target="_blank"><img class="logo_facebook"
                                                src="{{ asset('img/facebook_gris-footer.png') }}"
                                                alt="Page Facebook"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="nav-link"
                           href="https://www.instagram.com/we.are.sowrs/" target="_blank"><img
                                    class="logo_instagram" src="{{ asset('img/instagram_gris-footer.png') }}"
                                    alt="Page instagram"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="nav-link"
                           href="https://www.linkedin.com/company/sowrs/" target="_blank"><img
                                    class="logo_linkedin" src="{{ asset('img/linkedin_grist-footer.png') }}"
                                    alt="Page linkedin"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="nav-link" href="https://twitter.com/sowrs_com"
                           target="_blank"><img class="logo_twitter"
                                                src="{{ asset('img/twitter_gris-footer.png') }}"
                                                alt="Page twitter"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="nav-link"
                           href="https://www.youtube.com/channel/UC4ImaANXz2OlD4-Yz7XBV3g" target="_blank"><img
                                    class="logo_instagram" src="{{ asset('img/youtube_grist-footer.png') }}"
                                    alt="Page instagram"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="nav-link" href="https://fr.tipeee.com/sowrs"
                           target="_blank"><img class="logo_tipeee" src="{{ asset('img/tipeee_gris-footer.png') }}"
                                                alt="Page tipeee"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>