<div class="container-fluid footer px-0">

    <div class="container">
        <div class="row footer_title">
            <div class="col-lg-4 p-3 container_title_footer footer_title_sowrs">
                <img src="{{ asset('img/logo_sowrs.png') }}" alt="Sowrs" title="SOWRS" class="footer_logo" />
                <i class="fas fa-chevron-circle-down btn_footer btn_sowrs"></i>
                <i class="fas fa-chevron-circle-up btn_footer btn_sowrs_up"></i>
            </div>
            <div class="col-lg-4 p-3 container_title_footer footer_title_offer">
                <h5 class="text">Vous cherchez un emploi dans la tech et vous voulez donner du sens à votre carrière ?</h5>
                <i class="fas fa-chevron-circle-down btn_footer btn_offer"></i>
                <i class="fas fa-chevron-circle-up btn_footer btn_offer_up"></i>
            </div>
            <div class="col-lg-4 p-3 container_title_footer footer_title_candidate">
                <h5 class="text">La responsabilité est importante pour votre entreprise et vous cherchez des collaborateurs ?</h5>
                <i class="fas fa-chevron-circle-down btn_footer btn_candidate"></i>
                <i class="fas fa-chevron-circle-up btn_footer btn_candidate_up"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-12 container_text_mini_footer">
                <p class="text sowrs_text">
                    Sowrs met en relation les sociétés porteuses de projets à impact avec les profils
                    tech en quête de sens dans leur travail !
                </p>
                <p class="text offer_text">
                    Nous proposons aux professionnels de la tech la possibilité de travailler pour des
                    sociétés à mission, qui ont à cœur d’avoir un impact positif sur le monde.
                </p>
                <p class="text candidate_text_footer">
                    Côté entreprise, nous sommes aux côtés des acteurs de la Green Tech et des
                    entreprises ayant à cœur de travailler de manière éthique et en limitant leur impact environnemental.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="text container_legal_mentions">
                <a title="legale notice" class="legalMentions" href="{{ path('main_legalNotice') }}">Mentions légales & conditions
                    générales d'utilisation</a>
            </div>
        </div>
    </div>

    <div class="container-fluid footer_footer">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <p class="text-center text-md-left copyright">© 2021 Copyright:-
                    https://sowrs.com/ +33 (0)9 82 23 31 02
                </p>
            </div>
            <div class="text-center col-lg-6">
                <ul>
                    <li class="list-inline-item m-0">
                        <a title="sowrs facebook profile" class="nav-link" href="https://www.facebook.com/sowrscom"
                           target="_blank"><img class="logo_facebook"
                                                src="{{ asset('img/facebook_gris-footer.png') }}"
                                                alt="Page Facebook"
                                                title="Facebook"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a title="sowrs instagram profile" class="nav-link"
                           href="https://www.instagram.com/we.are.sowrs/" target="_blank"><img
                                    class="logo_instagram" src="{{ asset('img/instagram_gris-footer.png') }}"
                                    alt="Page instagram"
                                    title="Instagram"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a title="sowrs linkedin profile" class="nav-link"
                           href="https://www.linkedin.com/company/sowrs/" target="_blank"><img
                                    class="logo_linkedin" src="{{ asset('img/linkedin_grist-footer.png') }}"
                                    alt="Page linkedin"
                                    title="LinkedIn"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a title="sowrs twitter profile" class="nav-link" href="https://twitter.com/sowrs_com"
                           target="_blank"><img class="logo_twitter"
                                                src="{{ asset('img/twitter_gris-footer.png') }}"
                                                alt="Page twitter"
                                                title="Twitter"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a title="sowrs youtube channel" class="nav-link"
                           href="https://www.youtube.com/channel/UC4ImaANXz2OlD4-Yz7XBV3g" target="_blank"><img
                                    class="logo_instagram" src="{{ asset('img/youtube_grist-footer.png') }}"
                                    alt="Page Youtube"
                                    title="Youtube"></a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a title="sowrs tipeee profile" class="nav-link" href="https://fr.tipeee.com/sowrs"
                           target="_blank"><img class="logo_tipeee" src="{{ asset('img/tipeee_gris-footer.png') }}"
                                                alt="Page tipeee"
                                                title="Tipeee"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>