<div class="row abstractJobOffer border border-2 p-3 m-4 gx-0 shadow bg-light">
    <div class="row">
        <div class="col-md-9 col-sm-8">
            <h4 class="abstractJobOfferTextTitle col-12">{{ jobOffer.title }}</h4>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="options_offer">
                {% if jobOffer.published == true %}
                    <span title="Mettre en pause"> <a class="abstractJobOfferButtonPause col-lg-3 m-2 text-center align-self-center"
                                                      href="{{ path('jobOffer_pauseAndPlayOffer', {'id':jobOffer.id}) }}"
                                                      role="button">
                <img class="abstractJobOfferPause" src="{{ asset('img/boostrap/pause-fill-white.svg') }}" alt="pause offer" title="Mettre l'offre hors ligne"/>
            </a></span>
                {% else %}
                    <span title="Mettre sur play"> <a class="abstractJobOfferButton col-lg-3 m-2 text-center align-self-center"
                                                      href="{{ path('jobOffer_pauseAndPlayOffer', {'id':jobOffer.id}) }}"
                                                      role="button">
                <img class="abstractJobOfferImgPlay" src="{{ asset('img/boostrap/play-fill-white.svg') }}" alt="set offer" title="Mettre l'offre en ligne"/>
            </a></span>
                {% endif %}
                <span title="Actualiser l'offre"> <a class="abstractJobOfferButton col-lg-3 m-2 text-center align-self-center" href="{{ path('jobOffer_refreshOffer', {'id':jobOffer.id}) }}"
                                                     role="button">
            <img class="abstractJobOfferImgRepeat" src="{{ asset('img/boostrap/arrow-repeat-white.svg') }}" alt="repeat offer" title="Actualiser l'offre"/>
            </a></span>
                <span title="Modifier l'offre"> <a class="abstractJobOfferButton col-lg-3 m-2 text-center align-self-center" href="{{ path('jobOffer_modifyJobOffer', {'id':jobOffer.id}) }}"
                                                   role="button">
            <img class="abstractJobOfferImgPencil" src="{{ asset('img/boostrap/pencil-fill-white.svg') }}" alt="modify offer" title="Modifier l'offre"/>
            </a></span>
                <span title="Supprimer l'offre"> <a class="abstractJobOfferButtonTrash col-lg-3 m-2 text-center align-self-center"
                                                    href="{{ path('jobOffer_deleteOffer', {'id':jobOffer.id}) }}" role="button">
            <img class="abstractJobOfferImgTrash" src="{{ asset('img/boostrap/trash-fill-white.svg') }}" alt="delete offer" title="Supprimer l'offre">
            </a></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            {# <img class="abstractJobOfferImgGlobe2 col-lg-3" src="{{ asset('img/boostrap/globe2.svg') }}" alt="localisation" title="Localisation de l'offre"/> #}
            <p>{{ jobOffer.country.name }}</p>
        </div>
        <div class="col-md-3 col-sm-6">
            {# <img class="abstractJobOfferImgStopwatch col-lg-3" src="{{ asset('img/boostrap/stopwatch.svg') }}" alt="creation date" title="Date de création de l'offre"/> #}
            <p>{{ jobOffer.creationDate|date("y-m-d H:i") }}</p>
        </div>
        <div class="col-md-2 col-sm-6">
            {# <img class="abstractJobOfferImgEye col-lg-3" src="{{ asset('img/boostrap/eye.svg') }}" alt="number of views" title="Nombre de vues de l'offre"/> #}
            <p>
                {% if jobOffer.NumberOfViews > 0 %}
                    {{ jobOffer.NumberOfViews }}
                {% else %}
                    0
                {% endif %}
                vues</p>
        </div>
        {#
        <div class="col-3">
            <img class="abstractJobOfferImgPeople col-lg-3" src="{{ asset('img/boostrap/people-fill.svg') }}" alt="apply" title="Nombre de candidatures"/>
            <p class="abstractJobOfferText col-lg-9 p-0">Candidatures</p>
        </div>
        #}
        <div class="col-md-4 col-sm-6">
            {% if jobOffer.telecommuting %}
                <div class="row">
                    <p>Télétravail accepté</p>
                </div>
            {% else %}
                <div class="row">
                    <p>Télétravail refusé</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>