<div class="card_job">
    <div class="first_section_card_job">
        <div class="picture_entity_job_offer">
            {% if app.user.picture is not empty %}
                <img class="" id="show_joboffer_photo_profile" src="{{ asset('images/profils/' ~ app.user.picture.pictureName )}}"
                     alt="photo du profil" title="Photo de profil">
            {% else %}
                <img class="" id="show_joboffer_photo_profile" src="{{ asset('images/profils/avatar.jpg' )}}"
                     alt="photo par défaut" title="Avatar SOWRS">
            {% endif %}
        </div>
        <div class="content-box align-self-center info_card_job">
            <a target="_blank" class="link_offer_view" href="{{ path('jobOffer_show', {"id":jobOffer.id}) }}"><span class="job_text_title">{{ jobOffer.title }}</span></a>
            <span class="abstractTextRegion abstractJobOfferText">{{ jobOffer.city }} {% if jobOffer.department is not empty %}({{ jobOffer.department.cp}}){% endif %}<br>{{ jobOffer.country.name }}</span>
        </div>
        <div class="content-box align-self-center info_card_job">
            {# <img class="abstractJobOfferImgEye col-lg-3" src="{{ asset('img/boostrap/eye.svg') }}" alt="number of views" title="Nombre de vues de l'offre"/> #}
            <p class="offer_views">
                {% if jobOffer.NumberOfViews > 0 %}
                    {{ jobOffer.NumberOfViews }}
                {% else %}
                    0
                {% endif %}
                <br>vues</p>
        </div>
        {% if jobOffer.creationDate is not empty %}
            <div class="content-box align-self-center info_card_job">
                <p class="offer_views">
                    <strong>Date</strong><br />
                    {{ jobOffer.creationDate|date('d/m/Y') }}
                </p>
            </div>
        {% endif %}
    </div>
    <div class="second_section_card_job ">
        <div class="content-box align-self-center ">
            <div class="options_offer positionBtn">
                <span title="Modifier l'offre"> <a class="abstractJobOfferButton col-lg-3 m-1 text-center align-self-center" href="{{ path('jobOffer_modifyJobOffer', {'id':jobOffer.id}) }}"
                                                   role="button">
            <img class="abstractJobOfferImgPencil" src="{{ asset('img/boostrap/pencil-fill-white.svg') }}" alt="modify offer" title="Modifier l'offre"/>
            </a></span>
                <span title="Actualiser l'offre"> <a class="abstractJobOfferButton col-lg-3 m-1 text-center align-self-center" href="{{ path('jobOffer_refreshOffer', {'id':jobOffer.id}) }}"
                                                     role="button">
            <img class="abstractJobOfferImgRepeat" src="{{ asset('img/boostrap/arrow-repeat-white.svg') }}" alt="repeat offer" title="Actualiser l'offre"/>
            </a></span>
                {% if jobOffer.published == true %}
                    <span title="Mettre en pause"> <a class="abstractJobOfferButtonPause col-lg-3 m-1 text-center align-self-center"
                                                      href="{{ path('jobOffer_pauseAndPlayOffer', {'id':jobOffer.id}) }}"
                                                      role="button">
                <img class="abstractJobOfferPause" src="{{ asset('img/boostrap/pause-fill-white.svg') }}" alt="pause offer" title="Mettre l'offre hors ligne"/>
            </a></span>
                {% else %}
                    <span title="Mettre sur play"> <a class="abstractJobOfferButton col-lg-3 m-1 text-center align-self-center"
                                                      href="{{ path('jobOffer_pauseAndPlayOffer', {'id':jobOffer.id}) }}"
                                                      role="button">
                <img class="abstractJobOfferImgPlay" src="{{ asset('img/boostrap/play-fill-white.svg') }}" alt="set offer" title="Mettre l'offre en ligne"/>
            </a></span>
                {% endif %}
                <span title="Supprimer l'offre"> <a class="abstractJobOfferButtonTrash col-lg-3 m-2 text-center align-self-center" href="{{ path('jobOffer_deleteOffer', {'id':jobOffer.id}) }}" role="button">
                    <img class="abstractJobOfferImgTrash btn_delete_offer" src="{{ asset('img/boostrap/trash-fill-white.svg') }}" alt="delete offer" title="Supprimer l'offre">
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>