{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}
{% block title %}Sowrs | Candidatures reçues{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row gx-0">
            <div class="col-lg-3 border-end border-2">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar'))}}
            </div>
            <div class="col-lg-9 gx-0">
                <div class="container mb-5 background-title">
                    <div class="row h-100">
                        <div class="col-sm-6 text-center align-self-center text-white">
                            <h3 class="title">CANDIDATURES REÇUES</h3>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    {% if candidatures is not empty %}
                        {% for candidature in candidatures %}
                            {% if candidature.userRecipient is same as app.user %}
                                <div class="row abstractJobOffer border border-2 p-3 m-4 gx-0 shadow bg-light">
                                    <div class="col-lg-3 align-self-center">
                                        {% if candidature.userSender.picture is not empty %}
                                            <img id="photo_profile" src="{{ asset('images/profils/' ~ candidature.userSender.picture.pictureName )}}"
                                                 alt="photo du profil">
                                        {% else %}
                                            <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                                                 alt="photo du profil">
                                        {% endif %}
                                    </div>

                                    <div class="apply_div col-lg-5">
                                        {% if candidature.userSender.firstname and candidature.userSender.lastname %}
                                            <p class="apply" ><strong>{{ candidature.userSender.firstName|capitalize}} {{ candidature.userSender.lastName|upper }}</strong></p>
                                        {% endif %}
                                        {% if candidature.userSender.currentRole is not empty %}
                                            <p class="apply"> {{ candidature.userSender.currentRole }}</p>
                                        {% endif %}
                                        {% if candidature.userSender.city and candidature.userSender.department is not empty %}
                                            <p class="apply">{{ candidature.userSender.city|capitalize}} ({{ candidature.userSender.department.cp }})</p>
                                        {% endif %}
                                        {% if candidature.userSender.scoring is not empty %}
                                            <p class="apply"><strong>Taux de sens : </strong>{{ candidature.userSender.scoring.dominantsens}} {{ candidature.userSender.scoring.societal }}%</p>
                                        {% endif %}
                                    </div>
                                    <div class="align-self-center col-lg-4">
                                        <a href="{{ path('read_message', {'id': candidature.id}) }}" class="btn">Voir la candidature</a>
                                    </div>
                                </div>
                            {% endif%}
                        {% endfor %}
                    {% else %}
                        <div class="row empty_applies_info">
                            <h4 class="empty_applies_text">Vous n'avez pas encore reçu de candidature ... Mais ce n'est qu'une question de temps &#128521</h4>
                            <div class="responsiveBtn">
                                <button type="button" class="btn btn_applies_options"><a href="{{ path('dash_board_job_offer_create') }}" class="link_applie_option">Créé une annonce</a></button>
                                <button type="button" class="btn btn_applies_options"><a href="{{ path('main_candidate_list') }}" class="link_applie_option">Rechercher des candidats</a></button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                    {{ knp_pagination_render(candidatureList) }}
            </div>
        </div>

    </div>

{% endblock %}