{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ recruiter.entityName }}
{% endblock %}

{% block body %}
    <div class="row">

        {# LEFT PART OF PROFIL PAGE #}

        <div class="col-lg-3 col-md-12 left_part_recruiter_profil">
            <div class="col-12">
                {# profil picture or avatar #}
                <div class="row">
                    {% if recruiter.picture %}
                        <img id="photo_profile" src="{{ asset('images/profils/' ~ recruiter.picture.pictureName )}}"
                             alt="photo du profil" title="{{ recruiter.entityName }}">
                    {% else %}
                        <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg' )}}"
                             alt="photo par défaut" title="Avatar SOWRS">
                    {% endif %}
                </div>
                {# reason to be or empty #}
                <div class="row">
                    {% if recruiter.reasonToBe %}
                    <p id="p_reason_recruiter">
                        {{ recruiter.reasonToBe }}
                    </p>
                    {% else %}
                        <p id="p_reason_recruiter">
                            Chaque entreprise a une raison d'être,
                            cette entité vous la fera bientôt connaître.
                        </p>
                    {% endif %}
                </div>
                {# carbon footprint, default message if not specified #}
                <div class="row">
                    {% if recruiter.carbonFootPrint %}
                        <p>
                            {{ recruiter.carbonFootPrint }} kg CO² / an.
                        </p>
                    {% else %}
                        <p>
                            L'empreinte carbone de l'entreprise est en cours de calcul.
                        </p>
                    {% endif %}
                </div>
                {# return button #}
                <div class="row">
                    <a href="{{ path('dashboard_details') }}" id="btn_return_recruiter" class="btn required">Retour</a>
                </div>
            </div>
        </div>

        {# RIGHT PART OF PROFIL PAGE #}

        <div class="col-lg-9 col-md-12">
            <div class="row">
                {# ENTITY NAME #}
                <div class="col-lg-8 col-md-12 entity_title">
                    <h3 id="entity_name">{{ recruiter.entityName }}</h3>
                </div>

                {# SOCIAL NETWORK #}
                <div class="col-lg-4 col-md-12 container_social_recruiter">
                    {% if recruiter.socialNetwork %}
                        {% if recruiter.socialNetwork.website %}
                            <a href="{{ recruiter.socialNetwork.website }}"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.linkedin %}
                            <a href="{{ recruiter.socialNetwork.linkedin }}"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.stackOverflow %}
                            <a href="{{ recruiter.socialNetwork.stackOverflow }}"><img src="{{ asset('img/logo_stackoverflow_mini.png') }}" alt="mon stackoverflow" title="StackOverflow" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.github %}
                            <a href="{{ recruiter.socialNetwork.github }}"><img src="{{ asset('img/logo_github_mini.png') }}" alt="mon github" title="Github" class="social_link_mini" /></a>
                        {% endif %}
                    {% else %}
                        <p>
                            Entreprise pas présente sur les réseaux
                        </p>
                    {% endif %}
                </div>
            </div>
            {# entity informations #}
            <div class="row">
                <p class="categorie_title">
                    Présentation du profil
                </p>
            </div>
            <div class="row">
                <div class="col-6">
                    {# responsability profil picture #}
                    <div class="row">
                        <div class="container_picture_sense_rate">
                            {% if app.user.scoring.dominantSens is same as 'social' %}
                                <a href="{{ path('dash_board_entitySenseRate') }}">
                                    <img class="img-fluid" src="{{ asset('img/social500.png') }}"
                                         alt="sens-social">
                                </a>
                            {% elseif app.user.scoring.dominantSens is same as 'economique' %}
                            <a href="{{ path('dash_board_entitySenseRate') }}">
                                <img class="img-fluid" src="{{ asset('img/econonomie500.png') }}"
                                     alt="sens-social">
                            </a>
                            {% elseif app.user.scoring.dominantSens is same as 'societal' %}
                            <a href="{{ path('dash_board_entitySenseRate') }}">
                                <img class="img-fluid" src="{{ asset('img/societal500.png') }}"
                                     alt="sens-social">
                            </a>
                            {% elseif app.user.scoring.dominantSens is same as 'environnemental' %}
                            <a href="{{ path('dash_board_entitySenseRate') }}">
                                <img class="img-fluid"src="{{ asset('img/environnemental500.png') }}"
                                     alt="sens-social">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6 entity_resume">
                    {# main cause #}
                    <div class="row">
                        {% if recruiter.mainCause %}
                            <p>
                                Cause principale : <br>
                                {{ recruiter.mainCause.text }}
                            </p>
                        {% else %}
                            <p>
                                Cause principale non déterminée
                            </p>
                        {% endif %}
                    </div>
                    {# adress #}
                    <div class="row">
                        {% if recruiter.city and recruiter.country %}
                            <div class="row">
                                <p>
                                    Localisation : <br>
                                    {{ recruiter.city }} - {{ recruiter.country }}
                                </p>
                            </div>
                        {% else %}
                            <p>
                                Adresse indéterminée
                            </p>
                        {% endif %}
                    </div>
                    {# legal status #}
                    <div class="row">
                        {% if recruiter.legalStatus %}
                            <p>
                                Statut légal : <br>
                                {{ recruiter.legalStatus.text }}
                            </p>
                        {% else %}
                            <p>
                                Le statut légal de l'entreprise n'est pas défini
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {# ABOUT THE ENTITY #}
            <div class="row p_about_entity">
                {% if recruiter.about %}
                <p>
                    {{ recruiter.about }}
                </p>
                {% else %}
                    <p>
                        L'entreprise n'en a pas dit plus sur elle, mais ça ne saurait tarder !
                    </p>
                {% endif %}
            </div>

            {# engagements #}
            <div class="block_engagements">
                <div class="row">
                    <p class="categorie_title">
                        Engagements quotidiens
                    </p>
                </div>
                <div class="row">
                    {# selective sorting #}
                    <div class="col-6">
                        {% if recruiter.selectiveSorting %}
                            <div class="container_engagements">
                                <img src="{{ asset('img/logo_checked_mini.png') }}" alt="tri sélectif" title="Engagement pour le tri sélectif" />
                                <p>
                                    Engagé pour le tri sélectif
                                </p>
                            </div>
                        {% else %}
                            <p class="alert alert-danger" role="alert">
                                Pas encore engagée pour le tri sélectif
                            </p>
                        {% endif %}
                    </div>
                    {# zero paper goal #}
                    <div class="col-6">
                        {% if recruiter.zeroPaperGoal %}
                            <div class="container_engagements">
                                <img src="{{ asset('img/logo_checked_mini.png') }}" alt="zéro papier" title="Objectif zéro papier" />
                                <p>
                                    Engagé dans un objectif zéro papier
                                </p>
                            </div>
                        {% else %}
                            <p class="alert alert-danger" role="alert">
                                Pas encore engagée dans un objectif zéro papier
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {# zero waste goal #}
                    <div class="col-6">
                        {% if recruiter.zeroWasteGoal %}
                            <div class="container_engagements">
                                <img src="{{ asset('img/logo_checked_mini.png') }}" alt="zéro déchets" title="Objectif zéro déchets" />
                                <p>
                                    Engagé dans un objectif zéro déchets
                                </p>
                            </div>
                        {% else %}
                            <p class="alert alert-danger" role="alert">
                                Pas encore engagée dans un objectif zéro déchets
                            </p>
                        {% endif %}
                    </div>
                    {# zero plastic goal #}
                    <div class="col-6">
                        {% if recruiter.zeroPlasticGoal %}
                            <div class="container_engagements">
                                <img src="{{ asset('img/logo_checked_mini.png') }}" alt="zéro plastique" title="Objectif zéro plastique" />
                                <p>
                                    Engagé dans un objectif zéro plastique
                                </p>
                            </div>
                        {% else %}
                            <p class="alert alert-danger" role="alert">
                                Pas encore engagée dans un objectif zéro plastique
                            </p>
                        {% endif %}
                    </div>
                </div>

                {# recognitions #}
                <div class="row">
                    <p class="categorie_title">
                        Reconnaissances
                    </p>
                </div>
                <div class="row">
                    {% if recruiter.recognitions is not empty %}
                        <ul class="list-group col-6 offset-3">
                        {% for recognition in recruiter.recognitions %}
                            <li class="list-group-item list_recognition">{{ recognition.description }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p id="no_reco" class="alert alert-danger" role="alert">
                            L'entreprise n'a pas encore indiqué les reconnaissances qu'elle possède
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>


        {# BOTTOM PART WITH JOB OFFERS #}

        <div class="row">
            <div class="col-12">
                {# offers #}
                <div class="row">
                    <p class="job_offer_title">
                        Offres d'emploi
                    </p>
                </div>
                <div class="row">
                    {% if recruiter.jobOffers is not empty %}
                        {% for jobOffer in recruiter.jobOffers %}
                            <div class="col-10 offset-1 alert alert-success job_offer_recruiter" role="alert">
                                <a href="{{ path('jobOffer_show',{'id':jobOffer.id}) }}" class="link_jobOffer"><h4>{{ jobOffer.title }}</h4></a>
                                <p>{{ jobOffer.contractType.wording }} | {{ recruiter.city }} - {{ recruiter.country }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="alert alert-danger" role="alert">
                            L'entreprise n'a pas d'offre d'emploi en ce moment
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}