{% extends 'base.html.twig' %}

{% block title %} Sowrs
    {% if candidate.firstname and candidate.lastname %}
    | {{ candidate.firstname }} {{ candidate.lastname }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
{% endblock %}

{% block body %}
    <div class="show_candidate_jumbotron pt-3">
        <div class="col-lg-1 mx-auto">
             <div class="candidate_picture text-center">
                {% if candidate.picture %}
                    {% if candidate.picture.pictureName is same as '' %}
                        <img id="show_joboffer_photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                             alt="photo du profil" title="Photo de profil">
                    {% else %}
                        <img id="show_joboffer_photo_profile" src="{{ asset('images/profils/' ~ candidate.picture.pictureName )}}"
                             alt="photo du profil" title="{{ candidate.lastname }} {{ candidate.firstname }}">
                    {% endif %}
                {% else %}
                <img id="show_candidate_photo_profile" class="rounded-circle"
                     src="{{ asset('images/profils/avatar.jpg') }}"
                     alt="photo du profil">
                {% endif %}
             </div>
        </div>
        <div class="col-lg-5 mx-auto mt-3">
            <h4 class="show_candidate_jumbotron_name">
                {{ candidate.firstName | capitalize }} {{ candidate.lastName | upper }}
                {% if candidate.isHandicaped %}
                    <i class="fas fa-wheelchair"></i>
                {% endif %}
            </h4>
        </div>
        <h5 class="show_candidate_jumbotron_infos">
            {% if candidate.currentjob %}
            {{ candidate.currentJob | capitalize }}
            {% endif %}
            {% if candidate.jobSearch %}
                {% if candidate.jobSearch.country.name %}
                    - {{ candidate.jobSearch.country.name |capitalize }}
                {% endif %}
                {% if candidate.jobSearch.city %}
                    - {{ candidate.jobSearch.city |capitalize }}
                {% endif %}
                {% if candidate.jobSearch.contractType.wording %}
                    - {{ candidate.jobSearch.contractType.wording | capitalize }}
                {% endif %}
                {% if candidate.jobSearch.desiredRemuneration %}
                    - {{ candidate.jobSearch.desiredRemuneration.text | capitalize }}
                {% endif %}
            {% endif %}
        </h5>
        {% if candidate.inspiration %}
            <p class="show_candidate_jumbotron_inspiration">" {{ candidate.inspiration|capitalize }} "</p><br>
        {% endif %}
        {% if candidate.cv is not empty %}
            <a class="btn position-absolute start-50 translate-middle" href="{{ asset('file/cv/' ~ candidate.cv.cvName) }}" target="_blank">Télécharger le CV</a>
        {% endif %}
    </div>
    <div class="row">
        <div class=" col-lg-8 col-md-12 left_part_profil">
            {# about the entity #}
            <div class="container_category_profil">
                <div class="row">
                    <h3 class="profil_category_title">&Agrave; propos de {{ candidate.firstname }}</h3>
                </div>
                <div class="row">
                    {% if candidate.about %}
                        <p class="show_candidate_about">
                            {{ candidate.about|nl2br }}
                        </p>
                    {% else %}
                        <p class="alert alert-success">
                            Le candidat n'a pas encore renseigné l'À propos
                        </p>
                    {% endif %}
                </div>
            </div>
            {# engagements #}
            <div class="container_category_profil">
                <div class="row">
                    <h3 class="profil_category_title">{{ candidate.firstname|capitalize }} est engagé dans :</h3>
                </div>
                {% if(candidate.commitments is not empty) %}
                    <div class="row">
                        {% for commitment in candidate.commitments %}
                            <div class="commitment_candidate col-12">
                                <h3>{{ commitment.title }}</h3>
                                <p>
                                    {{ commitment.text }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        Le candidat n'a pas encore renseigné ses engagements
                    </div>
                {% endif %}
            </div>
            {% if candidate.cv is not empty %}
                <div class="row block_cv_pdf">
                    <div class="container_cv_pdf col-sm-12 col-lg-10 offset-lg-1">
                        <object type="application/pdf" width="100%" height="100%" class="cv_object">
                            <param name="src" value="{{ asset("file/cv/" ~candidate.cv.cvName) }}" />
                            <p>Votre navigateur ne semble pas configuré pour lire des PDF.
                                Pas de panique, <a href="{{ asset("file/cv/" ~candidate.cv.cvName) }}">Téléchargez-le</a>
                            </p>
                        </object>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-4 col-md-12 right_part right_part_show_candidate">
            <div class="show_candidate_sens_rate">
                {% if candidate.scoring is not empty %}
                    <div class="container_show_candidate_sense_rate">
                        <div class="block_img_sense_rate">
                            {% if candidate.scoring.dominantSens is same as 'social' %}
                                <img class="mini_img_sense_rate" src="{{ asset('img/social500.png') }}" alt="taux de sens">
                            {% elseif candidate.scoring.dominantSens is same as 'economique' %}
                                <img class="mini_img_sense_rate" src="{{ asset('img/econonomie500.png') }}" alt="taux de sens">
                            {% elseif candidate.scoring.dominantSens is same as 'societal' %}
                                <img class="mini_img_sense_rate" src="{{ asset('img/societal500.png') }}" alt="taux de sens">
                            {% elseif candidate.scoring.dominantSens is same as 'environnemental' %}
                                <img class="mini_img_sense_rate" src="{{ asset('img/environnemental500.png') }}" alt="taux de sens">
                            {% endif %}
                        </div>
                        <div class="text_sense_rate_show_candidate">
                            <h5>Taux de sens</h5>
                            <h5>{{ candidate.scoring.dominantPourcent }}% {{ candidate.scoring.dominantSens }}</h5>
                        </div>
                        <div class="btn_sense_rate_show_candidate">
                            <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas" title="Détails du taux de sens" id="btn_doughnut">
                        </div>
                    </div>
                    <div class="show_candidate_doughnutmx-auto pb-1 collapse" id="doughnut">
                        <canvas id="myChart"></canvas>
                        <br>
                    </div>
                {% else %}
                    <p class="alert alert-success">
                        Le candidat n'a pas encore calculé son taux de sens
                    </p>
                {% endif %}
            </div>
            <br>
            <div class="complementary_infos_container">
                <div class="row">
                    {% if candidate.levelExperience is not empty %}
                        <h3 class="profil_category_title_candidate">Niveau d'expérience : <span>{{ candidate.levelExperience.wording }}</span></h3>
                    {% else %}
                        <p class="alert alert-light">
                            Expérience non renseignée
                        </p>
                    {% endif %}
                </div>
                {# study level #}
                <div class="row">
                    {% if candidate.levelStudy is not empty %}
                        <h3 class="profil_category_title_candidate">Niveau d'études : <span>{{ candidate.levelStudy.wording }}</span></h3>
                    {% else %}
                        <h3 class="profil_category_title_candidate">Niveau d'études : <span>Non renseigné</span></h3>
                    {% endif %}
                </div>
                {# searched job #}
                <div class="row">
                    {% if candidate.jobSearch is not empty %}
                        <h3 class="profil_category_title_candidate">Poste recherché : <span>{{ candidate.jobSearch.jobTitle }}</span></h3>
                    {% else %}
                        <h3 class="profil_category_title_candidate">Poste recherché : <span>Non renseigné</span></h3>
                    {% endif %}
                </div>
                {# main cause #}
                <div class="row">
                    {% if candidate.mainCause is not empty %}
                        <h3 class="profil_category_title_candidate">Cause défendue : <span>{{ candidate.mainCause.text }}</span></h3>
                    {% else %}
                        <h3 class="profil_category_title_candidate">Cause défendue : <span>non renseigné</span></h3>
                    {% endif %}
                </div>
                {# can work in (country) #}
                <div class="row">
                    {% if candidate.authorizedCountry is not empty %}
                        <h3 class="profil_category_title_candidate">Autorisé à travailler : <span>{{ candidate.authorizedCountry.name }}</span></h3>
                    {% else %}
                        <h3 class="profil_category_title_candidate">Autorisé à travailler : <span>Non renseigné</span></h3>
                    {% endif %}
                </div>
                {# languages #}
                <div class="row">
                    {% if candidate.languages is not empty %}
                        <h3 class="profil_category_title_candidate">Langues :
                            <span>&bull;</span>
                            {% for language in candidate.languages %}
                                <span>{{ language.name }} &bull;</span>
                            {% endfor %}
                        </h3>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row container_social_link">
                {% if candidate.socialNetwork %}
                    {% if candidate.socialNetwork.website %}
                        <a href="{{ candidate.socialNetwork.website }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                    {% endif %}
                    {% if candidate.socialNetwork.linkedin %}
                        <a href="{{ candidate.socialNetwork.linkedin }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                    {% endif %}
                    {% if candidate.socialNetwork.stackOverflow %}
                        <a href="{{ candidate.socialNetwork.stackOverflow }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_stackoverflow_mini.png') }}" alt="mon stackoverflow" title="StackOverflow" class="social_link_mini" /></a>
                    {% endif %}
                    {% if candidate.socialNetwork.github %}
                        <a href="{{ candidate.socialNetwork.github }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_github_mini.png') }}" alt="mon github" title="Github" class="social_link_mini" /></a>
                    {% endif %}
                {% else %}
                    <p class="alert alert-light">
                        Candidat pas présent sur les réseaux
                    </p>
                {% endif %}
            </div>

            {# contact form #}

            <div class="row container_contact">
                <div>
                    <h3 class="profil_category_title_bottom">Contact </h3>
                    {{ form_start(formMessage) }}
                    {{ form_row(formMessage.subject) }}
                    {{ form_row(formMessage.body) }}
                    <div class="container_upload_files">
                        {{ form_row(formMessage.cvFile) }}
                        {{ form_row(formMessage.mediaFile) }}
                    </div>
                    <button type="submit" class="btn required btn_send_message">Envoyer</button>
                    {{ form_end(formMessage) }}
                </div>
            </div>
        </div>
    </div>
    <div class="general_modal uploaded_file_message_recruiter_modal">
        <div class="just_simple_info_modal">
            <h4>Fichier uploadé avec succès &#128077</h4>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if candidate.scoring %}
        <script>
            const btn_doughnut = document.getElementById('btn_doughnut');
            const doughnut = document.getElementById('doughnut');

            btn_doughnut.addEventListener('click', function (e) {
                e.currentTarget.classList.toggle('rotate');
                doughnut.classList.toggle('collapse');
            })


            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Social', 'Environnement', 'Economie', 'Societal'],
                    datasets: [{
                        label: '# of Votes',
                        data: [
                            {{ candidate.scoring.social }},
                            {{ candidate.scoring.environment }},
                            {{ candidate.scoring.economy }},
                            {{ candidate.scoring.societal }}
                        ],
                        backgroundColor: [
                            'rgb(101, 220, 226)',
                            'rgb(91, 187, 199)',
                            'rgb(111, 110, 214)',
                            'rgb(76, 166, 218)',
                        ],
                    }]
                },
                options: {}
            });
        </script>
    {% endif %}
    <script>
        let labelCV = document.querySelector('label[for="message_cvFile"]');
        let labelMedia = document.querySelector('label[for="message_mediaFile"]');
        labelCV.innerHTML = '<i class="fas fa-3x fa-file-upload file_upload_first"></i>';
        labelMedia.innerHTML = '<i class="fas fa-3x fa-file-upload file_upload_second"></i>';
        labelCV.setAttribute('title', 'Importer un premier document');
        labelMedia.setAttribute('title', 'Importer un second document');
        labelCV.setAttribute('style', 'cursor:pointer;');
        labelMedia.setAttribute('style', 'cursor:pointer;');
    </script>

    {# Change the upload appaerance when file is uploaded #}
    <script>
        const fileUploadMessageRecruiter = document.querySelector(".uploaded_file_message_recruiter_modal");

        window.addEventListener('load', function (){
            let firstDocument = document.querySelector('#message_cvFile');
            let secondDocument = document.querySelector('#message_mediaFile');
            let btn_upload_first = document.querySelector('.file_upload_first');
            let btn_upload_second = document.querySelector('.file_upload_second');
            firstDocument.addEventListener('change', function (){
                btn_upload_first.setAttribute('style', 'color:#1DCA91!important;');
                btn_upload_first.setAttribute('title', firstDocument.value);
                fileUploadMessageRecruiter.setAttribute('style', 'display:flex');
                setTimeout(function (){
                    fileUploadMessageRecruiter.setAttribute('style', 'display:none');
                }, 2000);
            });
            secondDocument.addEventListener('change', function (){
                btn_upload_second.setAttribute('style', 'color:#1DCA91!important;');
                btn_upload_second.setAttribute('title', secondDocument.value);
                fileUploadMessageRecruiter.setAttribute('style', 'display:flex');
                setTimeout(function (){
                    fileUploadMessageRecruiter.setAttribute('style', 'display:none');
                }, 2000);
            });
        });

    </script>
{% endblock %}