{% extends 'base.html.twig' %}

{% block title %} Sowrs | {{ candidate.firstname }}-{{ candidate.lastname }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

{% endblock %}

{% block body %}
    <div class="show_candidate_jumbotron pt-3">
        <div class="col-lg-1 mx-auto">
             <div class="candidate_picture">
            {% if candidate.picture %}
                {% if candidate.picture.pictureName is same as '' %}
                    <img id="show_candidate_photo_profile" class="rounded-circle"
                         src="{{ asset('images/profils/avatar.jpg') }}"
                         alt="photo du profil">
                {% else %}
                    <img id="show_candidate_photo_profile" class="rounded-circle"
                         src="{{ asset('images/profils/' ~candidate.picture.pictureName ) }}"
                         alt="photo du profil">
                {% endif %}
            {% else %}
                <img id="show_candidate_photo_profile" class="rounded-circle"
                     src="{{ asset('images/profils/avatar.jpg') }}"
                     alt="photo du profil">
            {% endif %}
             </div>
        </div>
        <div class="col-lg-5 mx-auto">
            <h4 class="show_candidate_jumbotron_name">{{ candidate.firstName | capitalize }} {{ candidate.lastName | upper }}</h4>
        </div>
        <h5 class="show_candidate_jumbotron_infos">
            {% if candidate.currentRole %}
            {{ candidate.currentRole | capitalize }}
            {% endif %}
            {% if candidate.jobSearch %}
                {% if candidate.jobSearch.country.name %}
                    - {{ candidate.jobSearch.country.name |capitalize }}
                {% endif %}
                {% if candidate.jobSearch.city %}
                    - {{ candidate.jobSearch.city |capitalize }}
                {% endif %}
                {% if candidate.jobSearch.contractType.wording %}
                    - {{ candidate.jobSearch.contractType.wording | capitalize }}
                {% endif %}
                {% if candidate.jobSearch.desiredRemuneration %}
                    - {{ candidate.jobSearch.desiredRemuneration.text | capitalize }}
                {% endif %}
            {% endif %}
        </h5>
        {% if candidate.inspiration %}
            <p class="show_candidate_jumbotron_inspiration">" {{ candidate.inspiration }} "</p><br>
        {% endif %}
        <a type="button" class="btn position-absolute start-50 translate-middle">Télécharger le CV</a>
    </div>
    <div class="row">
        <div class=" col-lg-8 col-md-12 left_part_profil">
            {# about the entity #}
            <div class="container_category_profil">
                <div class="row">
                    <h3 class="profil_category_title">&Agrave; propos de {{ candidate.firstname }}</h3>
                </div>
                <div class="row">
                    {% if candidate.about %}
                        <p>
                            {{ candidate.about }}
                        </p>
                    {% else %}
                        <p class="alert alert-success">
                            Le candidat n'a pas encore renseigné l'À propos
                        </p>
                    {% endif %}
                </div>
            </div>
            {# engagements #}
            <div class="container_category_profil">
                <div class="row">
                    <h3 class="profil_category_title">{{ candidate.firstname }} est engagé dans :</h3>
                </div>
                {% if(candidate.commitments is not empty) %}
                    <div class="row">
                        {% for commitment in candidate.commitments %}
                            <div class="commitment_candidate col-12">
                                <h3>{{ commitment.title }}</h3>
                                <p>
                                    {{ commitment.text }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        Le candidat n'a pas encore renseigné ses engagements
                    </div>
                {% endif %}
            </div>
            {% if candidate.cv is not empty %}
                <div class="row">
                    <div class="container_cv_pdf col-sm-12 col-lg-10 offset-lg-1">
                        <object type="application/pdf" width="100%" height="100%" class="cv_object">
                            <param name="src" value="{{ asset("file/cv/" ~candidate.cv.cvName) }}" />
                            <p>Votre navigateur ne semble pas configuré pour lire des PDF.
                                Pas de panique, <a href="{{ asset("file/cv/" ~candidate.cv.cvName) }}">Téléchargez-le</a>
                            </p>
                        </object>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-4 col-md-12 right_part">
            <div class="show_candidate_sens_rate">
                {% if candidate.scoring %}
                    <div class="row">
                        <div class="col-lg-2 block_img_sense_rate">
                            <img class="sense_rate_logo" src="{{ asset('img/sens/innegalite.png') }}" alt="sense rate" title="Taux de sens">
                        </div>
                        <div class="col-lg-8">
                            <h5>Taux de sens</h5>
                            <h5>{{ candidate.scoring.dominantPourcent }}% {{ candidate.scoring.dominantSens }}</h5>
                        </div>
                        <div class="col-lg-1 mt-4">
                            <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas" title="Détails du taux de sens" id="btn_doughnut">
                        </div>
                    </div>
                    <div class="show_candidate_doughnut col-lg-8 mx-auto pb-1 collapse" id="doughnut">
                        <canvas id="myChart"></canvas>
                        <br>
                    </div>
                {% else %}
                    <p class="alert alert-success">
                        Le candidat n'a pas encore calculé son taux de sens
                    </p>
                {% endif %}
            </div>
            <br>
            <div class="complementary_infos_container">
                <div class="row">
                    {% if candidate.levelExperience is not empty %}
                        <h3 class="profil_category_title_candidate">Niveau d'expérience : <span>{{ candidate.levelExperience.wording }}</span></h3>
                    {% else %}
                        <p class="alert alert-light">
                            Expérience non renseignée
                        </p>
                    {% endif %}
                </div>
                {# study level #}
                <div class="row">
                    {% if candidate.levelStudy is not empty %}
                        <h3 class="profil_category_title_candidate">Niveau d'études : <span>{{ candidate.levelStudy.wording }}</span></h3>
                    {% else %}
                        <h3 class="profil_category_title_candidate">Niveau d'études : <span>Non renseigné</span></h3>
                    {% endif %}
                </div>
                {# searched job #}
                <div class="row">
                    {% if candidate.jobSearch is not empty %}
                        <h3 class="profil_category_title_candidate">Poste recherché : <span>{{ candidate.jobSearch.jobTitle }}</span></h3>
                    {% else %}
                        <h3 class="profil_category_title_candidate">Poste recherché : <span>Non renseigné</span></h3>
                    {% endif %}
                </div>
                {# main cause #}
                <div class="row">
                    {% if candidate.mainCause is not empty %}
                        <h3 class="profil_category_title_candidate">Cause défendue : <span>{{ candidate.mainCause.text }}</span></h3>
                    {% else %}
                        <h3 class="profil_category_title_candidate">Cause défendue : <span>non renseigné</span></h3>
                    {% endif %}
                </div>
                {# can work in (country) #}
                <div class="row">
                    {% if candidate.authorizedCountry is not empty %}
                        <h3 class="profil_category_title_candidate">Autorisé à travailler : <span>{{ candidate.authorizedCountry.name }}</span></h3>
                    {% else %}
                        <h3 class="profil_category_title_candidate">Autorisé à travailler : <span>Non renseigné</span></h3>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row container_social_link">
                {% if candidate.socialNetwork %}
                    {% if candidate.socialNetwork.website %}
                        <a href="{{ candidate.socialNetwork.website }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                    {% endif %}
                    {% if candidate.socialNetwork.linkedin %}
                        <a href="{{ candidate.socialNetwork.linkedin }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                    {% endif %}
                    {% if candidate.socialNetwork.stackOverflow %}
                        <a href="{{ candidate.socialNetwork.stackOverflow }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_stackoverflow_mini.png') }}" alt="mon stackoverflow" title="StackOverflow" class="social_link_mini" /></a>
                    {% endif %}
                    {% if candidate.socialNetwork.github %}
                        <a href="{{ candidate.socialNetwork.github }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_github_mini.png') }}" alt="mon github" title="Github" class="social_link_mini" /></a>
                    {% endif %}
                {% else %}
                    <p class="alert alert-light">
                        Candidat pas présent sur les réseaux
                    </p>
                {% endif %}
            </div>

            {# contact form #}

            <div class="row container_contact">
                <div>
                    <h3 class="profil_category_title_bottom">Contact </h3>
                    {{ form_start(formMessage) }}
                    {{ form_row(formMessage.subject) }}
                    {{ form_row(formMessage.body) }}
                    {{ form_row(formMessage.cvFile) }}
                    {{ form_row(formMessage.mediaFile) }}
                    <button type="submit" class="btn required btn_send_message">Envoyer</button>
                    {{ form_end(formMessage) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if candidate.scoring %}
        <script>
            const btn_doughnut = document.getElementById('btn_doughnut');
            const doughnut = document.getElementById('doughnut');

            btn_doughnut.addEventListener('click', function (e) {
                e.currentTarget.classList.toggle('rotate');
                doughnut.classList.toggle('collapse');

            })


            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Social', 'Environnement', 'Economie', 'Societal'],
                    datasets: [{
                        label: '# of Votes',
                        data: [
                            {{ candidate.scoring.social }},
                            {{ candidate.scoring.environment }},
                            {{ candidate.scoring.economy }},
                            {{ candidate.scoring.societal }}
                        ],
                        backgroundColor: [
                            'rgba(161, 14, 214, 0.53)',
                            'rgba(44, 168, 19, 0.68)',
                            'rgba(89, 121, 252, 1)',
                            'rgba(252, 187, 89, 0.71)',
                        ],
                    }]
                },
                options: {}
            });
        </script>
    {% endif %}
{% endblock %}