<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        <meta name="description" content="Vous chercher un emploi dans la tech et vous voulez donner du sens à votre carrière ?
                                        La responsabilité est importante pour votre entreprise et vous cherchez des collaborateurs ?">
    {% endblock %}

    <title>{% block title %}SOWRS{% endblock %}</title>

    {% block stylesheets %}
        <script src="https://kit.fontawesome.com/c12cfb347a.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/jpg" href="{{ asset('img/favicon.jpg') }}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset("css/app.css") }}">
        <link rel="stylesheet" href="{{ asset("css/footer.css") }}">
        <link rel="stylesheet" href="{{ asset("css/abstractJobOffert.css") }}">
        <link rel="stylesheet" href="{{ asset('css/dashBoardNav.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dashBoard.css') }}">
        <link rel="stylesheet" href="{{ asset('css/myDetails.css') }}">
        <link rel="stylesheet" href="{{ asset('css/mainNav.css') }}">
        <link rel="stylesheet" href="{{ asset('css/register.css') }}">
        <link rel="stylesheet" href="{{ asset('css/resultSensRate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/showCandidate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
        <link rel="stylesheet" href="{{ asset('css/principalNav.css') }}">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('css/senseRate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/aboutSowrs.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dashBoard.css') }}">
        <link rel="stylesheet" href="{{ asset('css/resetPassword.css') }}">
        <link rel="stylesheet" href="{{ asset('css/errorPage.css') }}">
        <link rel="stylesheet" href="{{ asset('css/contactUs.css') }}">
        <link rel="stylesheet" href="{{ asset('css/applies.css') }}">
        <link rel="stylesheet" href="{{ asset('css/userProfil.css') }}">
        <link rel="stylesheet" href="{{ asset('css/createPost.css') }}">
        <link rel="stylesheet" href="{{ asset('css/homeWebzine.css') }}">
        <link rel="stylesheet" href="{{ asset('css/postDetail.css') }}">
        <link rel="stylesheet" href="{{ asset('css/unpublishedPost.css') }}">
        <link rel="stylesheet" href="{{ asset('css/unpublishedComments.css') }}">
        <link rel="stylesheet" href="{{ asset('css/messaging_page.css') }}">
        <link rel="stylesheet" href="{{ asset('css/applyForm.css') }}">
        <link rel="stylesheet" href="{{ asset('css/favorite_list.css') }}">
        <link rel="stylesheet" href="{{ asset('css/_cardCandidate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/read_message.css') }}">
        <link rel="stylesheet" href="{{ asset('css/showJobOffer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/showRecruiter.css') }}">
        <link rel="stylesheet" href="{{ asset('css/offerNotFound.css') }}">
    {% endblock %}

</head>


<body>

    <header>
            <div>
                {% include ('nav/nav.html.twig') %}
            </div>
            <div>
                {% include ('nav/principalNav.html.twig') %}
            </div>
    </header>


<div class="container-fluid page border-top border-3">
    {% block flash_messages %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    {% block body %}{% endblock %}
    <br>
</div>

    <footer>
        {% include'footer/footerMain.html.twig' %}
    </footer>
</body>

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script>const baseURL = "{{ app.request.basePath }}";</script>

    <script>
        window.addEventListener("load", function(event) {
            let btnShowNavMini = document.querySelector('.fa-chevron-circle-down');
            let bigPrincipalNav = document.querySelector('.container_principal_nav');
            let miniPrincipalNav = document.querySelector('.container_principal_nav_mini');
            btnShowNavMini.addEventListener('click', function () {
                bigPrincipalNav.setAttribute('style', 'display:none;');
                miniPrincipalNav.setAttribute('style', 'display:flex;');
                btnShowNavMini.setAttribute('style', 'display:none;')
            });
        });
    </script>

    <script src="{{ asset('js/footer_btn.js') }}"></script>

{% endblock %}
