{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}
{% block title %}Sowrs | Liste des favoris{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row gx-0">
            <div class="col-lg-3 border-end border-2">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar'))}}
            </div>
            {% if 'ROLE_CANDIDATE' in app.user.roles %}
                <div class="col-lg-9 gx-0">
                    <div class="container mb-5 background-title">
                        <div class="row h-100">
                            <div class="col-sm-6 text-center align-self-center text-white">
                                <h3 class="title">VOS OFFRES FAVORITES</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        {% for favorite in favorites %}
                            <div class="row">
                                <div class="col-lg-10 abstractJobOffer border border-2 p-3 gx-0 m-1 shadow bg-light">
                                    <div class="row m-0">
                                        <div class="col-lg-3 align-self-center">
                                            {% if favorite.jobOffer.entity.picture %}
                                                <img id="photo_profile" src="{{ asset('images/profils/' ~ favorite.jobOffer.entity.picture.pictureName )}}"
                                                     alt="photo du profil">
                                            {% else %}
                                                <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                                                     alt="photo du profil">
                                            {% endif %}
                                        </div>
                                        <div class="jobOffer_div col-lg-5">
                                            <p class="offer" ><strong>{{ favorite.jobOffer.title|capitalize}} </strong></p>

                                            <p class="offer">{{ favorite.jobOffer.entity.entityName }}
                                                {% if favorite.jobOffer.entity.mainCause is not empty %}
                                                    - {{ favorite.jobOffer.entity.mainCause.text }}
                                                {% endif %}
                                            </p>
                                            {% if favorite.jobOffer.region is not empty and favorite.jobOffer.department is not empty %}
                                                <p class="offer">{{ favorite.jobOffer.region.name|capitalize}}({{ favorite.jobOffer.department.cp}})</p>
                                            {% endif %}
                                            {% if favorite.jobOffer.entity.scoring is not empty %}
                                                <p class="offer"><strong>Taux de sens : </strong>{{ favorite.jobOffer.entity.scoring.dominantsens}} {{ favorite.jobOffer.entity.scoring.societal }}%</p>
                                            {% endif %}

                                        </div>
                                        <div class="align-self-center col-lg-4">
                                            <a href="{{ path('jobOffer_show', {'id': favorite.jobOffer.id}) }}" class="btn">Voir l'offre</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 align-self-center">
                                 <span title="Effacer l'offre'">
                                    <a href="{{ path('remove_favorite_offer_list', {'id': favorite.id}) }}">
                                        <img class="messageImgTrash" src="{{ asset('img/boostrap/trash-fill.svg') }}">
                                    </a>
                                </span>
                            </div>
                            </div>
                        {% endfor %}
                        {{ knp_pagination_render(favorite) }}
                    </div>
            </div>
        {% elseif 'ROLE_RECRUITER' in app.user.roles %}
            <div class="col-lg-9 gx-0">
                <div class="container mb-5 background-title">
                    <div class="row h-100">
                        <div class="col-lg-12 text-center align-self-center text-white">
                            <h3 class="title">VOS CANDIDAT(E)S FAVORIT(E)S</h3>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    {% for favorite in favorites %}
                        <div class="row">
                            <div class="col-lg-10 abstractJobOffer border border-2 p-3 gx-0 m-1 shadow bg-light">
                                <div class="row m-0">
                                    <div class="col-lg-3 align-self-center">
                                        {% for candidat in favorite.cv.candidate %}
                                            {% if candidat.picture %}
                                                <img id="photo_profile" src="{{ asset('images/profils/' ~ candidat.picture.pictureName )}}"
                                                     alt="photo du profil">
                                            {% else %}
                                                <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                                                     alt="photo du profil">
                                            {% endif %}
                                    </div>
                                    <div class="jobOffer_div col-lg-5">
                                        <p class="offer" ><strong>{{ candidat.firstName|upper}} {{ candidat.lastName|capitalize}}</strong></p>
                                        <p class="offer"> {{ candidat.currentRole }}</p>
                                        <p class="offer">{{ candidat.jobSearch.region.name|capitalize}}({{ candidat.jobSearch.department.cp }})</p>
                                        <p class="offer"><strong>Taux de sens : </strong>{{ candidat.scoring.dominantsens}} {{ candidat.scoring.societal }}%</p>
                                    </div>

                                    <div class="align-self-center col-lg-4">
                                            <a class="btn" href="{{ asset('file/cv/' ~ candidat.cv.cvName) }}">Consulter le cv</a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-1 align-self-center">
                                <span title="Effacer le cv">
                                    <a href="{{ path('remove_favorite_cv_list', {'id': favorite.id}) }}">
                                        <img class="ImgTrash" src="{{ asset('img/boostrap/trash-fill.svg') }}">
                                    </a>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                    {{ knp_pagination_render(favorite) }}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}