{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}
{% block title %}Sowrs | Liste des favoris{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row gx-0">
            <div class="col-lg-3 border-end border-2">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar'))}}
            </div>
            {% if 'ROLE_CANDIDATE' in app.user.roles %}
                <div class="col-lg-9 gx-0">
                    <div class="container mb-5 background-title">
                        <div class="row h-100">
                            <div class="col-sm-6 text-center align-self-center text-white">
                                <h3 class="title">MES OFFRES FAVORITES</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        {% if favorites is not empty %}
                        {% for favorite in favorites %}
                            <div class="row abstractJobOffer border border-2 p-3 m-4 gx-0 shadow bg-light">
                                <div class="row">
                                    <div class="col-md-2 align-self-center container_picture_profil_favorite">
                                        {% if favorite.entity.picture %}
                                            <img id="show_joboffer_photo_profile" class="img-fluid" src="{{ asset('images/profils/' ~ favorite.entity.picture.pictureName )}}"
                                                 alt="photo du profil">
                                        {% else %}
                                            <img id="show_joboffer_photo_profile" class="img-fluid" src="{{ asset('images/profils/avatar.jpg') }}"
                                                 alt="photo du profil">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4 align-self-center">
                                        <p class="offer">
                                        <h4 class="offer favorite_offer_title">{{ favorite.title|capitalize}}</h4>
                                        <span class="offer"><strong class="favorite_entity_name">{{ favorite.entity.entityName }}</strong>
                                            {% if favorite.entity.mainCause is not empty %}
                                                - {{ favorite.entity.mainCause.text }}
                                            {% endif %}
                                                    </span>
                                        {% if favorite.region is not empty and favorite.department is not empty %}
                                            <br><span class="offer">{{ favorite.region.name|capitalize}} ({{ favorite.department.cp}})</span>
                                        {% endif %}
                                        {% if favorite.entity.scoring is not empty %}
                                            <br><h6 class="offer mt-1">Taux de sens : <span class="normal">{{ favorite.entity.scoring.dominantsens}}</span></h6>
                                        {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-md-4 align-self-center text-center options_offer">
                                        <a href="{{ path('jobOffer_show', {'id': favorite.id}) }}" class="btn">Voir l'offre</a>
                                    </div>
                                    <div class="col-md-2 align-self-center text-center options_offer">
                                        <span title="Effacer l'offre" class="delete_favorite">
                                            <a class="abstractJobOfferButtonTrash" href="{{ path('remove_favorite_offer_list', {'id': favorite.id}) }}">
                                                <img class="abstractJobOfferImgTrash" src="{{ asset('img/boostrap/trash-fill-white.svg') }}" alt="delete_favorite" title="Supprimer des favoris">
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row container_no_favorites">
                            <h4 class="col-md-6 col-sm-12">Vous n'avez pas d'offre favorite</h4>
                            <a href="{{ path('main_job_offers_list') }}" class="btn col-md-6 col-sm-12">Consulter les offres</a>
                        </div>
                    {% endif %}
                    {{ knp_pagination_render(favorite) }}
                    </div>
            </div>
        {% elseif 'ROLE_RECRUITER' in app.user.roles %}
            <div class="col-lg-9 gx-0">
                <div class="container mb-5 background-title">
                    <div class="row h-100">
                        <div class="col-sm-6 text-center align-self-center text-white">
                            <h3 class="title">VOS CANDIDAT(E)S FAVORIT(E)S</h3>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    {% if favorites is not empty %}
                        {% for candidat in favorites %}
                            <div class="row abstractJobOffer border border-2 p-3 gx-0 m-4 shadow bg-light">
                                <div class="row">
                                    <div class="col-md-2 align-self-center text-center">
                                        {% if candidat.picture %}
                                            <img id="show_joboffer_photo_profile" src="{{ asset('images/profils/' ~ candidat.picture.pictureName )}}"
                                                 alt="photo du profil">
                                        {% else %}
                                            <img id="show_joboffer_photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                                                 alt="photo du profil">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4 align-self-center">
                                        <p class="offer">
                                            {% if candidat.firstname and candidat.lastname %}
                                        <h4 class="offer favorite_offer_title">{{ candidat.firstName|capitalize}} {{ candidat.lastName|upper}}</h4>
                                        {% endif %}
                                        {% if candidat.currentRole %}
                                            <span class="offer">{{ candidat.currentRole }}</span>
                                        {% endif %}
                                        {% if candidat.jobSearch is not empty %}
                                            <br><span class="offer">{{ candidat.jobSearch.region.name|capitalize}} ({{ candidat.jobSearch.department.cp }})</span>
                                        {% endif %}
                                        {% if candidat.scoring is not empty %}
                                            <br><h6 class="offer mt-1">Taux de sens : <span class="normal">{{ candidat.scoring.dominantsens}}</span></h6>
                                        {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-md-4 align-self-center text-center options_offer">
                                        <a class="btn" href="{{ path('candidate_show', {"id":candidat.id}) }}">Consulter le profil</a>
                                    </div>
                                    <div class="col-md-2 align-self-center text-center options_offer">
                                        <span title=" Effacer le cv">
                                            <a class="abstractJobOfferButtonTrash" href="{{ path('remove_favorite_cv_list', {'id': candidat.id}) }}">
                                                <img class="abstractJobOfferImgTrash" src="{{ asset('img/boostrap/trash-fill-white.svg') }}" alt="delete_favorite" title="Supprimer des favoris">
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let btnDeleteFavoriteOffer = document.querySelectorAll(".messageImgTrash");
        let btnDeleteFavoriteCandidate = document.querySelectorAll(".ImgTrash");
        btnDeleteFavoriteOffer.forEach(element =>
            element.addEventListener('click', function (event){
                if(confirm("Souhaitez-vous vraiment supprimer cette offre de vos favoris ?")){

                }else{
                    event.preventDefault();
                }
            })
        );
        btnDeleteFavoriteCandidate.forEach(element =>
            element.addEventListener('click', function (event){
                if(confirm("Souhaitez-vous vraiment supprimer cette offre de vos favoris ?")){

                }else{
                    event.preventDefault();
                }
            })
        );
    </script>

{% endblock %}