{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}
{% block title %}Sowrs | Liste des favoris{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row gx-0">
            <div class="col-lg-3 border-end border-2">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar'))}}
            </div>
            {% if 'ROLE_CANDIDATE' in app.user.roles %}
                <div class="col-lg-9 gx-0">
                    <div class="container mb-5 background-title">
                        <div class="row h-100">
                            <div class="col-sm-6 text-center align-self-center text-white">
                                <h3 class="title">MES OFFRES FAVORITES</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        {% if favorites is not empty %}
{#<<<<<<< HEAD#}
{#                            {% for favorite in favorites %}#}
{#                                    <div class="row abstractJobOffer border border-2 p-3 m-4 gx-0 shadow bg-light">#}
{#                                        <div class="row">#}
{#                                            <div class="col-md-2 align-self-center">#}
{#                                                {% if favorite.jobOffer.entity.picture %}#}
{#                                                    <img id="photo_profile" src="{{ asset('images/profils/' ~ favorite.jobOffer.entity.picture.pictureName )}}"#}
{#                                                         alt="photo du profil">#}
{#                                                {% else %}#}
{#                                                    <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"#}
{#                                                         alt="photo du profil">#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                            <div class="col-md-4 align-self-center">#}
{#                                                <p class="offer">#}
{#                                                <h4 class="offer">{{ favorite.jobOffer.title|capitalize}}</h4>#}
{#                                                <br><span class="offer">{{ favorite.jobOffer.entity.entityName }}#}
{#                                                {% if favorite.jobOffer.entity.mainCause is not empty %}#}
{#                                                    - {{ favorite.jobOffer.entity.mainCause.text }}#}
{#                                                {% endif %}#}
{#                                                    </span>#}
{#                                                {% if favorite.jobOffer.region is not empty and favorite.jobOffer.department is not empty %}#}
{#                                                    <br><span class="offer">{{ favorite.jobOffer.region.name|capitalize}} ({{ favorite.jobOffer.department.cp}})</span>#}
{#                                                {% endif %}#}
{#                                                {% if favorite.jobOffer.entity.scoring is not empty %}#}
{#                                                    <br><h6 class="offer mt-1">Taux de sens : <span class="normal">{{ favorite.jobOffer.entity.scoring.dominantsens}}</span></h6>#}
{#                                                {% endif %}#}
{#                                                </p>#}
{#                                            </div>#}
{#                                            <div class="col-md-4 align-self-center text-center options_offer">#}
{#                                                <a href="{{ path('jobOffer_show', {'id': favorite.jobOffer.id}) }}" class="btn">Voir l'offre</a>#}
{#                                            </div>#}
{#                                            <div class="col-md-2 align-self-center text-center options_offer">#}
{#                                                <span title="Effacer l'offre'">#}
{#                                                    <a class="abstractJobOfferButtonTrash" href="{{ path('remove_favorite_offer_list', {'id': favorite.id}) }}">#}
{#                                                        <img class="abstractJobOfferImgTrash" src="{{ asset('img/boostrap/trash-fill-white.svg') }}" alt="delete_favorite" title="Supprimer des favoris">#}
{#                                                    </a>#}
{#                                                </span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                            {% endfor %}#}
{#                        {% else %}#}
{#                            <div class="row container_no_favorites">#}
{#                                <h4 class="col-md-6 col-sm-12">Vous n'avez pas d'offre favorite</h4>#}
{#                                <a href="{{ path('main_job_offers_list') }}" class="btn col-md-6 col-sm-12">Consulter les offres</a>#}
{#=======#}
                        {% for favorite in favorites %}
                            <div class="row">
                                <div class="col-lg-10 abstractJobOffer border border-2 p-3 gx-0 m-1 shadow bg-light">
                                    <div class="row m-0">
                                        <div class="col-lg-3 align-self-center">
                                            {% if favorite.entity.picture %}
                                                <img id="photo_profile" src="{{ asset('images/profils/' ~ favorite.entity.picture.pictureName )}}"
                                                     alt="photo du profil">
                                            {% else %}
                                                <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                                                     alt="photo du profil">
                                            {% endif %}
                                        </div>
                                        <div class="jobOffer_div col-lg-5">
                                            <p class="offer" ><strong>{{ favorite.title|capitalize}} </strong></p>

                                            <p class="offer">{{ favorite.entity.entityName }}
                                                {% if favorite.entity.mainCause is not empty %}
                                                    - {{ favorite.entity.mainCause.text }}
                                                {% endif %}
                                            </p>
                                            {% if favorite.region is not empty and favorite.department is not empty %}
                                                <p class="offer">{{ favorite.region.name|capitalize}}({{ favorite.department.cp}})</p>
                                            {% endif %}
                                            {% if favorite.entity.scoring is not empty %}
                                                <p class="offer"><strong>Taux de sens : </strong>{{ favorite.entity.scoring.dominantsens}} {{ favorite.entity.scoring.societal }}%</p>
                                            {% endif %}

                                        </div>
                                        <div class="align-self-center col-lg-4">
                                            <a href="{{ path('jobOffer_show', {'id': favorite.id}) }}" class="btn">Voir l'offre</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 align-self-center">
                                     <span title="Effacer l'offre'">
                                        <a href="{{ path('remove_favorite_offer_list', {'id': favorite.id}) }}">
                                            <img class="messageImgTrash" src="{{ asset('img/boostrap/trash-fill.svg') }}" alt="delete_favorite" title="Supprimer des favoris">
                                        </a>
                                    </span>
                                </div>
{#>>>>>>> b9ed6813639f8d61b34de841d2f13d2020bfc8d6#}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row container_no_favorites">
                            <h4 class="col-md-6 col-sm-12">Vous n'avez pas d'offre favorite</h4>
                            <a href="{{ path('main_job_offers_list') }}" class="btn col-md-6 col-sm-12">Consulter les offres</a>
                        </div>
                    {% endif %}
                    {{ knp_pagination_render(favorite) }}
                    </div>
            </div>
        {% elseif 'ROLE_RECRUITER' in app.user.roles %}
            <div class="col-lg-9 gx-0">
                <div class="container mb-5 background-title">
                    <div class="row h-100">
                        <div class="col-sm-6 text-center align-self-center text-white">
                            <h3 class="title">VOS CANDIDAT(E)S FAVORIT(E)S</h3>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    {% if favorites is not empty %}
{#<<<<<<< HEAD#}
{#                        {% for favorite in favorites %}#}
{#                            <div class="row abstractJobOffer border border-2 p-3 m-4 gx-0 shadow bg-light">#}
{#                                {% for candidat in favorite.cv.candidate %}#}
{#                                <div class="row">#}
{#                                        <div class="col-md-2 align-self-center">#}
{#                                                {% if candidat.picture %}#}
{#                                                    <img id="photo_profile" src="{{ asset('images/profils/' ~ candidat.picture.pictureName )}}"#}
{#                                                         alt="photo du profil">#}
{#                                                {% else %}#}
{#                                                    <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"#}
{#                                                         alt="photo du profil">#}
{#                                                {% endif %}#}
{#=======#}
                        {% for candidat in favorites %}
                            <div class="row">
                                <div class="col-lg-10 abstractJobOffer border border-2 p-3 gx-0 m-1 shadow bg-light">
                                    <div class="row m-0">
                                        <div class="col-lg-3 align-self-center">
                                            {% if candidat.picture %}
                                                <img id="photo_profile" src="{{ asset('images/profils/' ~ candidat.picture.pictureName )}}"
                                                     alt="photo du profil">
                                            {% else %}
                                                <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                                                     alt="photo du profil">
                                            {% endif %}
{#>>>>>>> b9ed6813639f8d61b34de841d2f13d2020bfc8d6#}
                                        </div>
                                        <div class="col-md-4 align-self-center">
                                            <p class="offer">
                                            {% if candidat.firstname and candidat.lastname %}
                                                <h4 class="offer">{{ candidat.firstName|capitalize}} {{ candidat.lastName|upper}}</h4>
                                            {% endif %}
                                            {% if candidat.currentRole %}
                                                <br><span class="offer">{{ candidat.currentRole }}</span>
                                            {% endif %}
                                            {% if candidat.jobSearch is not empty %}
                                                <br><span class="offer">{{ candidat.jobSearch.region.name|capitalize}} ({{ candidat.jobSearch.department.cp }})</span>
                                            {% endif %}
                                            {% if candidat.scoring is not empty %}
                                                <br><h6 class="offer mt-1">Taux de sens : <span class="normal">{{ candidat.scoring.dominantsens}}</span></h6>
                                            {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-md-4 align-self-center text-center options_offer">
                                            <a class="btn" href="{{ path('candidate_show', {"id":candidat.id}) }}">Consulter le profil</a>
                                        </div>
{#<<<<<<< HEAD#}
{#                                        <div class="col-md-2 align-self-center options_offer">#}
{#                                            <span title=" Effacer le cv">#}
{#                                                    <a class="abstractJobOfferButtonTrash" href="{{ path('remove_favorite_cv_list', {'id': favorite.id}) }}">#}
{#                                                        <img class="abstractJobOfferImgTrash" src="{{ asset('img/boostrap/trash-fill-white.svg') }}" alt="delete_favorite" title="Supprimer des favoris">#}
{#                                                    </a>#}
{#                                                </span>#}
{#                                        </div>#}
{#=======#}
                                    </div>
                                </div>
                                <div class="col-lg-1 align-self-center">
                                    <span title="Effacer le cv">
                                        <a href="{{ path('remove_favorite_cv_list', {'id': candidat.id}) }}">
                                            <img class="ImgTrash" src="{{ asset('img/boostrap/trash-fill.svg') }}" alt="delete_favorite" title="Supprimer des favoris">
                                        </a>
                                    </span>
{#>>>>>>> b9ed6813639f8d61b34de841d2f13d2020bfc8d6#}
                                </div>
                                {% endfor %}
{#                                <div class="col-md-4 align-self-center">#}
{#                                    <span title="Effacer le cv">#}
{#                                        <a href="{{ path('remove_favorite_cv_list', {'id': favorite.id}) }}">#}
{#                                            <img class="ImgTrash" src="{{ asset('img/boostrap/trash-fill-white.svg') }}" alt="delete_favorite" title="Supprimer des favoris">#}
{#                                        </a>#}
{#                                    </span>#}
{#                                </div>#}
                            </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}