{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="Les candidatures de" + {{ app.user.lastname }} {{ app.user.firstname }}>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/appliesList.css') }}" />
{% endblock %}

{% block title %}
    Mes candidatures
{% endblock %}

{% block body %}
    <h1>Mes candidatures</h1>
    {% if applies is not empty %}
        <div class="all_applies_container">
            {% for applie in applies %}
                <div class="applie_container col-lg-4 col-md-6 col-sm-12">
                    <div class="applie_section">
                        {% if applie.subject %}
                            <h3>{{ applie.subject|capitalize }}</h3>
                        {% endif %}
                        {% if applie.createdAt is not empty %}
                            <h4>Date : <span>{{ applie.createdAt|date('d/m/Y') }}</span></h4>
                        {% endif %}
                        {% if applie.userRecipient is not empty %}
                            <h4>Entreprise : <a href="{{ path('show_recruiter_profil', {"id":applie.userRecipient.id}) }}">{{ applie.userRecipient.entityName|capitalize }}</a></h4>
                        {% endif %}
                        {% if applie.body is not empty %}
                            <h4>Votre message :</h4>
                            <p>
                                {{ applie.body }}
                            </p>
                        {% endif %}
                        {% if applie.cv is not empty or applie.media is not empty %}
                            <h4>Vos fichiers joints :</h4>
                            <div class="joined_files_container">
                                {% if applie.cv %}
                                    <a href="{{ asset('file/cv/' ~ applie.cv.cvName) }}" target="_blank">
                                        <img class="logo_pj" src="{{ asset('img/img_pj.png')}}" alt="fichier joint" title="Le CV joint"/>
                                    </a>
                                {% endif %}
                                {% if applie.media %}
                                    <a href="{{ asset('file/uploads/' ~ applie.media.mediaName )}}" target="_blank">
                                        <img class="logo_pj" src="{{ asset('img/img_pj.png')}}" alt="fichier joint" title="Le media joint"/>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="empty_applies">
            <p>
                Vous n'avez pas de candidature en cours !
                Pourquoi ne pas aller <a href="{{ path('main_job_offers_list') }}">Rechercher une offre</a> ?
            </p>
        </div>
    {% endif %}
{% endblock %}