{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    SOWRS - {{ recruiter.entityName }}
{% endblock %}

{% block body %}

    {# HEADER PAGE #}

    <div class="row">
        <div class="col-12 entity_title">
            <div>
                {# entity profil picture #}
                <div class="row">
                    {% if recruiter.picture %}
                        <img id="photo_profile" src="{{ asset('images/profils/' ~ recruiter.picture.pictureName )}}"
                             alt="photo du profil" title="Photo de profil">
                    {% else %}
                        <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg' )}}"
                             alt="photo par défaut" title="Avatar SOWRS">
                    {% endif %}
                </div>

                {# entity name #}
                <div class="row header_presentation">
                        <h3>{{ recruiter.entityName }}</h3>
                </div>

                {# complementary informations #}
                <div class="row header_presentation">
                        <p>
                            {% if recruiter.legalStatus %}
                                {{ recruiter.legalStatus.text }}
                            {% endif %}
                            {% if recruiter.city and recruiter.country %}
                                &bull; {{ recruiter.city }} - {{ recruiter.country }}
                            {% endif %}
                            {% if recruiter.country and not recruiter.city %}
                                &bull; {{ recruiter.country }}
                            {% endif %}
                            {% if recruiter.carbonFootprint %}
                                &bull; {{ recruiter.carbonFootPrint }} kg CO² / an
                            {% endif %}
                        </p>
                </div>

                {# tags #}
                {# todo : gérer les tags #}

                {# inspiration or main cause #}
                <div class="row header_presentation">
                    <p>
                            Cause : {{ recruiter.mainCause.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {# BODY PAGE #}

        <div class="row">
            {# LEFT PART #}
            <div class=" col-lg-8 col-md-12 left_part_profil">
                {# about the entity #}
                <div class="container_category_profil">
                    <div class="row">
                        <h3 class="profil_category_title">&Agrave; propos de {{ recruiter.entityName }}</h3>
                    </div>
                    <div class="row">
                        <p>
                            {{ recruiter.about }}
                        </p>
                    </div>
                </div>
                {# reason to be #}
                <div class="container_category_profil">
                    <div class="row">
                        <h3 class="profil_category_title">Raison d'être de {{ recruiter.entityName }}</h3>
                    </div>
                    <div class="row">
                        <p>
                            {{ recruiter.reasonToBe }}
                        </p>
                    </div>
                </div>
                {# engagements #}
                <div class="container_category_profil">
                    <div class="row">
                        <h3 class="profil_category_title">Engagements de {{ recruiter.entityName }}</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 container_commitment_recruiter">
                            {% if recruiter.commitments is not empty %}
                                {% for commitment in recruiter.commitments %}
                                    <div class="commitment_recruiter">{{ commitment.title }}</div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-danger">
                                    Le recruteur n'a pas encore renseigné ses engagements
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {# RIGHT PART #}

            <div class="col-lg-4 col-md-12 right_part">

                <div class="show_candidate_sens_rate">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <img src="" alt="taux de sens">
                        </div>
                        <div class="col-lg-8">
                            <h5>Taux de sens</h5>
                            <h5>{{ recruiter.scoring.dominantPourcent }}% {{ recruiter.scoring.dominantSens }}</h5>
                        </div>
                        <div class="col-lg-1 ">
                            <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas" width="100%"
                                 style="margin: 0" id="btn_doughnut">
                        </div>
                    </div>
                    <br>
                    <div class="doughnut col-lg-8 mx-auto pb-1 collapse" id="doughnut">
                        <canvas id="myChart"></canvas>
                        <br>
                    </div>

                </div>

                {# complementary informations #}

                {# secondary causes #}
                <div class="complementary_infos_container">
                    <div class="row">
                        {% if recruiter.secondaryCauses is not empty %}
                            <h3 class="profil_category_title_bottom">Causes secondaires : </h3>
                            <p class="other_content_title">
                            <ul class="list-group">
                                {% for secondaryCause in recruiter.secondaryCauses %}
                                    <li class="list-group-item col-8 offset-2 list_causes">{{ secondaryCause.text }}</li>
                                {% endfor %}
                            </ul>
                            </p>
                        {% else %}
                            <p class="alert alert-light">
                                Pas de cause secondaire défini
                            </p>
                        {% endif %}
                    </div>

                    {# recognitions #}
                    <div class="row">
                        {% if recruiter.recognitions is not empty %}
                            <h3 class="profil_category_title_bottom">Reconnaissances : </h3>
                            <p class="other_content_title">
                            <ul class="list-group">
                                {% for recognition in recruiter.recognitions %}
                                    <li class="list-group-item col-8 offset-2 list_causes">{{ recognition.description }}</li>
                                {% endfor %}
                            </ul>
                            </p>
                        {% else %}
                            <p class="alert alert-light">
                                Pas de reconnaissance défini
                            </p>
                        {% endif %}
                    </div>
                </div>
                {# social network #}
                <div class="row container_social_link">
                    {% if recruiter.socialNetwork %}
                        {% if recruiter.socialNetwork.website %}
                            <a href="{{ recruiter.socialNetwork.website }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.linkedin %}
                            <a href="{{ recruiter.socialNetwork.linkedin }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.stackOverflow %}
                            <a href="{{ recruiter.socialNetwork.stackOverflow }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_stackoverflow_mini.png') }}" alt="mon stackoverflow" title="StackOverflow" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.github %}
                            <a href="{{ recruiter.socialNetwork.github }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_github_mini.png') }}" alt="mon github" title="Github" class="social_link_mini" /></a>
                        {% endif %}
                    {% else %}
                        <p class="alert alert-light">
                            Entreprise pas présente sur les réseaux
                        </p>
                    {% endif %}
                </div>

                {# contact form #}
                {# todo : anne-Lise -> gérer l'envoi du message #}
                <div class="row container_contact">
                    <div>
                        <h3 class="profil_category_title_bottom">Contact </h3>
                        {{ form_start(formMessage) }}
                        {{ form_row(formMessage.subject) }}
                        {{ form_row(formMessage.body) }}
                        {{ form_row(formMessage.cvFile) }}
                        {{ form_row(formMessage.mediaFile) }}
                        <button type="submit" class="btn required btn_send_message">Envoyer</button>
                        {{ form_end(formMessage) }}
                    </div>
                </div>


            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const btn_doughnut = document.getElementById('btn_doughnut');
        const doughnut = document.getElementById('doughnut');

        btn_doughnut.addEventListener('click', function (e) {
            e.currentTarget.classList.toggle('rotate');
            doughnut.classList.toggle('collapse');
        })


        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Social', 'Environnement', 'Economie', 'Societal'],
                datasets: [{
                    label: '# of Votes',
                    data: [
                        {{ recruiter.scoring.social }},
                        {{ recruiter.scoring.environment }},
                        {{ recruiter.scoring.economy }},
                        {{ recruiter.scoring.societal }}
                    ],
                    backgroundColor: [
                        'rgba(161, 14, 214, 0.53)',
                        'rgba(44, 168, 19, 0.68)',
                        'rgba(89, 121, 252, 1)',
                        'rgba(252, 187, 89, 0.71)',
                    ],
                }]
            },
            options: {}
        });
    </script>
{% endblock %}