{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    SOWRS - {{ recruiter.entityName }}
{% endblock %}

{% block body %}

    {# HEADER PAGE #}
    <div class="show_candidate_jumbotron pt-3">
        <div class="col-lg-2 mx-auto container_entity_picture">
            {# entity profil picture #}
            <div>
                {% if recruiter.picture %}
                    <img id="show_joboffer_photo_profile" class="img-fluid" src="{{ asset('images/profils/' ~ recruiter.picture.pictureName )}}"
                         alt="photo du profil" title="Photo de profil">
                {% else %}
                    <img id="show_joboffer_photo_profile" class="img-fluid" src="{{ asset('images/profils/avatar.jpg' )}}"
                         alt="photo par défaut" title="Avatar SOWRS">
                {% endif %}
            </div>
        </div>
        <div class="col-lg-5 mx-auto mt-3">
            <h4 class="show_candidate_jumbotron_name job_offer_title_jumbotron">
                {{ recruiter.entityName }}
            </h4>
        </div>
        <h5 class="show_candidate_jumbotron_infos">
            {# main cause #}
            {% if recruiter.legalStatus %}
                {{ recruiter.legalStatus.text }}
            {% endif %}
            {% if recruiter.city and recruiter.country %}
                &bull; {{ recruiter.city }} - {{ recruiter.country }}
            {% endif %}
            {% if recruiter.country and not recruiter.city %}
                &bull; {{ recruiter.country }}
            {% endif %}
            {% if recruiter.carbonFootprint %}
                &bull; {{ recruiter.carbonFootPrint }} kg CO² / an
            {% endif %}
            {% if recruiter.mainCause %}
                &bull; Cause : {{ recruiter.mainCause.text }}
            {% endif %}
        </h5>
    </div>

    {# BODY PAGE #}

        <div class="row">

            {# LEFT PART #}

            <div class=" col-lg-8 col-md-12 left_part_profil">
                {# about the entity #}
                <div class="container_category_profil">
                    <div class="row">
                        <h3 class="profil_category_title">&Agrave; propos de {{ recruiter.entityName }}</h3>
                    </div>
                    <div class="row">
                        {% if recruiter.about %}
                            <p>
                                {{ recruiter.about }}
                            </p>
                        {% else %}
                            <p class="alert alert-success">
                                Le recruteur n'a pas encore renseigné l'À propos
                            </p>
                        {% endif %}
                    </div>
                    {% if recruiter.presentationVideoURL is not empty %}
                        <div class="row">
                            <iframe width="560" height="450"
                                    src="{{ recruiter.presentationVideoURL }}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    {% endif %}
                </div>
                {# reason to be #}
                <div class="container_category_profil">
                    <div class="row">
                        <h3 class="profil_category_title">Raison d'être de {{ recruiter.entityName }}</h3>
                    </div>
                    <div class="row">
                        {% if recruiter.reasonToBe %}
                            <p>
                                {{ recruiter.reasonToBe }}
                            </p>
                        {% else %}
                            <p class="alert alert-success">
                                Le recruteur n'a pas encore renseigné les raisons d'être de l'entreprise
                            </p>
                        {% endif %}
                    </div>
                </div>
                {# jobOffers #}
                <div class="container_category_profil">
                    <div class="row">
                        <h3 class="profil_category_title">Offres d'emploi de {{ recruiter.entityName }}</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 container_commitment_recruiter">
                            {% if recruiter.jobOffers is not empty %}
                                {% for jobOffer in recruiter.jobOffers %}
                                    <div class="container_job_offer col-12">
                                        <div class="row col-12">
                                            <div class="col-10">
                                                <h3 class="job_offer_title">{{ jobOffer.title }}</h3>
                                            </div>
                                            <div class="col-2">
                                                <div class="contract_type">{{ jobOffer.contractType.wording }}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="localisation_job_offer">{{ jobOffer.city }} - {{ jobOffer.country.name }}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3 pt-3">
                                                <a class="btn required link_offer_details" href="{{ path('jobOffer_show', {"id":jobOffer.id}) }}">Voir l'offre</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-success">
                                    Le recruteur n'a pas encore renseigné ses engagements
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {# RIGHT PART #}

            <div class="col-lg-4 col-md-12 right_part">
                {% if recruiter.scoring is not empty %}
                    {% if recruiter.scoring.dominantPourcent %}
                        <div class="show_candidate_sens_rate">
                            <div class="row align-items-center">
                                <div class="col-lg-2">
                                    {% if recruiter.scoring.dominantSens is same as 'social' %}
                                        <img class="mini_img_sense_rate" src="{{ asset('img/social500.png') }}" alt="taux de sens">
                                    {% elseif recruiter.scoring.dominantSens is same as 'economique' %}
                                        <img class="mini_img_sense_rate" src="{{ asset('img/econonomie500.png') }}" alt="taux de sens">
                                    {% elseif recruiter.scoring.dominantSens is same as 'societal' %}
                                        <img class="mini_img_sense_rate" src="{{ asset('img/societal500.png') }}" alt="taux de sens">
                                    {% elseif recruiter.scoring.dominantSens is same as 'environnemental' %}
                                        <img class="mini_img_sense_rate" src="{{ asset('img/environnemental500.png') }}" alt="taux de sens">
                                    {% endif %}
                                </div>
                                <div class="col-lg-8">
                                    <h5>Taux de sens</h5>
                                    <h5>{{ recruiter.scoring.dominantPourcent }}% {{ recruiter.scoring.dominantSens }}</h5>
                                </div>
                                <div class="col-lg-1 ">
                                    <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas"
                                         id="btn_doughnut">
                                </div>
                            </div>
                            <br>
                            <div class="doughnut col-lg-8 mx-auto pb-1 collapse" id="doughnut">
                                <canvas id="myChart"></canvas>
                                <br>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {# complementary informations #}

                {# main cause #}
                <div class="complementary_infos_container">
                    <div class="row">
                        {% if recruiter.mainCause is not empty %}
                            <h3 class="profil_category_title_candidate">Cause principale : <span>{{ recruiter.mainCause.text }}</span></h3>
                        {% endif %}
                    </div>
                </div>

                {# secondary causes #}
                {% if recruiter.secondaryCauses is not empty %}
                    <div class="complementary_infos_container">
                        <div class="row">
                            <h3 class="profil_category_title_bottom">Causes secondaires : </h3>
                            <ul>
                                {% for secondaryCause in recruiter.secondaryCauses %}
                                    <li class="list_line">{{ secondaryCause.text }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {# engagements #}
                {% if recruiter.commitments is not empty %}
                    <div class="complementary_infos_container">
                        <div class="row">
                            <h3 class="profil_category_title_bottom">Engagements : </h3>
                            <ul>
                                {% for commitment in recruiter.commitments %}
                                    <li class="list_line">{{ commitment.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {# recognitions #}
                {% if recruiter.recognitions is not empty %}
                    <div class="complementary_infos_container">
                        <div class="row">
                            <h3 class="profil_category_title_bottom">Reconnaissances : </h3>
                            <ul>
                                {% for recognition in recruiter.recognitions %}
                                    <li class="list_line">{{ recognition.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {# social network #}
                <div class="row container_social_link">
                    {% if recruiter.socialNetwork %}
                        {% if recruiter.socialNetwork.website %}
                            <a href="{{ recruiter.socialNetwork.website }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.linkedin %}
                            <a href="{{ recruiter.socialNetwork.linkedin }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.stackOverflow %}
                            <a href="{{ recruiter.socialNetwork.stackOverflow }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_stackoverflow_mini.png') }}" alt="mon stackoverflow" title="StackOverflow" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.github %}
                            <a href="{{ recruiter.socialNetwork.github }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_github_mini.png') }}" alt="mon github" title="Github" class="social_link_mini" /></a>
                        {% endif %}
                    {% endif %}
                </div>

                {# contact form #}

                <div class="row container_contact">
                    <div>
                        <h3 class="profil_category_title_bottom">Contact </h3>
                        {{ form_start(formMessage, {'attr': {'class': 'form_contact_recruiter'}}) }}
                        {{ form_row(formMessage.subject) }}
                        {{ form_row(formMessage.body) }}
                        <div class="container_upload_files">
                            {{ form_row(formMessage.cvFile) }}
                            {{ form_row(formMessage.mediaFile) }}
                        </div>
                        <button type="submit" class="btn required btn_send_message">Envoyer</button>
                        {{ form_end(formMessage) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if recruiter.scoring is not empty %}
        <script>
            const btn_doughnut = document.getElementById('btn_doughnut');
            const doughnut = document.getElementById('doughnut');

            btn_doughnut.addEventListener('click', function (e) {
                e.currentTarget.classList.toggle('rotate');
                doughnut.classList.toggle('collapse');
            })


            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Social', 'Environnement', 'Economie', 'Societal'],
                    datasets: [{
                        label: '# of Votes',
                        data: [
                            {{ recruiter.scoring.social }},
                            {{ recruiter.scoring.environment }},
                            {{ recruiter.scoring.economy }},
                            {{ recruiter.scoring.societal }}
                        ],
                        backgroundColor: [
                            'rgb(101, 220, 226)',
                            'rgb(91, 187, 199)',
                            'rgb(111, 110, 214)',
                            'rgb(76, 166, 218)',
                        ],
                    }]
                },
                options: {}
            });
        </script>

        <script>
            let labelCV = document.querySelector('label[for="message_cvFile"]');
            let labelMedia = document.querySelector('label[for="message_mediaFile"]');
            labelCV.innerHTML = '<i class="fas fa-3x fa-file-upload"></i>';
            labelMedia.innerHTML = '<i class="fas fa-3x fa-file-upload"></i>';
            labelCV.setAttribute('title', 'Importer un premier document');
            labelMedia.setAttribute('title', 'Importer un second document');
            labelCV.setAttribute('style', 'cursor:pointer;');
            labelMedia.setAttribute('style', 'cursor:pointer;');
        </script>

        {# Change the upload appaerance when file is uploaded #}
        <script>

            window.addEventListener('load', function (){
                let firstDocument = document.querySelector('#message_cvFile');
                let secondDocument = document.querySelector('#message_mediaFile');
                let btn_upload_first = document.querySelector('.file_upload_first');
                let btn_upload_second = document.querySelector('.file_upload_second');
                firstDocument.addEventListener('change', function (){
                    btn_upload_first.setAttribute('style', 'color:#1DCA91!important;');
                    btn_upload_first.setAttribute('title', 'title:' + firstDocument.value);
                    alert('Votre fichier est bien importé !');
                });
                secondDocument.addEventListener('change', function (){
                    btn_upload_second.setAttribute('style', 'color:#1DCA91!important;');
                    btn_upload_second.setAttribute('title', 'title:' + secondDocument.value);
                    alert('Votre fichier est bien importé !');
                });
            });

        </script>
    {% endif %}
{% endblock %}