{% extends 'base.html.twig' %}

{% block title %} Sowrs | {{ jobOffer.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

{% endblock %}

{% block body %}
    <div class="show_candidate_jumbotron pt-3">
        <div class="col-lg-2 mx-auto container_entity_picture">
            <a href="{{ path('show_recruiter_profil', {"id":entity.id}) }}" class="link_recruiter">
                {% if entity.picture %}
                    <img id="show_joboffer_photo_profile" class="img-fluid mb-3"
                         src="{{ asset('images/profils/' ~entity.picture.pictureName ) }}"
                         alt="photo du profil">
                {% else %}
                    <img id="show_joboffer_photo_profile" class="img-fluid mb-3"
                         src="{{ asset('images/profils/avatar.jpg') }}"
                         alt="photo du profil">
                {% endif %}
            </a>
        </div>
        <div class="col-lg-5 mx-auto pt-3">
            <a href="{{ path('show_recruiter_profil', {"id":entity.id}) }}" class="link_recruiter">
                <h5 class="show_candidate_jumbotron_name">{{ entity.entityName | capitalize }}</h5>
            </a>
        </div>
        <div class="col-lg-5 mx-auto">
            <h4 class="show_candidate_jumbotron_name job_offer_title_jumbotron">{{ jobOffer.title | capitalize }}</h4>
        </div>
        <h5 class="show_candidate_jumbotron_infos">{{ jobOffer.city | capitalize }}
            - {{ jobOffer.contractType.wording |capitalize }}

            {% if jobOffer.remuneration.text %}
                - {{ jobOffer.remuneration.text |capitalize }}
            {% endif %}
            - {{ jobOffer.category.wording | capitalize }}
        </h5>

        {% if entity.socialNetwork %}
            <div class="col-lg-auto mx-auto container_social_network">
                <ul class="list-unstyled list-inline">
                    {% if entity.socialNetwork.website %}
                        <li class="list-inline-item">
                            <a class="nav-link" id="secondary-nav" href="{{ entity.socialNetwork.website }}"
                               target="_blank"><img class="logo_website" src="{{ asset('img/lieux_mini.png') }}"
                                                    alt="Site internet" title="Website"></a>
                        </li>
                    {% endif %}
                    {% if entity.socialNetwork.linkedin %}
                        <li class="list-inline-item">
                            <a class="nav-link"
                               href="{{ entity.socialNetwork.linkedin }}" target="_blank"><img
                                        class="logo_linkedin_job_offer" src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="Page linkedin" title="LinkedIn"></a>
                        </li>
                    {% endif %}
                    {% if entity.socialNetwork.github %}
                        <li class="list-inline-item">
                            <a class="nav-link" href="{{ entity.socialNetwork.github }}"
                               target="_blank"><img class="logo_github" src="{{ asset('img/logo_github_mini.png') }}"
                                                    alt="Page Github" title="Github"></a>
                        </li>
                    {% endif %}
                    {% if entity.socialNetwork.stackOverflow %}
                        <li class="list-inline-item">
                            <a class="nav-link" id="secondary-nav" href="{{ entity.socialNetwork.stackOverflow }}"
                               target="_blank"><img class="logo_stackoverflow" src="{{ asset('img/logo_stackoverflow_mini.png') }}"
                                                    alt="Stack Overflow" title="Stack Overflow"></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        <div class="row">
            <a class="btn position-absolute start-50 translate-middle" href="{{ path('show_recruiter_profil', {"id":entity.id}) }}">Consulter le profil</a>
        </div>
    </div>

    {# LEFT PART #}

    <div class="row">
        <div class="col-lg-7 container_info_offer">
            {% if entity.about %}
                <h3 class="subtitle">À propos de {{ entity.entityName }}</h3>
                <p>
                    {{ entity.about }}
                </p>
            {% endif %}
            {% if jobOffer.description %}
                <h3 class="subtitle">Descriptif du poste</h3>
                <p>
                    {{ jobOffer.description }}
                </p>
            {% endif %}
        </div>


        {# RIGHT PART #}

        <div class="col-lg-5">
            {% if entity.scoring is not empty %}
                <div class="show_candidate_sens_rate offer_right_part_section">
                    {% if entity.scoring is not empty %}
                        <div class="container_show_candidate_sense_rate">
                            <div class="block_img_sense_rate">
                                {% if entity.scoring.dominantSens is same as 'social' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/social500.png') }}" alt="taux de sens">
                                {% elseif entity.scoring.dominantSens is same as 'economique' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/econonomie500.png') }}" alt="taux de sens">
                                {% elseif entity.scoring.dominantSens is same as 'societal' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/societal500.png') }}" alt="taux de sens">
                                {% elseif entity.scoring.dominantSens is same as 'environnemental' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/environnemental500.png') }}" alt="taux de sens">
                                {% endif %}
                            </div>
                            <div class="text_sense_rate_show_candidate">
                                <h5>Taux de sens</h5>
                                <h5>{{ entity.scoring.dominantPourcent }}% {{ entity.scoring.dominantSens }}</h5>
                            </div>
                            <div class="btn_sense_rate_show_candidate">
                                <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas" title="Détails du taux de sens" id="btn_doughnut">
                            </div>
                        </div>
                        <div class="show_candidate_doughnutmx-auto pb-1 collapse" id="doughnut">
                            <canvas id="myChart"></canvas>
                            <br>
                        </div>
                    {% else %}
                        <p class="alert alert-success">
                            Le recruteur n'a pas encore calculé son taux de sens
                        </p>
                    {% endif %}
                </div>
            {% endif %}
            {% if jobOffer.telecommuting %}
            <div class="col-12">
                <div class="show_candidate_sens_rate offer_right_part_section">
                    {% if jobOffer.telecommuting %}
                        <h3 class="profil_category_title_candidate title_telecommuting">Télétravail accepté : <span>Oui</span></h3>
                    {% else %}
                        <h3 class="profil_category_title_candidate title_telecommuting">Télétravail accepté : <span>Non</span></h3>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="container_button_postuler">
                <a class="btn_postuler btn required" href="{{ path('apply', {'id': jobOffer.id}) }}">Postuler à cette offre</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if entity.scoring is not empty %}
        <script>
            const btn_doughnut = document.getElementById('btn_doughnut');
            const doughnut = document.getElementById('doughnut');

            btn_doughnut.addEventListener('click', function (e) {
                e.currentTarget.classList.toggle('rotate');
                doughnut.classList.toggle('collapse');
            })


            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Social', 'Environnement', 'Economie', 'Societal'],
                    datasets: [{
                        label: '# of Votes',
                        data: [
                            {{ entity.scoring.social }},
                            {{ entity.scoring.environment }},
                            {{ entity.scoring.economy }},
                            {{ entity.scoring.societal }}
                        ],
                        backgroundColor: [
                            'rgb(101, 220, 226)',
                            'rgb(91, 187, 199)',
                            'rgb(111, 110, 214)',
                            'rgb(76, 166, 218)',
                        ],
                    }]
                },
                options: {}
            });
        </script>
    {% endif %}
{% endblock %}