{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block title %}
    SOWRS - {{ recruiter.entityName }}
{% endblock %}

{% block body %}

    {# HEADER PAGE #}
    <div class="show_candidate_jumbotron pt-3">
        <div class="col-lg-2 mx-auto container_entity_picture">
            {# entity profil picture #}
            <div>
                {% if recruiter.picture %}
                    <img id="show_joboffer_photo_profile" class="img-fluid" src="{{ asset('images/profils/' ~ recruiter.picture.pictureName )}}"
                         alt="photo du profil" title="Photo de profil">
                {% else %}
                    <img id="show_joboffer_photo_profile" class="img-fluid" src="{{ asset('images/profils/avatar.jpg' )}}"
                         alt="photo par défaut" title="Avatar SOWRS">
                {% endif %}
            </div>
        </div>
        <div class="col-lg-5 mx-auto mt-3">
            <h4 class="show_candidate_jumbotron_name job_offer_title_jumbotron">
                {{ recruiter.entityName }}
            </h4>
        </div>
        <h5 class="show_candidate_jumbotron_infos">
            {# main cause #}
            {% if recruiter.legalStatus %}
                {{ recruiter.legalStatus.text }}
            {% endif %}
            {% if recruiter.city and recruiter.country %}
                &bull; {{ recruiter.city }} - {{ recruiter.country }}
            {% endif %}
            {% if recruiter.country and not recruiter.city %}
                &bull; {{ recruiter.country }}
            {% endif %}
            {% if recruiter.carbonFootprint %}
                &bull; {{ recruiter.carbonFootPrint }} kg CO² / an
            {% endif %}
            {% if recruiter.mainCause %}
                &bull; Cause : {{ recruiter.mainCause.text }}
            {% endif %}
        </h5>
    </div>

    {# BODY PAGE #}

        <div class="row">

            {# LEFT PART #}

            <div class=" col-lg-8 col-md-12 left_part_profil">
                {# reason to be #}
                {% if recruiter.reasonToBe is not null %}
                    <div class="container_category_profil">
                        <div class="row">
                            <h3 class="profil_category_title">Raison d'être de {{ recruiter.entityName }}</h3>
                        </div>
                        <div class="row">
                            {% if recruiter.reasonToBe %}
                                <p class="about_entity">
                                    {{ recruiter.reasonToBe|nl2br }}
                                </p>
                            {% else %}
                                <p class="alert alert-success">
                                    Le recruteur n'a pas encore renseigné les raisons d'être de l'entreprise
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {# about the entity #}
                <div class="container_category_profil">
                    <div class="row">
                        <h3 class="profil_category_title">&Agrave; propos de {{ recruiter.entityName }}</h3>
                    </div>
                    <div class="row">
                        {% if recruiter.about %}
                            <p class="about_entity">
                                {{ recruiter.about|nl2br }}
                            </p>
                        {% else %}
                            <p class="alert alert-success">
                                Le recruteur n'a pas encore renseigné l'À propos
                            </p>
                        {% endif %}
                    </div>
                    {# the presentation video #}
                    {% if recruiter.presentationVideoURL is not empty %}
                        <div class="row">
                            <iframe width="560" height="450"
                                    src="{{ recruiter.presentationVideoURL }}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    {% endif %}
                </div>
                {# jobOffers #}
                <div class="container_category_profil">
                    <div class="row">
                        <h3 class="profil_category_title">Offres d'emploi de {{ recruiter.entityName }}</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 container_commitment_recruiter container_offer_recruiter">
                            {% if recruiter.jobOffers is not empty %}
                                {% for jobOffer in recruiter.jobOffers %}
                                    <div class="container_job_offer container_job_offer_recruiter_profil">
                                        <div class="offer_title_contract">
                                            <a href="{{ path('jobOffer_show', {"id":jobOffer.id}) }}">
                                                <h3 class="job_offer_title show_recruiter_title">{{ jobOffer.title }}</h3>
                                            </a>
                                            {% if jobOffer.contractType.wording == 'CDI' %}
                                                <div class="contract_type taille"><div class="">{{ jobOffer.contractType.wording }}</div></div>
                                            {% elseif jobOffer.contractType.wording == 'CDD' %}
                                                <div class="contract_type_Associe"><div>{{ jobOffer.contractType.wording }}</div></div>
                                            {% elseif jobOffer.contractType.wording == 'Freelance - Indépendant' %}
                                                <div class="contract_type_Autre"><div>{{ jobOffer.contractType.wording }}</div></div>
                                            {% elseif jobOffer.contractType.wording == 'Associé(e)' %}
                                                <div class="contract_type_CDD"><div>{{ jobOffer.contractType.wording }}</div></div>
                                            {% elseif jobOffer.contractType.wording == 'Stage' %}
                                                <div class="contract_type_Freelance"><div>{{ jobOffer.contractType.wording }}</div></div>
                                            {% elseif jobOffer.contractType.wording == 'Intérim' %}
                                                <div class="contract_type_Interim"><div>{{ jobOffer.contractType.wording }}</div></div>
                                            {% elseif jobOffer.contractType.wording == 'Service bénévole' %}
                                                <div class="contract_type_Service"><div>{{ jobOffer.contractType.wording }}</div></div>
                                            {% elseif jobOffer.contractType.wording == 'Autre' %}
                                                <div class="contract_type_Stage"><div>{{ jobOffer.contractType.wording }}</div></div>
                                            {% endif %}
                                        </div>
                                        <div class="offer_localization">
                                            <h4 class="localisation_job_offer">{{ jobOffer.city }} - {{ jobOffer.country.name }}</h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-success">
                                    Le recruteur n'a pas encore renseigné ses engagements
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {# RIGHT PART #}

            <div class="col-lg-4 col-md-12 right_part">
                <div class="show_candidate_sens_rate offer_right_part_section">
                    {% if recruiter.scoring is not empty %}
                        <div class="container_show_candidate_sense_rate">
                            <div class="block_img_sense_rate">
                                {% if recruiter.scoring.dominantSens is same as 'social' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/social500.png') }}" alt="taux de sens">
                                {% elseif recruiter.scoring.dominantSens is same as 'economique' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/econonomie500.png') }}" alt="taux de sens">
                                {% elseif recruiter.scoring.dominantSens is same as 'societal' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/societal500.png') }}" alt="taux de sens">
                                {% elseif recruiter.scoring.dominantSens is same as 'environnemental' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/environnemental500.png') }}" alt="taux de sens">
                                {% endif %}
                            </div>
                            <div class="text_sense_rate_show_candidate">
                                <h5>Taux de sens</h5>
                                <h5>{{ recruiter.scoring.dominantPourcent }}% {{ recruiter.scoring.dominantSens }}</h5>
                            </div>
                            <div class="btn_sense_rate_show_candidate">
                                <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas" title="Détails du taux de sens" id="btn_doughnut">
                            </div>
                        </div>
                        <div class="show_candidate_doughnutmx-auto pb-1 collapse" id="doughnut">
                            <canvas id="myChart"></canvas>
                            <br>
                        </div>
                    {% else %}
                        <p class="alert alert-success">
                            Le recruteur n'a pas encore calculé son taux de sens
                        </p>
                    {% endif %}
                </div>
                {# complementary informations #}

                {# main cause #}
                <div class="complementary_infos_container">
                    <div class="row">
                        {% if recruiter.mainCause is not empty %}
                            <h3 class="profil_category_title_candidate recruiter_right_title">Cause principale : <span>{{ recruiter.mainCause.text }}</span></h3>
                        {% endif %}
                    </div>
                </div>

                {# secondary causes #}
                {% if recruiter.secondaryCauses is not empty %}
                    <div class="complementary_infos_container">
                        <div class="row">
                            <h3 class="profil_category_title_bottom recruiter_right_title">Causes secondaires : </h3>
                            <ul>
                                {% for secondaryCause in recruiter.secondaryCauses %}
                                    <li class="list_line">{{ secondaryCause.text }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {# engagements #}
                {% if recruiter.commitments is not empty %}
                    <div class="complementary_infos_container">
                        <div class="row">
                            <h3 class="profil_category_title_bottom recruiter_right_title">Engagements : </h3>
                            <ul>
                                {% for commitment in recruiter.commitments %}
                                    <li class="list_line">{{ commitment.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {# recognitions #}
                {% if recruiter.recognitions is not empty %}
                    <div class="complementary_infos_container">
                        <div class="row">
                            <h3 class="profil_category_title_bottom recruiter_right_title">Reconnaissances : </h3>
                            <ul>
                                {% for recognition in recruiter.recognitions %}
                                    <li class="list_line">{{ recognition.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {# social network #}
                <div class="row container_social_link">
                    {% if recruiter.socialNetwork %}
                        {% if recruiter.socialNetwork.website %}
                            <a href="{{ recruiter.socialNetwork.website }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.linkedin %}
                            <a href="{{ recruiter.socialNetwork.linkedin }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.facebook %}
                            <a href="{{ recruiter.socialNetwork.facebook }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/facebook_gris-10mm.png') }}" alt="mon Facebook" title="Facebook" class="social_link_mini" /></a>
                        {% endif %}
                        {% if recruiter.socialNetwork.twitter %}
                            <a href="{{ recruiter.socialNetwork.twitter }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/twitter_gris-10mm.png') }}" alt="mon twitter" title="Twitter" class="social_link_mini" /></a>
                        {% endif %}
                    {% endif %}
                </div>
                {% if recruiter.city is not null %}
                <div class="mapContainerRecruiter">
                    <h3 class="profil_category_title_candidate align-self-start">Localisation de {{ recruiter.entityName }} : </h3>
                    <div class="map" id="map"></div>
                </div>
                {% else %}

                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {# contact form #}
                    <div class="row container_contact">
                        <div>
                            <h3 class="profil_category_title_bottom">Contact </h3>
                            {{ form_start(formMessage, {'attr': {'class': 'form_contact_recruiter'}}) }}
                            {{ form_row(formMessage.subject) }}
                            {{ form_row(formMessage.body) }}
                            <div class="container_upload_files">
                                {{ form_row(formMessage.cvFile) }}
                                {{ form_row(formMessage.mediaFile) }}
                            </div>
                            <button type="submit" class="btn required btn_send_message">Envoyer</button>
                            {{ form_end(formMessage) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    <div class="general_modal uploaded_file_message_modal">
        <div class="just_simple_info_modal">
            <h4>Fichier uploadé avec succès &#128077</h4>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if recruiter.scoring is not empty %}
        <script>
            const btn_doughnut = document.getElementById('btn_doughnut');
            const doughnut = document.getElementById('doughnut');

            btn_doughnut.addEventListener('click', function (e) {
                e.currentTarget.classList.toggle('rotate');
                doughnut.classList.toggle('collapse');
            })


            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Social', 'Environnement', 'Economie', 'Societal'],
                    datasets: [{
                        label: '# of Votes',
                        data: [
                            {{ recruiter.scoring.social }},
                            {{ recruiter.scoring.environment }},
                            {{ recruiter.scoring.economy }},
                            {{ recruiter.scoring.societal }}
                        ],
                        backgroundColor: [
                            'rgb(101, 220, 226)',
                            'rgb(91, 187, 199)',
                            'rgb(111, 110, 214)',
                            'rgb(76, 166, 218)',
                        ],
                    }]
                },
                options: {}
            });
        </script>
    {% endif %}
    <script>
        let labelCV = document.querySelector('label[for="message_cvFile"]');
        let labelMedia = document.querySelector('label[for="message_mediaFile"]');
        labelCV.innerHTML = '<i class="fas fa-3x fa-file-upload file_upload_first"></i>';
        labelMedia.innerHTML = '<i class="fas fa-3x fa-file-upload file_upload_second"></i>';
        labelCV.setAttribute('title', 'Importer un premier document');
        labelMedia.setAttribute('title', 'Importer un second document');
        labelCV.setAttribute('style', 'cursor:pointer;');
        labelMedia.setAttribute('style', 'cursor:pointer;');
    </script>

    {# Change the upload appaerance when file is uploaded #}
    <script>
        
        const fileUploadMessage = document.querySelector(".uploaded_file_message_modal");

        window.addEventListener('load', function (){
            let firstDocument = document.querySelector('#message_cvFile');
            let secondDocument = document.querySelector('#message_mediaFile');
            let btn_upload_first = document.querySelector('.file_upload_first');
            let btn_upload_second = document.querySelector('.file_upload_second');
            firstDocument.addEventListener('change', function (){
                btn_upload_first.setAttribute('style', 'color:#1DCA91!important;');
                btn_upload_first.setAttribute('title', firstDocument.value);
                fileUploadMessage.setAttribute('style', 'display:flex');
                setTimeout(function (){
                    fileUploadMessage.setAttribute('style', 'display:none');
                }, 2000);
            });
            secondDocument.addEventListener('change', function (){
                btn_upload_second.setAttribute('style', 'color:#1DCA91!important;');
                btn_upload_second.setAttribute('title', secondDocument.value);
                fileUploadMessage.setAttribute('style', 'display:flex');
                setTimeout(function (){
                    fileUploadMessage.setAttribute('style', 'display:none');
                }, 2000);
            });
        });

    </script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script>
        let lat;
        let lon;
        let mymap;
        let marker;
        let popupContent = '{{ recruiter.entityName }} se situe dans la ville de {{ recruiter.postalCode }} {{ recruiter.city }}'; //Pas utilisé
        let errorContent = 'La localisation depuis la carte n\'est pas disponible.'; //Pas utilisé
        let mapGoogle = document.getElementById('mapGoogle');
        let mapId = document.getElementById('map');
        let city = '{{ recruiter.city }}';
        let postalCode = '{{ recruiter.postalCode }}';
        let customOptions =
            {
                'className' : 'custom'
            }

        //Si au moins la ville est renseignée
        if (city != '' && postalCode != ''){

            //On récupère la ville du candidat(Zone géographique)
            let completeAddress = postalCode + " " + city;

            //Gestion de l'icone personnalisé
            let sowrsIcon = L.icon({
                iconUrl: '../../img/map-marker-alt-solid.svg',
                iconSize:     [35, 65], // size of the icon
                iconAnchor:   [15, 52], // point of the icon which will correspond to marker's location
                popupAnchor:  [2, -42] // point from which the popup should open relative to the iconAnchor
            });

            //On fais la requète au pres de l'api NOMINATIM (recherche addresse)
            const xmlhttp = new XMLHttpRequest()
            xmlhttp.onreadystatechange = () => {

                //Todo: est ce que faire des decla et au cas ou des div hidden dans 1 2 et 3
                if(xmlhttp.readyState === 4){

                    //si la requète passe on recupère la ville, les coordonnées et on init la map + marqueur
                    if (xmlhttp.status === 200){

                        //on affiche la div si ready et status ok
                        mapId.hidden = false

                        //On recupère les infos
                        let response = JSON.parse(xmlhttp.response)

                        if (response != ''){

                            //On prend la latitude et la longitude
                            lat = response[0]["lat"];
                            lon = response[0]["lon"];

                            //Affichage aux coordonnées récupérées
                            mymap = L.map('map').setView([lat, lon], 11);

                            //On place le marqueur
                            marker = L.marker([lat, lon], {icon: sowrsIcon}).addTo(mymap);

                            //Popup précision que c'est sur paris
                            marker.bindPopup(popupContent, customOptions).openPopup();

                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery ©',
                                maxZoom: 25,
                            }).addTo(mymap);

                        }else {
                            //On cache les div en cas d'erreur
                            mapId.hidden = true
                            mapGoogle.hidden = true
                        }

                    }else {
                        //On cache la div en cas d'erreur
                        mapId.hidden = true
                    }
                }
            }

            //XML.Open Requete faite status 1
            xmlhttp.open("get", `https://nominatim.openstreetmap.org/search?q=${completeAddress}&format=json&adressdetails=1&limit=1`)
            xmlhttp.send()

        }else {

            //Todo: Gestion du else
            //div cachées
            mapId.hidden = true
            mapGoogle.hidden = true

        }


    </script>
{% endblock %}