{% extends 'base.html.twig' %}

{% block title %} Sowrs | {{ jobOffer.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

{% endblock %}

{% block body %}
    <div class="show_candidate_jumbotron pt-3">
        <div class="col-lg-1 mx-auto container_entity_picture">
            <a href="{{ path('show_recruiter_profil', {"id":entity.id}) }}" class="link_recruiter">
                {% if entity.picture %}
                    <img style="width: 100%" class="rounded-circle"
                         src="{{ asset('images/profils/' ~entity.picture.pictureName ) }}"
                         alt="photo du profil">
                {% else %}
                    <img style="width: 100%" class="rounded-circle"
                         src="{{ asset('images/profils/avatar.jpg') }}"
                         alt="photo du profil">
                {% endif %}
            </a>
        </div>
        <div class="col-lg-5 mx-auto">

            <a href="{{ path('show_recruiter_profil', {"id":entity.id}) }}" class="link_recruiter">
                <h5 class="show_candidate_jumbotron_name" style="color: #dfdfdf">{{ entity.entityName | capitalize }}</h5>
            </a>
        </div>
        <div class="col-lg-5 mx-auto">
            <h4 class="show_candidate_jumbotron_name" style="color: #FFFFFF">{{ jobOffer.title | capitalize }}</h4>
        </div>
        <h5 class="show_candidate_jumbotron_infos">{{ jobOffer.city | capitalize }}
            - {{ jobOffer.contractType.wording |capitalize }}

            {% if jobOffer.remuneration.text %}
                - {{ jobOffer.remuneration.text |capitalize }}
            {% endif %}
            - {{ jobOffer.category.wording | capitalize }}
        </h5>

        {% if entity.socialNetwork %}
            <div class="col-lg-auto mx-auto" style="text-align: center">
                <ul class="list-unstyled list-inline">
                    {% if entity.socialNetwork.website %}
                        <li class="list-inline-item">
                            <a class="nav-link" id="secondary-nav" href="{{ entity.socialNetwork.website }}"
                               target="_blank"><img class="logo_website" src="{{ asset('img/lieux_mini.png') }}"
                                                    alt="Site internet"></a>
                        </li>
                    {% endif %}
                    {% if entity.socialNetwork.linkedin %}
                        <li class="list-inline-item">
                            <a class="nav-link"
                               href="{{ entity.socialNetwork.linkedin }}" target="_blank"><img
                                        class="logo_linkedin" src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="Page linkedin"></a>
                        </li>
                    {% endif %}
                    {% if entity.socialNetwork.github %}
                        <li class="list-inline-item">
                            <a class="nav-link" href="{{ entity.socialNetwork.github }}"
                               target="_blank"><img class="logo_github" src="{{ asset('img/logo_github_mini.png') }}"
                                                    alt="Page Github"></a>
                        </li>
                    {% endif %}
                    {% if entity.socialNetwork.stackOverflow %}
                        <li class="list-inline-item">
                            <a class="nav-link" id="secondary-nav" href="{{ entity.socialNetwork.stackOverflow }}"
                               target="_blank"><img class="logo_stackoverflow" src="{{ asset('img/logo_stackoverflow_mini.png') }}"
                                                    alt="Stack Overflow"></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>

    {# LEFT PART #}

    <div class="row">
        <div class="col-lg-7 container_info_offer">
            <h3 class="subtitle">À propos de {{ entity.entityName }}</h3>
            <p>
                {{ entity.about }}
            </p>

            <h3 class="subtitle">Descriptif du poste</h3>
            <p>
                {{ jobOffer.description }}
            </p>
        <div>
            <a type="btn required" style=" width: 225px;border-radius: 50px;background: #1DCA91; border: none;text-decoration: none;padding: 10px; font-size: larger;color: white; margin: auto;" href="{{ path('apply', {'id': jobOffer.id}) }}">Postuler à cette offre</a>
        </div>


        {# RIGHT PART #}

        <div class="col-lg-5">
            <div class="show_candidate_sens_rate">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <img src="" alt="taux de sens">
                    </div>
                    <div class="col-lg-8">
                        <h5>Taux de sens</h5>
                        <h5>{{ entity.scoring.dominantPourcent }}% {{ entity.scoring.dominantSens }}</h5>
                    </div>
                    <div class="col-lg-1 ">
                        <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas" width="100%"
                             style="margin: 0" id="btn_doughnut">
                    </div>
                </div>
                <br>
                <div class="doughnut col-lg-8 mx-auto pb-1 collapse" id="doughnut">
                    <canvas id="myChart"></canvas>
                    <br>
                </div>
            </div>

            {# apply form #}

            <div class="row container_contact">
                {{ form_start(applyForm) }}
                <div class="row">
                    <div class="col-6">{{ form_row(applyForm.lastname, {'attr': {'value':app.user.lastname}}) }}</div>
                    <div class="col-6">{{ form_row(applyForm.firstname, {'attr': {'value':app.user.firstname}}) }}</div>
                </div>
                {{ form_row(applyForm.email, {'attr': {'value':app.user.email}}) }}
                {{ form_row(applyForm.message, {'attr': {'placeholder':'Votre message'}}) }}
                {{ form_row(applyForm.file, {'attr': {'id':'apply_input_file'}}) }}
                <button type="submit" class="btn required">Postuler</button>
                {{ form_end(applyForm) }}
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const btn_doughnut = document.getElementById('btn_doughnut');
        const doughnut = document.getElementById('doughnut');

        btn_doughnut.addEventListener('click', function (e) {
            e.currentTarget.classList.toggle('rotate');
            doughnut.classList.toggle('collapse');
        })


        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Social', 'Environnement', 'Economie', 'Societal'],
                datasets: [{
                    label: '# of Votes',
                    data: [
                        {{ entity.scoring.social }},
                        {{ entity.scoring.environment }},
                        {{ entity.scoring.economy }},
                        {{ entity.scoring.societal }}
                    ],
                    backgroundColor: [
                        'rgba(161, 14, 214, 0.53)',
                        'rgba(44, 168, 19, 0.68)',
                        'rgba(89, 121, 252, 1)',
                        'rgba(252, 187, 89, 0.71)',
                    ],
                }]
            },
            options: {}
        });
    </script>
{% endblock %}