{% extends 'base.html.twig' %}

{% block title %} Sowrs | Offre d'emploi : {{ jobOffer.title }}{% endblock %}

{% block meta %}
    <meta name="description" content="Retrouvez d'autres offres de jobs tech à impact positif sur notre CVthèque gratuite en ligne. Donnez du sens à votre carrière !" />
    <meta property="og:title" content="Poste de {{ jobOffer.title }} en {{ jobOffer.contractType.wording|upper }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="https://sowrs.com/img/welcome_sowrs.jpg">
    <meta property="og:description" content="Poste de {{ jobOffer.title }} en {{ jobOffer.contractType.wording|upper }}. Retrouvez d'autres offres de jobs tech à impact positif sur notre CVthèque gratuite en ligne !" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
{% endblock %}

{% block body %}
    <div class="show_candidate_jumbotron pt-3">
        <div class="col-lg-2 mx-auto container_entity_picture">
            <a title="recruiter profile" href="{{ path('show_recruiter_profil', {"id":entity.id}) }}" class="link_recruiter">
                {% if entity.picture %}
                    <img id="show_joboffer_photo_profile" class="img-fluid mb-3"
                         src="{{ asset('images/profils/' ~entity.picture.pictureName ) }}"
                         alt="photo du profil">
                {% else %}
                    <img id="show_joboffer_photo_profile" class="img-fluid mb-3"
                         src="{{ asset('images/profils/avatar.jpg') }}"
                         alt="photo du profil">
                {% endif %}
            </a>
        </div>
        <div class="col-lg-5 mx-auto pt-3">
            <a title="" href="{{ path('show_recruiter_profil', {"id":entity.id}) }}" class="link_recruiter">
                <h5 class="show_candidate_jumbotron_name">{{ entity.entityName | capitalize }}</h5>
            </a>
        </div>
        <div class="col-lg-5 mx-auto">
            <h4 class="show_candidate_jumbotron_name job_offer_title_jumbotron">{{ jobOffer.title | capitalize }}</h4>
        </div>
        <h5 class="show_candidate_jumbotron_infos offer_infos">{{ jobOffer.city | capitalize }}
            - {{ jobOffer.contractType.wording |upper }}

            {% if jobOffer.remuneration.text %}
                - {{ jobOffer.remuneration.text |capitalize }}
            {% endif %}
            - {{ jobOffer.category.wording | capitalize }}
        </h5>

        {% if entity.socialNetwork %}
            <div class="col-lg-auto mx-auto container_social_network">
                <ul class="list-unstyled list-inline">
                    {% if entity.socialNetwork.website %}
                        <li class="list-inline-item">
                            <a title="recruiter website" class="nav-link" id="secondary-nav" href="{{ entity.socialNetwork.website }}"
                               target="_blank"><img class="logo_website" src="{{ asset('img/lieux_mini.png') }}"
                                                    alt="Site internet" title="Website"></a>
                        </li>
                    {% endif %}
                    {% if entity.socialNetwork.linkedin %}
                        <li class="list-inline-item">
                            <a title="recruiter linkedin profile" class="nav-link"
                               href="{{ entity.socialNetwork.linkedin }}" target="_blank"><img
                                        class="logo_linkedin_job_offer" src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="Page linkedin" title="LinkedIn"></a>
                        </li>
                    {% endif %}
                    {% if entity.socialNetwork.github %}
                        <li class="list-inline-item">
                            <a title="recruiter github profile" class="nav-link" href="{{ entity.socialNetwork.github }}"
                               target="_blank"><img class="logo_github" src="{{ asset('img/logo_github_mini.png') }}"
                                                    alt="Page Github" title="Github"></a>
                        </li>
                    {% endif %}
                    {% if entity.socialNetwork.stackOverflow %}
                        <li class="list-inline-item">
                            <a title="recruiter stackoverflow profile" class="nav-link" id="secondary-nav" href="{{ entity.socialNetwork.stackOverflow }}"
                               target="_blank"><img class="logo_stackoverflow" src="{{ asset('img/logo_stackoverflow_mini.png') }}"
                                                    alt="Stack Overflow" title="Stack Overflow"></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        <div class="row">
            <a title="recruiter profile" class="btn position-absolute start-50 translate-middle" href="{{ path('show_recruiter_profil', {"id":entity.id}) }}">Consulter le profil</a>
        </div>
    </div>

    {# LEFT PART #}

    <div class="row">
        <div class="col-lg-7 container_info_offer">
            {% if entity.about %}
                <h3 class="subtitle">À propos de {{ entity.entityName }}</h3>
                <p class="about_p">
                    {{ entity.about }}
                </p>
            {% endif %}
            {% if jobOffer.description %}
                <h3 class="subtitle">Descriptif du poste</h3>
                <p>
                    {{ jobOffer.description|raw }}
                </p>
            {% endif %}
        </div>


        {# RIGHT PART #}

        <div class="col-lg-5">
            {% if jobOffer.telecommuting %}
                <div class="col-12">
                    <div class="show_candidate_sens_rate offer_right_part_section">
                        {% if jobOffer.telecommuting %}
                            {% if jobOffer.creationDate is not empty %}
                                <h3 class="profil_category_title_candidate title_telecommuting">Parution : <span>{{ jobOffer.creationDate|date('d/m/Y') }}</span></h3>
                            {% endif %}
                            <h3 class="profil_category_title_candidate title_telecommuting">Télétravail accepté : <span>Oui</span></h3>
                            <h3 class="profil_category_title_candidate">Localisation du poste :</h3>

                        {% endif %}
                        <div class="mapContainer">
                            <div class="map" id="map"></div>
                        </div>
                        <div class="row">
                            <a title="recruiter location" id="mapGoogle" class="btn btnItinéraire" target="_blank" href="https://www.google.com/maps/dir//{{ jobOffer.numberAddress }}+{{ jobOffer.Address }}+{{ jobOffer.postalCode }}+{{ jobOffer.city }}">Itinéraire vers votre nouveau job</a>
                        </div>

                    </div>
                </div>
            {% else %}
                <div class="show_candidate_sens_rate offer_right_part_section">
                    {% if jobOffer.creationDate is not empty %}
                        <h3 class="profil_category_title_candidate title_telecommuting">Parution : <span>{{ jobOffer.creationDate|date('d/m/Y') }}</span></h3>
                    {% endif %}
                </div>
            {% endif %}
            {% if entity.scoring is not empty %}
                <div class="show_candidate_sens_rate offer_right_part_section">
                    {% if entity.scoring is not empty %}
                        <div class="container_show_candidate_sense_rate">
                            <div class="block_img_sense_rate">
                                {% if entity.scoring.dominantSens is same as 'social' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/social500.png') }}" alt="taux de sens">
                                {% elseif entity.scoring.dominantSens is same as 'economique' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/econonomie500.png') }}" alt="taux de sens">
                                {% elseif entity.scoring.dominantSens is same as 'societal' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/societal500.png') }}" alt="taux de sens">
                                {% elseif entity.scoring.dominantSens is same as 'environnemental' %}
                                    <img class="mini_img_sense_rate" src="{{ asset('img/environnemental500.png') }}" alt="taux de sens">
                                {% endif %}
                            </div>
                            <div class="text_sense_rate_show_candidate">
                                <h5>Taux de sens</h5>
                                <h5>{{ entity.scoring.dominantPourcent }}% {{ entity.scoring.dominantSens }}</h5>
                            </div>
                            <div class="btn_sense_rate_show_candidate">
                                <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas" title="Détails du taux de sens" id="btn_doughnut">
                            </div>
                        </div>
                        <div class="show_candidate_doughnutmx-auto pb-1 collapse" id="doughnut">
                            <canvas id="myChart"></canvas>
                            <br>
                        </div>
                    {% else %}
                        <p class="alert alert-success">
                            Le recruteur n'a pas encore calculé son taux de sens
                        </p>
                    {% endif %}
                </div>
            {% else %}
                <div class="show_candidate_sens_rate offer_right_part_section">
                    <p class="alert alert-success">
                        Le recruteur n'a pas encore calculé son taux de sens
                    </p>
                </div>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if jobOffer.entity != app.user %}
                    <div class="container_button_postuler">
                        <a title="send apply" class="btn_postuler btn required" href="{{ path('apply', {'id': jobOffer.id}) }}">Postuler à cette offre</a>
                    </div>
                {% endif %}
            {% else %}
                <div class="container_button_postuler">
                    <a title="send apply" class="btn_postuler btn required" href="{{ path('app_register') }}">Postuler à cette offre</a>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if entity.scoring is not empty %}
        <script>
            const btn_doughnut = document.getElementById('btn_doughnut');
            const doughnut = document.getElementById('doughnut');

            btn_doughnut.addEventListener('click', function (e) {
                e.currentTarget.classList.toggle('rotate');
                doughnut.classList.toggle('collapse');
            })


            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Social', 'Environnement', 'Economie', 'Societal'],
                    datasets: [{
                        label: '# of Votes',
                        data: [
                            {{ entity.scoring.social }},
                            {{ entity.scoring.environment }},
                            {{ entity.scoring.economy }},
                            {{ entity.scoring.societal }}
                        ],
                        backgroundColor: [
                            'rgb(101, 220, 226)',
                            'rgb(91, 187, 199)',
                            'rgb(111, 110, 214)',
                            'rgb(76, 166, 218)',
                        ],
                    }]
                },
                options: {}
            });
        </script>

    {% endif %}

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <script>
        let lat;
        let lon;
        let mymap;
        let marker;
        let popupContent = '{{ jobOffer.numberAddress }} {{ jobOffer.address}} {{ jobOffer.postalCode }} {{ jobOffer.city }}'; //Pas utilisé
        let errorContent = 'La localisation depuis la carte n\'est pas disponible.'; //Pas utilisé
        let mapGoogle = document.getElementById('mapGoogle');
        let mapId = document.getElementById('map');
        let nbAddress = '{{ jobOffer.numberAddress}}';
        let address = '{{ jobOffer.address }}';
        let postalCode = '{{ jobOffer.postalCode }}';
        let city = '{{ jobOffer.city }}';
        let customOptions =
            {
                'className' : 'custom'
            }

        //Si au moins la ville est renseignée
        if (city != '') {

            //On récupère la ville du candidat
            let completeAddress = nbAddress + ' ' + address + ' ' + postalCode + ' ' + city;

            //Gestion de l'icone personnalisé
            let sowrsIcon = L.icon({
                iconUrl: '../../img/map-marker-alt-solid.svg',
                iconSize:     [35, 65], // size of the icon
                iconAnchor:   [15, 52], // point of the icon which will correspond to marker's location
                popupAnchor:  [2, -42] // point from which the popup should open relative to the iconAnchor
            });

            //On fais la requète au pres de l'api NOMINATIM (recherche addresse)
            const xmlhttp = new XMLHttpRequest()
            xmlhttp.onreadystatechange = () => {

                //Todo: est ce que faire des decla et au cas ou des div hidden dans 1 2 et 3
                if(xmlhttp.readyState === 4){

                    //si la requète passe on recupère la ville, les coordonnées et on init la map + marqueur
                    if (xmlhttp.status === 200){

                        //on affiche la div si ready et status ok
                        mapId.hidden = false

                        //On recupère les infos
                        let response = JSON.parse(xmlhttp.response)

                        if (response != ''){

                            //On prend la latitude et la longitude
                            lat = response[0]["lat"];
                            lon = response[0]["lon"];

                            //Affichage aux coordonnées récupérées
                            mymap = L.map('map').setView([lat, lon], 13);

                            //On place le marqueur
                            marker = L.marker([lat, lon], {icon: sowrsIcon}).addTo(mymap);

                            //Popup précision que c'est sur paris
                            marker.bindPopup(popupContent, customOptions).openPopup();


                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery ©',
                                maxZoom: 25,
                            }).addTo(mymap);

                        }else {
                            //On cache les div en cas d'erreur
                            mapId.hidden = true
                            mapGoogle.hidden = true
                        }

                    }else {
                        //On cache la div en cas d'erreur
                        mapId.hidden = true
                    }
                }
            }

            //XML.Open Requete faite status 1
            xmlhttp.open("get", `https://nominatim.openstreetmap.org/search?q=${completeAddress}&format=json&adressdetails=1&limit=1`)
            xmlhttp.send()

        }else {

            //Todo: Gestion du else
            //div cachées
            mapId.hidden = true
            mapGoogle.hidden = true

        }


    </script>
{% endblock %}