{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {% if "ROLE_CANDIDATE" in user.roles %}
        {{ user.firstname }} {{ user.lastname }}
    {% else %}
        {{ user.entityName }}
    {% endif %}
{% endblock %}

{% block body %}

    {# HEADER PAGE #}

    <div class="show_candidate_jumbotron pt-3">
        {# profil picture #}
        <div class="col-lg-2 mx-auto container_entity_picture">
            <div>
                {% if user.picture is not empty %}
                    <img id="show_joboffer_photo_profile" class="img-fluid" src="{{ asset('images/profils/' ~ user.picture.pictureName )}}"
                         alt="photo du profil" title="Photo de profil">
                {% else %}
                    <img id="show_joboffer_photo_profile" class="img-fluid" src="{{ asset('images/profils/avatar.jpg' )}}"
                         alt="photo par défaut" title="Avatar SOWRS">
                {% endif %}
            </div>
        </div>
        {# entity name or user identity #}
        <div class="col-lg-5 mx-auto pt-4">
            {% if "ROLE_CANDIDATE" in user.roles %}
                <div>
                {% if user.firstname is not empty and user.lastname is not empty %}
                    <h4 class="show_candidate_jumbotron_name job_offer_title_jumbotron">{{ user.firstname }} {{ user.lastname }}</h4>
                {% endif %}
                </div>
            {% else %}
                <div>
                {% if user.entityName is not empty %}
                    <h4 class="show_candidate_jumbotron_name job_offer_title_jumbotron">{{ user.entityName }}</h4>
                {% endif %}
                </div>
            {% endif %}
        </div>

        {# complementary informations #}
            {% if "ROLE_CANDIDATE" in user.roles %}
                <h5 class="show_candidate_jumbotron_infos">
                    {% if user.currentRole %}
                        {{ user.currentRole | capitalize }} &bull;
                    {% endif %}
                    {% if user.jobSearch is not empty %}
                        {% if user.jobSearch.city and user.jobSearch.region %}
                            {{ user.jobSearch.city | capitalize }} - {{ user.jobSearch.region.name | capitalize }} &bull;
                        {% endif %}
                        {% if user.jobSearch.contractType.wording %}
                            {{ user.jobSearch.contractType.wording }} &bull;
                        {% endif %}
                        {% if user.jobSearch.desiredRemuneration.text %}
                            {{ user.jobSearch.desiredRemuneration.text }}
                        {% endif %}
                    {% endif %}
                </h5>
                {% if user.inspiration %}
                    <h4 class="show_candidate_jumbotron_inspiration pb-5">
                        "{{ user.inspiration | capitalize }}"
                    </h4>
                {% endif %}
            {% else %}
                <h5 class="show_candidate_jumbotron_infos">
                    {% if user.legalStatus.text %}
                        {{ user.legalStatus.text |capitalize }} &bull;
                    {% endif %}
                    {% if user.city and user.country %}
                        {{ user.city | capitalize }} - {{ user.country | capitalize }} &bull;
                    {% endif %}
                    {% if user.carbonFootPrint %}
                        {{ user.carbonFootPrint }} kg CO² / an
                    {% endif %}
                </h5>
                {% if user.mainCause is not empty %}
                    <h4 class="show_candidate_jumbotron_inspiration pb-5">
                        Cause : {{ user.mainCause.text |capitalize }}
                    </h4>
                {% endif %}
            {% endif %}


{#        #}{# inspiration or main cause #}

{#            {% if "ROLE_CANDIDATE" in user.roles %}#}
{#                {% if user.inspiration %}#}
{#                    "{{ user.inspiration | capitalize }}"#}
{#                {% endif %}#}
{#            {% else %}#}
{#                {% if user.mainCause is not empty %}#}
{#                    Cause : {{ user.mainCause.text |capitalize }}#}
{#                {% endif %}#}
{#            {% endif %}#}

    </div>

    {# BODY PAGE #}

    {# CANDIDAT #}

    {% if "ROLE_CANDIDATE" in user.roles %}
        <div class="row container_profil">
            {# LEFT PART #}
            <div class=" col-lg-8 col-md-12 left_part_profil">
                {# about the entity #}
                <div class="container_category_profil">
                    <div class="row">
                        {% if user.firstname %}
                            <h3 class="profil_category_title">&Agrave; propos de {{ user.firstname }}</h3>
                        {% else %}
                            <h3 class="profil_category_title">&Agrave; propos ...</h3>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if user.about %}
                        <p class="about_user">
                            {{ user.about }}
                        </p>
                        {% else %}
                            <p class="alert alert-success">
                                Vous n'avez pas encore défini l'À propos
                            </p>
                        {% endif %}
                    </div>
                </div>
                {# engagements #}
                <div class="container_category_profil">
                    <div class="row">
                        {% if user.firstname %}
                            <h3 class="profil_category_title">{{ user.firstname }} est engagé dans :</h3>
                        {% else %}
                            <h3 class="profil_category_title">Engagements :</h3>
                        {% endif %}
                    </div>
                    {% if(user.commitments is not empty) %}
                        <div class="row">
                            {% for commitment in user.commitments %}
                                <div class="commitment_candidate col-12">
                                    <h3>{{ commitment.title }}</h3>
                                    <p>
                                        {{ commitment.text }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            Vous n'avez pas encore renseigné vos engagements
                        </div>
                    {% endif %}
                </div>
                {% if user.cv is not empty %}
                    <div class="row block_cv_pdf">
                        <div class="container_cv_pdf col-sm-12 col-lg-10 offset-lg-1">
                            <object type="application/pdf" width="100%" height="100%" class="cv_object">
                                <param name="src" value="{{ asset("file/cv/" ~user.cv.cvName) }}" />
                                <p>Votre navigateur ne semble pas configuré pour lire des PDF.
                                    Pas de panique, <a href="{{ asset("file/cv/" ~user.cv.cvName) }}">Téléchargez-le</a>
                                </p>
                            </object>
                        </div>
                    </div>
                {% endif %}
            </div>

            {# RIGHT PART #}

            <div class="col-lg-4 col-md-12 right_part">
                <div class="row sense_rate_line">
                    <div class="show_candidate_sens_rate">
                        {% if user.scoring is not empty %}
                            <div class="row align-items-center">
                                <div class="container_sense_rate_infos">
                                    <div>
                                        {% if app.user.scoring.dominantSens is same as 'social' %}
                                            <img class="mini_img_sense_rate" src="{{ asset('img/social500.png') }}" alt="taux de sens">
                                        {% elseif app.user.scoring.dominantSens is same as 'economique' %}
                                            <img class="mini_img_sense_rate" src="{{ asset('img/econonomie500.png') }}" alt="taux de sens">
                                        {% elseif app.user.scoring.dominantSens is same as 'societal' %}
                                            <img class="mini_img_sense_rate" src="{{ asset('img/societal500.png') }}" alt="taux de sens">
                                        {% elseif app.user.scoring.dominantSens is same as 'environnemental' %}
                                            <img class="mini_img_sense_rate" src="{{ asset('img/environnemental500.png') }}" alt="taux de sens">
                                        {% endif %}
                                    </div>
                                    <div>
                                        <h5>Taux de sens</h5>
                                        <h5>{{ user.scoring.dominantPourcent }}% {{ user.scoring.dominantSens }}</h5>
                                    </div>
                                    <div>
                                        <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas" title="Détails taux de sens"
                                             id="btn_doughnut">
                                    </div>
                                </div>
                            </div>
                            <div class="doughnut col-lg-8 mx-auto pb-1 collapse" id="doughnut">
                                <canvas id="myChart"></canvas>
                            </div>
                        {% else %}
                            <p class="alert alert-success">
                                Vous n'avez pas encore calculé votre taux de sens !
                            </p>
                        {% endif %}
                    </div>
                </div>

                {# complementary informations #}

                {# experience level #}
                <div class="complementary_infos_container">
                    <div class="row">
                        {% if user.levelExperience is not empty %}
                            <h3 class="profil_category_title_candidate">Niveau d'expérience : <span>{{ user.levelExperience.wording }}</span></h3>
                        {% else %}
                            <h3 class="profil_category_title_candidate">Niveau d'expérience : <span>Non renseigné</span></h3>
                        {% endif %}
                    </div>
                    {# study level #}
                    <div class="row">
                        {% if user.levelStudy is not empty %}
                            <h3 class="profil_category_title_candidate">Niveau d'études : <span>{{ user.levelStudy.wording }}</span></h3>
                        {% else %}
                            <h3 class="profil_category_title_candidate">Niveau d'études : <span>Non renseigné</span></h3>
                        {% endif %}
                    </div>
                    {# searched job #}
                    <div class="row">
                        {% if user.jobSearch is not empty %}
                            <h3 class="profil_category_title_candidate">Poste recherché : <span>{{ user.jobSearch.jobTitle }}</span></h3>
                        {% else %}
                            <h3 class="profil_category_title_candidate">Poste recherché : <span>Non renseigné</span></h3>
                        {% endif %}
                    </div>
                    {# main cause #}
                    <div class="row">
                        {% if user.mainCause is not empty %}
                            <h3 class="profil_category_title_candidate">Cause défendue : <span>{{ user.mainCause.text }}</span></h3>
                        {% else %}
                            <h3 class="profil_category_title_candidate">Cause défendue : <span>Non renseigné</span></h3>
                        {% endif %}
                    </div>
                    {# can work in (country) #}
                    <div class="row">
                        {% if user.authorizedCountry is not empty %}
                            <h3 class="profil_category_title_candidate">Autorisé à travailler : <span>{{ user.authorizedCountry.name }}</span></h3>
                        {% else %}
                            <h3 class="profil_category_title_candidate">Autorisé à travailler : <span>Non renseigné</span></h3>
                        {% endif %}
                    </div>{# open to telecommuting #}
                    <div class="row">
                        {% if user.jobSearch is not empty %}
                            {% if user.jobSearch.telecommute is not empty %}
                                <h3 class="profil_category_title_candidate">Ouvert au télétravail : <span>Oui</span></h3>
                            {% else %}
                                <h3 class="profil_category_title_candidate">Ouvert au télétravail : <span>Non</span></h3>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {# social network #}
                <div class="row container_social_link">
                    {% if user.socialNetwork %}
                        {% if user.socialNetwork.website %}
                            <a href="{{ user.socialNetwork.website }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.linkedin %}
                            <a href="{{ user.socialNetwork.linkedin }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.stackOverflow %}
                            <a href="{{ user.socialNetwork.stackOverflow }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_stackoverflow_mini.png') }}" alt="mon stackoverflow" title="StackOverflow" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.github %}
                            <a href="{{ user.socialNetwork.github }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_github_mini.png') }}" alt="mon github" title="Github" class="social_link_mini" /></a>
                        {% endif %}
                    {% else %}
                        <p class="alert alert-light">
                            Candidat pas présente sur les réseaux
                        </p>
                    {% endif %}
                </div>
            </div>
            {# mini social network #}
            <div class="row mini_container_social_link">
                <div class="mini_social_link">
                    {% if user.socialNetwork %}
                        {% if user.socialNetwork.website %}
                            <a href="{{ user.socialNetwork.website }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.linkedin %}
                            <a href="{{ user.socialNetwork.linkedin }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.stackOverflow %}
                            <a href="{{ user.socialNetwork.stackOverflow }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_stackoverflow_mini.png') }}" alt="mon stackoverflow" title="StackOverflow" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.github %}
                            <a href="{{ user.socialNetwork.github }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_github_mini.png') }}" alt="mon github" title="Github" class="social_link_mini" /></a>
                        {% endif %}
                    {% else %}
                        <p class="alert alert-light">
                            Candidat pas présente sur les réseaux
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}

    {# RECRUITER #}

        <div class="row">
            {# LEFT PART #}
            <div class=" col-lg-8 col-md-12 left_part_profil">
                {# about the entity #}
                <div class="container_category_profil">
                    <div class="row">
                        {% if user.entityName %}
                            <h3 class="profil_category_title">&Agrave; propos de {{ user.entityName }}</h3>
                        {% else %}
                            <h3 class="profil_category_title">&Agrave; propos ...</h3>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if user.about %}
                            <p class="about_user">
                                {{ user.about }}
                            </p>
                        {% else %}
                            <p class="alert alert-success">
                                Vous n'avez pas encore défini l'À propos de votre entreprise
                            </p>
                        {% endif %}
                    </div>
                    {% if user.presentationVideoURL is not empty %}
                        <div class="row">
                            <iframe width="560" height="450"
                                    src="{{ user.presentationVideoURL }}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    {% endif %}
                </div>
                {# reason to be #}
                <div class="container_category_profil">
                    <div class="row">
                        {% if user.entityName %}
                            <h3 class="profil_category_title">Raison d'être de {{ user.entityName }}</h3>
                        {% else %}
                            <h3 class="profil_category_title">Raison d'être</h3>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if user.reasonToBe %}
                            <p class="recruiter_reason_to_be">
                                {{ user.reasonToBe }}
                            </p>
                        {% else %}
                            <p class="alert alert-success">
                                Vous n'avez pas encore défini la raison d'être de votre entreprise
                            </p>
                        {% endif %}
                    </div>
                </div>
                {# jobOffers #}
                <div class="container_category_profil">
                    <div class="row">
                        <h3 class="profil_category_title">Vos offres d'emploi en ligne</h3>
                    </div>
                    {% if(user.jobOffers is not empty) %}
                        <div class="row">
                            <div class="container_all_job_offer col-12">
                                {% for jobOffer in user.jobOffers %}
                                    <div class="row">
                                        <div class="container_job_offer col-12">
                                            <div class="row col-12">
                                                <div class="col-10">
                                                    <h3 class="job_offer_title">{{ jobOffer.title }}</h3>
                                                </div>
                                                <div class="col-2">
                                                    <div class="contract_type">{{ jobOffer.contractType.wording }}</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4 class="localisation_job_offer">{{ jobOffer.city }} - {{ jobOffer.country.name }}</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3 pt-3">
                                                    <a class="btn required link_offer_details" href="{{ path('jobOffer_show', {"id":jobOffer.id}) }}">Voir l'offre</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            Vous n'avez pas d'offre d'emploi en ligne
                        </div>
                    {% endif %}

                </div>
            </div>

            {# RIGHT PART #}

            <div class="col-lg-4 col-md-12 right_part">
                <div class="row sense_rate_line">
                    <div class="show_candidate_sens_rate">
                        {% if user.scoring is not empty %}
                            <div class="row align-items-center">
                                <div class="container_sense_rate_infos">
                                    <div>
                                        {% if user.scoring.dominantSens is same as 'social' %}
                                            <img class="mini_img_sense_rate" src="{{ asset('img/social500.png') }}" alt="taux de sens">
                                        {% elseif user.scoring.dominantSens is same as 'economique' %}
                                            <img class="mini_img_sense_rate" src="{{ asset('img/econonomie500.png') }}" alt="taux de sens">
                                        {% elseif user.scoring.dominantSens is same as 'societal' %}
                                            <img class="mini_img_sense_rate" src="{{ asset('img/societal500.png') }}" alt="taux de sens">
                                        {% elseif user.scoring.dominantSens is same as 'environnemental' %}
                                            <img class="mini_img_sense_rate" src="{{ asset('img/environnemental500.png') }}" alt="taux de sens">
                                        {% endif %}
                                    </div>
                                    <div>
                                        <h5>Taux de sens</h5>
                                        <h5>{{ user.scoring.dominantPourcent }}% {{ user.scoring.dominantSens }}</h5>
                                    </div>
                                    <div>
                                        <img src="{{ asset('img/boostrap/flecheBas.svg') }}" alt="flèche vers le bas"
                                             id="btn_doughnut">
                                    </div>
                                </div>
                            </div>
                            <div class="doughnut col-lg-8 mx-auto pb-1 collapse" id="doughnut">
                                <canvas id="myChart"></canvas>
                            </div>
                        {% else %}
                            <p class="alert alert-success">
                                Vous n'avez pas encore calculé le taux de sens de votre entreprise !
                            </p>
                        {% endif %}
                    </div>
                </div>

                {# complementary informations #}

                {# secondary causes #}
                <div class="complementary_infos_container">
                    <div class="row">
                        <h3 class="profil_category_title_bottom">Causes secondaires : </h3>
                        {% if user.secondaryCauses is not empty %}
                            <ul>
                                {% for secondaryCause in user.secondaryCauses %}
                                    <li class="list_line">{{ secondaryCause.text }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                                <li class="list_line no_submit">Non renseigné</li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                {# engagements #}
                <div class="complementary_infos_container">
                    <div class="row">
                        <h3 class="profil_category_title_bottom">Engagements : </h3>
                        {% if user.commitments is not empty %}
                            <ul>
                                {% for commitment in user.commitments %}
                                    <li class="list_line">{{ commitment.title }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                                <li class="list_line no_submit">Non renseigné</li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                {# recognitions #}
                <div class="complementary_infos_container">
                    <div class="row">
                        <h3 class="profil_category_title_bottom">Reconnaissances : </h3>
                        {% if user.recognitions is not empty %}
                            <ul>
                                {% for recognition in user.recognitions %}
                                    <li class="list_line">{{ recognition.description }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                                <li class="list_line no_submit">Non renseigné</li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                {# carbon footprint #}
                <div class="complementary_infos_container">
                    <div class="row">
                        {% if user.carbonFootPrint %}
                            <h3 class="profil_category_title_bottom">Empreinte carbone : <span>{{ user.carbonFootPrint }} kg de CO² / an</span></h3>
                        {% else %}
                            <h3 class="profil_category_title_bottom">Empreinte carbone : <span>Non renseigné</span></h3>
                        {% endif %}
                    </div>
                </div>
                {# social network #}
                <div class="row container_social_link">
                    {% if user.socialNetwork %}
                        {% if user.socialNetwork.website %}
                            <a href="{{ user.socialNetwork.website }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.linkedin %}
                            <a href="{{ user.socialNetwork.linkedin }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.stackOverflow %}
                            <a href="{{ user.socialNetwork.stackOverflow }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_stackoverflow_mini.png') }}" alt="mon stackoverflow" title="StackOverflow" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.github %}
                            <a href="{{ user.socialNetwork.github }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_github_mini.png') }}" alt="mon github" title="Github" class="social_link_mini" /></a>
                        {% endif %}
                    {% else %}
                        <p class="alert alert-light">
                            Entreprise pas présente sur les réseaux
                        </p>
                    {% endif %}
                </div>
            </div>
            {# mini social network #}
            <div class="row mini_container_social_link">
                <div class="mini_social_link">
                    {% if user.socialNetwork %}
                        {% if user.socialNetwork.website %}
                            <a href="{{ user.socialNetwork.website }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/lieux_mini.png') }}" alt="mon facebook" title="Facebook" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.linkedin %}
                            <a href="{{ user.socialNetwork.linkedin }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/linkedin_grist-10mm.png') }}" alt="mon linkedIn" title="LinkedIn" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.stackOverflow %}
                            <a href="{{ user.socialNetwork.stackOverflow }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_stackoverflow_mini.png') }}" alt="mon stackoverflow" title="StackOverflow" class="social_link_mini" /></a>
                        {% endif %}
                        {% if user.socialNetwork.github %}
                            <a href="{{ user.socialNetwork.github }}" target="_blank" class="btn required btn_social"><img src="{{ asset('img/logo_github_mini.png') }}" alt="mon github" title="Github" class="social_link_mini" /></a>
                        {% endif %}
                    {% else %}
                        <p class="alert alert-light">
                            Candidat pas présente sur les réseaux
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if user.scoring %}
        <script>
            const btn_doughnut = document.getElementById('btn_doughnut');
            const doughnut = document.getElementById('doughnut');

            btn_doughnut.addEventListener('click', function (e) {
                e.currentTarget.classList.toggle('rotate');
                doughnut.classList.toggle('collapse');
            })


            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Social', 'Environnement', 'Economie', 'Societal'],
                    datasets: [{
                        label: '# of Votes',
                        data: [
                            {{ user.scoring.social }},
                            {{ user.scoring.environment }},
                            {{ user.scoring.economy }},
                            {{ user.scoring.societal }}
                        ],
                        backgroundColor: [
                            'rgb(101, 220, 226)',
                            'rgb(91, 187, 199)',
                            'rgb(111, 110, 214)',
                            'rgb(76, 166, 218)',
                        ],
                    }]
                },
                options: {}
            });
        </script>
    {% endif %}
{% endblock %}