{% if "ROLE_RECRUITER" in app.user.roles %}
    <div class="row container_matching_cards">
        <div class="match_card">
            <div class="first_section_card_matching">
                <div class="match_card_picture">
                    {% if user.picture is not empty %}
                        <img class="rounded-circle matching_profil_picture" src="{{ asset('images/profils/'~user.picture.pictureName) }}" alt="photo du profil">
                    {% else %}
                        <img class="rounded-circle matching_profil_picture" src="{{ asset('images/profils/avatar.jpg') }}" alt="photo du profil">
                    {% endif %}
                </div>
                <div class="match_card_description">
                    {% if user.lastname is not empty and user.firstname is not empty %}
                        <h4 class="match_card_entity_name">{{ user.lastname | upper }} {{ user.firstname|capitalize }}</h4>
                        <a class="link_candidate_name" href="{{ path('candidate_show', {'id':user.id}) }}">{{ user.lastname | upper }} {{ user.firstname|capitalize }}</a>
                    {% endif %}
                    {% if user.mainCause is not empty %}
                        <strong>Cause : </strong>{{user.mainCause.text}}
                    {% endif %}
                    <div class="match_card_description">
                        {% if user.department is not empty and user.region is not empty %}
                            {{ user.department.name }} {{ user.department.cp }} - {{ user.region.name }}
                        {% else %}
                            Ville non renseignée
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="second_section_card_matching">
                <div class="match_card_btn">
                    <a href="{{ path('candidate_show', {'id':user.id}) }}" type="button" class="btn">Voir le profil</a> {# TODO : mettre le lien vers le profil #}
                </div>
            </div>
        </div>
    </div>

{% else %}
    <div class="row container_matching_cards">
        <div class="match_card">
            <div class="first_section_card_matching">
                <div class="match_card_picture">
                    {% if user.picture is not empty %}
                        <img class="rounded-circle matching_profil_picture" src="{{ asset('images/profils/'~user.picture.pictureName) }}" alt="photo du profil">
                    {% else %}
                        <img class="rounded-circle matching_profil_picture" src="{{ asset('images/profils/avatar.jpg') }}" alt="photo du profil">
                    {% endif %}
                </div>
                <div class="match_card_description">
                    {% if user.entityName is not empty %}
                        <h4 class="match_card_entity_name">{{ user.entityName | upper }}</h4>
                        <a class="link_candidate_name" href="{{ path('show_recruiter_profil', {'id':user.id}) }}">{{ user.entityName | upper }}</a>
                    {% endif %}
                    {% if user.mainCause is not empty %}
                        <strong>Cause : </strong>{{user.mainCause.text}}
                    {% endif %}
                    <div class="match_card_description">
                        {% if user.department is not empty and user.city %}
                            {{ user.department.name }} {{ user.department.cp }} - {{ user.city }}
                        {% else %}
                            Ville non renseignée
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="second_section_card_matching">
                <div class="match_card_btn">
                    <a href="{{ path('show_recruiter_profil', {'id':user.id}) }}" type="button" class="btn">Voir le profil</a> {# TODO : mettre le lien vers le profil #}
                </div>
            </div>
        </div>
    </div>
{% endif %}