{# todo : gérer les données #}
{% if "ROLE_RECRUITER" in app.user.roles %}
<div class="row match_card">
    <div class="col-lg-2 illus_matching_rate">
        <div class="rounded-circle match_card_sensrate">
            <p>{{ user.matching_rate }}%</p>
        </div>
    </div>
    <div class="match_card_picture col-lg-2">
        <div>
           <img class="rounded-circle" src="{{ asset('images/profils/avatar.jpg') }}" alt="photo du profil">
        </div>
    </div>
    <div class="match_card_description col-lg-5">
        <div class="align-self-center">
            <p>{{ user.last_name | upper }} {{ user.first_name | capitalize }} </p>
        </div>
        <div>
            <p>{{user.business_profile}}</p>
        </div>
        <div>
            <p>Ville non renseignée</p>
        </div>
    </div>
    <div class="col-lg-3 match_card_btn">
        <a href="" type="button" class="btn">Voir le profil</a>
    </div>
</div>

{% else %}
<div class="row match_card">
    <div class="col-lg-2 illus_matching_rate">
        <div class="rounded-circle match_card_sensrate">
            <p>{{ user.matching_rate }}%</p>
        </div>
    </div>
    <div class="match_card_picture col-lg-2">
        <div>
           <img class="rounded-circle" src="{{ asset('images/profils/avatar.jpg') }}" alt="photo du profil">
        </div>
    </div>
    <div class="match_card_description col-lg-5">
        <div class="align-self-center">
            <p>{{ user.entity_name | upper }} </p>
        </div>
        <div>
            <p>{{user.cause}}</p>
        </div>
    </div>
    <div class="col-lg-3 match_card_btn">
        <a href="#" type="button" class="btn">Voir le profil</a>
    </div>
</div>
{% endif %}