
<nav class="nav flex-column">

    {% if "ROLE_CANDIDATE" in app.user.roles %}

        {% if app.user.picture %}
            <img id="photo_profile" src="{{ asset('images/profils/' ~ app.user.picture.pictureName )}}"
                 alt="photo du profil">
        {% else %}
            <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                 alt="photo du profil">
        {% endif %}
        <h2 class="entityName m-3">{{ app.user.firstname }} {{ app.user.lastname }}</h2>

        <div class="error">
            {{ form_errors(formPicture) }}
            {{ form_start(formPicture, {'attr': {'id':'updateavatarform', 'class':'d-none'}}) }}
            {{ form_widget(formPicture) }}
            {{ form_end(formPicture) }}
            {% if app.user.picture %}
                <label for="dash_board_nav_pictureFile" class="btn required buttonDashBoardNav">Changez votre photo</label>
            {% else %}
                 <label for="dash_board_nav_pictureFile" class="btn required buttonDashBoardNav">Importez votre photo</label>
            {% endif %}
        </div>
        <br>

        <ul class="dashBoardList d-flex flex-column align-items-start">
            <li>
                <a class="nav-link" href="{{ path('main_dash_board') }}">Tableau de bord</a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('dashboard_details') }}">Qui êtes-vous ?</a>
            </li>

            {% if app.user.scoring %}
                <a class="nav-link" href="{{ path('api_matching') }}">Votre taux de sens</a>
            {% else %}
                <a class="nav-link" href="{{ path('dash_board_entitySenseRate') }}">Votre taux de sens</a>
            {% endif %}

            <li>
                <a class="nav-link" href="">Vos candidatures</a>
            </li>
            <li>
                <a class="nav-link" href="">Vos offres favorites</a>
            </li>
            <li>
                <a class="nav-link" href="">Messagerie</a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        </ul>
        <div class="error">
            {{ form_errors(formCv) }}
            {{ form_start(formCv, {'attr': {'id':'updatecvform', 'class':'d-none'}}) }}
            {{ form_widget(formCv) }}
            {{ form_end(formCv) }}
            {% if app.user.cv %}
                <label for="create_cv_cvFile" class="btn required buttonDashBoardNav">Changez votre cv</label>
            {% else %}
                <label for="create_cv_cvFile" class="btn required buttonDashBoardNav">Importer votre cv</label>
           {% endif %}
        </div>

        <br>
        {% if app.user.private %}
            <a class="btn" type="button" href="{{ path('dash_board_account_status') }}">Enlever la cape d'invisibilité</a>
        {% else %}
            <a class="btn" type="button" href="{{ path('dash_board_account_status') }}">Mettre la cape d'invisibilité</a>
        {% endif %}
        <br>
        <h5 class="text-dash-board">Vous avez rejoint la bande<br>de ceux qui veulent rendre<br>le monde meilleur
            le<br>{{ app.user.registrationDate | date('d/m/Y') }}</h5>

    {% elseif "ROLE_RECRUITER" in app.user.roles %}

        {% if app.user.picture %}
            <img id="photo_profile" src="{{ asset('images/profils/' ~ app.user.picture.pictureName )}}"
                 alt="photo du profil">
        {% else %}
            <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                 alt="photo du profil">
        {% endif %}
        <h2 class="entityName m-3">{{ app.user.entityName }}</h2>

        <div class="error">{{ form_errors(formPicture) }}
            {{ form_start(formPicture, {'attr': {'id':'updateavatarform', 'class':'d-none'}}) }}
            {{ form_widget(formPicture) }}
            {{ form_end(formPicture) }}
            {% if app.user.picture %}
                <label for="dash_board_nav_pictureFile" class="btn required buttonDashBoardNav">Changez votre logo</label>
            {% else %}
                <label for="dash_board_nav_pictureFile" class="btn required buttonDashBoardNav">Importez votre logo</label>
            {% endif %}
        </div>
        <br>
        <ul class="dashBoardList d-flex flex-column align-items-start">
            <li>
                <a class="nav-link" href="{{ path('main_dash_board') }}">Tableau de bord</a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('dashboard_details') }}">Vos informations</a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('dash_board_my_offers') }}">Vos offres</a>
            </li>

            {% if app.user.scoring %}
                <a class="nav-link" href="{{ path('api_matching') }}">Votre taux de sens</a>
            {% else %}
                <a class="nav-link" href="{{ path('dash_board_entitySenseRate') }}">Votre taux de sens</a>
            {% endif %}
            <li>
                <a class="nav-link" href="#">Candidat(e)s favori(te)s</a>
            </li>
            <li>
                <a class="nav-link" href="#">Candidatures reçus</a>
            </li>
            <li>
                <a class="nav-link" href="#">Messagerie</a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        </ul>
        <br>
        {% if app.user.private %}
            <a class="btn" type="button" href="{{ path('dash_board_account_status') }}">Mettre le compte en ligne</a>
        {% else %}
            <a class="btn" type="button" href="{{ path('dash_board_account_status') }}">Mettre le compte hors ligne</a>
        {% endif %}
        <br>
        <h5 class="text-dash-board">Nous recrutons ensemble<br>depuis
            le {{ app.user.registrationDate | date('d/m/Y') }} </h5>
    {% endif %}
</nav>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>

    <script>

        const elementFormPicture = document.getElementById('updateavatarform');
        const elementInputPicture = document.getElementById('dash_board_nav_pictureFile');
        const elementPhotoProfile = document.getElementById('photo_profile');

        elementInputPicture.addEventListener("change", function () {
            console.log("onchange");
            let formData = new FormData(elementFormPicture);
            console.log(formData);
            fetch('{{ path('register_picture') }}', {method: 'POST', body: formData})
                .then(response => response.json())
                .then(response => {
                    elementPhotoProfile.src = baseURL + '/images/profils/' + response.pictureName;
                }).catch(e => {
                alert('erreur de fichier');
            });
        });
        elementFormPicture.addEventListener("submit", function (e) {
            e.preventDefault();
            console.log("submit");
        });

        const elementFormCv = document.getElementById('updatecvform');
        const elementInputCv = document.getElementById('create_cv_cvFile');

        elementInputCv.addEventListener("change", function () {
            console.log("onchange");
            let formData = new FormData(elementFormCv);
            console.log(elementInputCv)
            fetch('{{ path('register_cv') }}',
                {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(response => {
                    console.log(response);
                    alert(response.succes)
                })
                .catch(e => {
                    alert(e);
                });
        });

        elementFormCv.addEventListener("submit", function (e) {
            e.preventDefault();
            console.log("submit");
        });
    </script>
{% endblock %}

