<nav class="nav flex-column">
    {% if "ROLE_CANDIDATE" in app.user.roles %}
        {% if app.user.picture %}
            <img id="photo_profile" src="{{ asset('images/profils/' ~ app.user.picture.pictureName )}}"
                 alt="photo du profil"
                 title="{{ app.user.firstname }} {{ app.user.lastname }}">
        {% else %}
            <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                 alt="photo du profil"
                title="Pensez à importer une photo de profil !">
        {% endif %}
        <h2 class="entityName m-3">{{ app.user.firstname }} {{ app.user.lastname | upper }}</h2>
        <div class="error">
            {{ form_errors(formPicture) }}
            {{ form_start(formPicture, {'attr': {'id':'updateavatarform', 'class':'d-none'}}) }}
            {{ form_widget(formPicture) }}
            {{ form_end(formPicture) }}
            {% if app.user.picture %}
                <label for="dash_board_nav_pictureFile" class="btn required buttonDashBoardNav">Changez votre photo</label>
            {% else %}
                 <label for="dash_board_nav_pictureFile" class="btn required buttonDashBoardNav">Importez votre photo</label>
            {% endif %}
        </div>
        <div class="mt-2 error">
            {{ form_errors(formCv) }}
            {{ form_start(formCv, {'attr': {'id':'updatecvform', 'class':'d-none'}}) }}
            {{ form_widget(formCv) }}
            {{ form_end(formCv) }}
            {% if app.user.cv %}
                <label for="create_cv_cvFile" class="btn required buttonDashBoardNav">Changez votre cv</label>
            {% else %}
                <label for="create_cv_cvFile" class="btn required buttonDashBoardNav">Importer votre cv</label>
            {% endif %}
        </div>
        <br>
        <ul class="dashBoardList d-flex flex-column">
            <li>
                <a title="user profile" class="nav-link" href="{{ path('main_dash_board') }}">Tableau de bord</a>
            </li>
            <li>
                <a title="user profile modification" class="nav-link" href="{{ path('dashboard_details') }}">Qui êtes-vous ?</a>
            </li>
            {% if app.user.scoring %}
                <a title="user sense rate" class="nav-link" href="{{ path('api_matching') }}">Votre taux de sens</a>
            {% else %}
                <a title="user sense rate" class="nav-link" href="{{ path('dash_board_entitySenseRate') }}">Votre taux de sens</a>
            {% endif %}
            <li>
                <a title="candidate applies list" class="nav-link" href="{{ path('candidate_applies') }}">Vos candidatures</a>
            </li>
            <li>
                <a title="favorite offers" class="nav-link" href="{{ path('favorites') }}">Vos offres favorites</a>
            </li>
            <li>
                <a title="messaging" class="nav-link" href="{{ path('messaging') }}">Messagerie {% if nonlu != 0 %}({{ nonlu }}){% endif %}</a>
            </li>
            {% if "ROLE_ADMIN" in app.user.roles %}
                <li>
                    <a title="admin back office" class="nav-link link_back_office" href="{{ path('back_office') }}">Back Office</a>
                </li>
            {% endif %}
            <li>
                <a title="logout" class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        </ul>
        <br>
        {% if app.user.private %}
            <a title="show profile" class="btn" type="button" href="{{ path('dash_board_account_status') }}">Enlever la cape d'invisibilité</a>
        {% else %}
            <a title="hide profile" class="btn capeBtn" type="button" href="{{ path('dash_board_account_status') }}">Mettre la cape d'invisibilité</a>
        {% endif %}
        <br>
        <h5 class="text-dash-board">Vous avez rejoint la bande<br>de ceux qui veulent rendre<br>le monde meilleur
            le<br>{{ app.user.registrationDate | date('d/m/Y') }}</h5>

    {% elseif "ROLE_RECRUITER" in app.user.roles %}

        {% if app.user.picture %}
            <img id="photo_profile" src="{{ asset('images/profils/' ~ app.user.picture.pictureName )}}"
                 alt="photo du profil"
                title="{{ app.user.entityName }}">
        {% else %}
            <img id="photo_profile" src="{{ asset('images/profils/avatar.jpg') }}"
                 alt="photo du profil"
                title="Pensez à importer une photo de profil !">
        {% endif %}
        <h2 class="entityName m-3">{{ app.user.entityName }}</h2>

        <div class="error">{{ form_errors(formPicture) }}
            {{ form_start(formPicture, {'attr': {'id':'updateavatarform', 'class':'d-none'}}) }}
            {{ form_widget(formPicture) }}
            {{ form_end(formPicture) }}
            {% if app.user.picture %}
                <label for="dash_board_nav_pictureFile" class="btn required buttonDashBoardNav">Changez votre logo</label>
            {% else %}
                <label for="dash_board_nav_pictureFile" class="btn required buttonDashBoardNav">Importez votre logo</label>
            {% endif %}
        </div>
        <br>
        <ul class="dashBoardList d-flex flex-column">
            <li>
                <a title="dashboard" class="nav-link" href="{{ path('main_dash_board') }}">Tableau de bord</a>
            </li>
            <li>
                <a title="user profile modification" class="nav-link" href="{{ path('dashboard_details') }}">Vos informations</a>
            </li>
            <li>
                <a title="recruiter offers" class="nav-link" href="{{ path('dash_board_my_offers') }}">Vos offres</a>
            </li>
            <li>
                <a title="create job offer" class="nav-link" href="{{ path('dash_board_job_offer_create') }}">Créer une offre</a>
            </li>

            {% if app.user.scoring is not empty %}
                <a title="user sense rate" class="nav-link" href="{{ path('api_matching') }}">Votre taux de sens</a>
            {% else %}
                <a title="sense rate" class="nav-link" href="{{ path('dash_board_entitySenseRate') }}">Votre taux de sens</a>
            {% endif %}
            <li>
                <a title="recruiter favorite candidates" class="nav-link" href="{{ path('favorites') }}">Candidat.e.s favori.te.s</a>
            </li>
            <li>
                <a title="recruiter applies" class="nav-link" href="{{ path('apply-list') }}">Candidatures reçues</a>
            </li>
            <li>
                <a title="messaging" class="nav-link" href="{{ path('messaging') }}">Messagerie {% if nonlu != 0 %}({{ nonlu }}){% endif %}</a>
            </li>
            <li>
                <a title="logout" class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        </ul>
        <br>
        {% if app.user.private %}
            <a title="show profile" class="btn" type="button" href="{{ path('dash_board_account_status') }}">Mettre le compte en ligne</a>
        {% else %}
            <a title="hide profile" class="btn capeBtn" type="button" href="{{ path('dash_board_account_status') }}">Mettre le compte hors ligne</a>
        {% endif %}
        <br>
        <h5 class="text-dash-board">Nous recrutons ensemble<br>depuis
            le {{ app.user.registrationDate | date('d/m/Y') }} </h5>
    {% endif %}
    {# modal boxes #}
    <div class="loaded_modal general_modal">
        <div class="loader_box">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
    <div class="picture_loaded_modal">
        <div class="just_simple_info_modal">
            <h4>Votre photo est uploadée &#128077</h4>
        </div>
    </div>
    <div class="general_modal bad_file_modal">
        <div class="just_simple_info_modal">
            <h4>Impossible d'uploader votre photo &#128532</h4>
        </div>
    </div>
    <div class="general_modal cv_loaded_modal">
        <div class="just_simple_info_modal">
            <h4>Votre CV est uploadée &#128077</h4>
        </div>
    </div>
    <div class="general_modal bad_cv_modal">
        <div class="just_simple_info_modal">
            <h4>Impossible d'uploader votre CV &#128532</h4>
        </div>
    </div>
</nav>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>

    <script>
        const elementFormPicture = document.getElementById('updateavatarform');
        const elementInputPicture = document.getElementById('dash_board_nav_pictureFile');
        const elementPhotoProfile = document.getElementById('photo_profile');
        const loaderModal = document.querySelector(".loaded_modal");
        const pictureLoadedModal = document.querySelector(".picture_loaded_modal");
        const cvLoadedModal = document.querySelector(".cv_loaded_modal");
        const badFileModal = document.querySelector(".bad_file_modal");
        const badCVModal = document.querySelector(".bad_cv_modal");

        elementInputPicture.addEventListener("change", function () {
            let formData = new FormData(elementFormPicture);
            fetch('{{ path('register_picture') }}', {method: 'POST', body: formData})
                .then(loaderModal.setAttribute('style', 'display:flex'))
                .then(response => response.json())
                .then(response => {
                    elementPhotoProfile.src = baseURL + '/images/profils/' + response.pictureName;
                    loaderModal.setAttribute('style', 'display:none');
                    pictureLoadedModal.setAttribute('style', 'display:flex;');
                    setTimeout(function (){
                        pictureLoadedModal.setAttribute('style', 'display:none;');
                    }, 2000);
                })
                .catch(e => {
                    badFileModal.setAttribute('style', 'display:flex;');
                    setTimeout(function (){
                        badFileModal.setAttribute('style', 'display:none;');
                    }, 2000);
            });
        });
        elementFormPicture.addEventListener("submit", function (e) {
            e.preventDefault();
        });

        const elementFormCv = document.getElementById('updatecvform');
        const elementInputCv = document.getElementById('create_cv_cvFile');

        elementInputCv.addEventListener("change", function () {
            let formData = new FormData(elementFormCv);
            console.log(elementInputCv)
            fetch('{{ path('register_cv') }}',
                {
                    method: 'POST',
                    body: formData
                })
                .then(loaderModal.setAttribute('style', 'display:flex'))
                .then(response => response.json())
                .then(response => {
                    loaderModal.setAttribute('style', 'display:none');
                    cvLoadedModal.setAttribute('style', 'display:flex;');
                    setTimeout(function (){
                        cvLoadedModal.setAttribute('style', 'display:none');
                    }, 2000);
                })
                .catch(e => {
                    loaderModal.setAttribute('style', 'display:none');
                    badCVModal.setAttribute('style', 'display:flex');
                    setTimeout(function (){
                        badCVModal.setAttribute('style', 'display:none;');
                    }, 2000);
                    console.log(e);
                });
        });

        elementFormCv.addEventListener("submit", function (e) {
            e.preventDefault();
        });
    </script>
{% endblock %}

