<nav>
    <div class="container_principal_nav">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if "ROLE_RECRUITER" in app.user.roles %}
                <div>
                    <a aria-current="page" href="{{ path('main_candidate_list') }}">CONSULTER LES CV</a>
                </div>
            {% elseif "ROLE_CANDIDATE" in app.user.roles %}
                <div>
                    <a href="{{ path('main_job_offers_list') }}">CONSULTER LES OFFRES</a>
                </div>
            {% endif %}
        {% else %}
            <div>
                <a href="{{ path('app_register') }}">CONSULTER LES CV</a>
            </div>
        {% endif %}
        <div>
            <a href="{{ path('main_about_sowrs') }}">QUI SOMMES-NOUS ?</a>
        </div>
        <div>
            <a href="https://fr.tipeee.com/sowrs" target="_blank">SOUTENEZ SOWRS</a>
        </div>
        <div>
            <a href="{{ path('home_webzine') }}">WEBZINE</a>
        </div>
        <div>
            <a href="{{ path('main_contact_us') }}" aria-current="page">CONTACTEZ-NOUS</a>
        </div>
    </div>
    <div class="btn_principal_nav_mini">
        <i class="fas fa-chevron-circle-down"></i>
    </div>
    <div class="container_principal_nav_mini">
        <div class="principal_nav_mini">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if "ROLE_RECRUITER" in app.user.roles %}
                    <div>
                        <a aria-current="page" href="{{ path('main_candidate_list') }}">CONSULTER LES CV</a>
                    </div>
                {% elseif "ROLE_CANDIDATE" in app.user.roles %}
                    <div>
                        <a href="{{ path('main_job_offers_list') }}">CONSULTER LES OFFRES</a>
                    </div>
                {% endif %}
            {% else %}
                <div>
                    <a href="{{ path('app_register') }}">CONSULTER LES CV</a>
                </div>
                <div>
                    <a href="{{ path('main_job_offers_list') }}">CONSULTER LES OFFRES</a>
                </div>
            {% endif %}
            <div>
                <a href="{{ path('main_about_sowrs') }}">QUI SOMMES-NOUS ?</a>
            </div>
            <div>
                <a href="https://fr.tipeee.com/sowrs" target="_blank">SOUTENEZ SOWRS</a>
            </div>
            <div>
                <a href="{{ path('home_webzine') }}">WEBZINE</a>
            </div>
            <div>
                <a href="{{ path('main_contact_us') }}" aria-current="page">CONTACTEZ-NOUS</a>
            </div>
        </div>
    </div>
</nav>
